.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"],
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"],
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"],
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"],
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"],
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"],
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"],
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"],
.containerDefault__3187b a[data-list-item-id="channels___1108395567354232992"],
.containerDefault__3187b a[data-list-item-id="channels___1104552220214710282"],
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"],
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"],
.containerDefault__3187b a[data-list-item-id="channels___1104552443221655603"],
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"],
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"],
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"],
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"],
.containerDefault__3187b a[data-list-item-id="channels___1104552471831007304"],
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"],
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"],
.containerDefault__3187b a[data-list-item-id="channels___1159904915435552849"],
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"] {
    padding: 9px 5px;
}


.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1108395567354232992"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552220214710282"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552443221655603"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552471831007304"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1159904915435552849"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin: auto 5px;
    padding: 3px;
    font-size: 16px;
    border-radius: 80px;
}


.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"]::before {
    content: "👮‍♂️";
    background-color: #0095dd40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"]::before {
    content: "⬆️";
    background-color: #00a6ed40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"]::before {
    content: "👤";
    background-color: #53356640;
}
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"]::before {
    content: "👋";
    background-color: #e5991640;
}
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"]::before {
    content: "📜";
    background-color: #ffdea740;
}
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"]::before {
    content: "📣";
    background-color: #f9c23c40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"]::before {
    content: "💬";
    background-color: #ffffff40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"]::before {
    content: "🌐";
    background-color: #83cbff40;
}
.containerDefault__3187b a[data-list-item-id="channels___1108395567354232992"]::before {
    content: "🔜";
    background-color: #63599440;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"]::before {
    content: "📰";
    background-color: #dcd6e340;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"]::before {
    content: "✨";
    background-color: #f9c23c40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104552443221655603"]::before {
    content: "📑";
    background-color: #afa6b940;
}
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"]::before {
    content: "🆘";
    background-color: #f92f6040;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"]::before {
    content: "📰";
    background-color: #dcd6e340;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"]::before {
    content: "✨";
    background-color: #f9c23c40;
}
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"]::before {
    content: "💫";
    background-color: #ffb02e40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104552471831007304"]::before {
    content: "📑";
    background-color: #afa6b940;
}
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"]::before {
    content: "👤";
    background-color: #6b438b40;
}
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"]::before {
    content: "💾";
    background-color: #63599440;
}

.containerDefault__3187b a[data-list-item-id="channels___1159904915435552849"]::before {
    content: "🗂️";
    background-color: #fcd53f40;
}

.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"]::before {
    content: "🆘";
    background-color: #f92f6040;
}


.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1108395567354232992"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552220214710282"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552443221655603"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552471831007304"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1159904915435552849"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"] .iconContainer__3f9b0 {
    margin-left: 37px;
}