.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034631"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104875221472792668"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104561510715494463"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104524821909479484"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034630"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1112389436815187979"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104516051733065901"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104526690719387679"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1108395567354232992"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552220214710282"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523836302573688"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523441157181511"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552443221655603"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552018414161981"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523856846270546"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523460052520980"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552471831007304"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864557596479559"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864502554624042"],
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552173695680583"] {
    padding: 9px 5px;
}


.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034631"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104875221472792668"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104561510715494463"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104524821909479484"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034630"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1112389436815187979"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104516051733065901"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104526690719387679"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1108395567354232992"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552220214710282"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523836302573688"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523441157181511"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552443221655603"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552018414161981"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523856846270546"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523460052520980"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552471831007304"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864557596479559"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864502554624042"]::before,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552173695680583"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin: auto 5px;
    padding: 3px;
    font-size: 18px;
    border-radius: 80px;
}


.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034631"]::before {
    content: "👮‍♂️";
    background-color: #0095dd40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104875221472792668"]::before {
    content: "⬆️";
    background-color: #00a6ed40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104561510715494463"]::before {
    content: "👤";
    background-color: #53356640;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104524821909479484"]::before {
    content: "👋";
    background-color: #e5991640;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034630"]::before {
    content: "📜";
    background-color: #ffdea740;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1112389436815187979"]::before {
    content: "📣";
    background-color: #f9c23c40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104516051733065901"]::before {
    content: "💬";
    background-color: #ffffff40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104526690719387679"]::before {
    content: "🌐";
    background-color: #83cbff40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1108395567354232992"]::before {
    content: "🔜";
    background-color: #63599440;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523836302573688"]::before {
    content: "📰";
    background-color: #dcd6e340;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523441157181511"]::before {
    content: "✨";
    background-color: #f9c23c40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552443221655603"]::before {
    content: "📑";
    background-color: #afa6b940;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552018414161981"]::before {
    content: "🆘";
    background-color: #f92f6040;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523856846270546"]::before {
    content: "📰";
    background-color: #dcd6e340;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523460052520980"]::before {
    content: "✨";
    background-color: #f9c23c40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552471831007304"]::before {
    content: "📑";
    background-color: #afa6b940;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864557596479559"]::before {
    content: "👤";
    background-color: #6b438b40;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864502554624042"]::before {
    content: "💾";
    background-color: #63599440;
}
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552173695680583"]::before {
    content: "🆘";
    background-color: #f92f6040;
}


.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034631"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104875221472792668"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104561510715494463"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104524821909479484"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104518841092034630"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1112389436815187979"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104516051733065901"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104526690719387679"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1108395567354232992"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552220214710282"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523836302573688"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523441157181511"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552443221655603"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552018414161981"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523856846270546"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104523460052520980"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552471831007304"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864557596479559"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1126864502554624042"] .iconContainer-21RCa3,
.containerDefault-YUSmu3 a[data-list-item-id="channels___1104552173695680583"] .iconContainer-21RCa3 {
    margin-left: 33px;
}