.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"],
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"],
.containerDefault__3187b a[data-list-item-id="channels___1183490429245730938"],
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"],
.containerDefault__3187b a[data-list-item-id="channels___1209815012403716166"],
.containerDefault__3187b a[data-list-item-id="channels___1209815101134082120"],
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"],
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"],
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"],
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"],
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"],
.containerDefault__3187b a[data-list-item-id="channels___1191846540218736650"],
.containerDefault__3187b a[data-list-item-id="channels___1192344004520595577"],
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"],
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"],
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"],
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"],
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"],
.containerDefault__3187b a[data-list-item-id="channels___1190661950800142386"],
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"],
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"],
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"],
.containerDefault__3187b a[data-list-item-id="channels___1194832530810089472"],
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"] {
    padding: 9px 5px;
}


.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1183490429245730938"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1209815012403716166"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1209815101134082120"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1191846540218736650"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1192344004520595577"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1190661950800142386"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1194832530810089472"]::before,
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin: auto 5px;
    padding: 3px;
    font-size: 16px;
    border-radius: 80px;
}


.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"]::before {
    content: "👮‍♂️";
    background-color: #00aff040;
}
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"]::before {
    content: "⬆️";
    background-color: #00aff040;
}
.containerDefault__3187b a[data-list-item-id="channels___1183490429245730938"]::before {
    content: "🗂";
    background-color: #ffce2540;
}
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"]::before {
    content: "👤";
    background-color: #6b478d40;
}
.containerDefault__3187b a[data-list-item-id="channels___1209815012403716166"]::before {
    content: "🗯️";
    background-color: #5865f240;
}
.containerDefault__3187b a[data-list-item-id="channels___1209815101134082120"]::before {
    content: "🎮";
    background-color: #01a9ea40;
}

.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"]::before {
    content: "👋";
    background-color: #ffcf2940;
}
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"]::before {
    content: "📜";
    background-color: #ffdaa340;
}
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"]::before {
    content: "📣";
    background-color: #ffba2540;
}
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"]::before {
    content: "💬";
    background-color: #ffffff40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"]::before {
    content: "🌐";
    background-color: #61d1ff40;
}
.containerDefault__3187b a[data-list-item-id="channels___1191846540218736650"]::before {
    content: "🤖";
    background-color: #cdc5d740;
}
.containerDefault__3187b a[data-list-item-id="channels___1192344004520595577"]::before {
    content: "🐙";
    background-color: #ff755140;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"]::before {
    content: "📰";
    background-color: #f3eef840;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"]::before {
    content: "✨";
    background-color: #ffba2540;
}
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"]::before {
    content: "🗿";
    background-color: #d3d3d340;
}
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"]::before {
    content: "👤";
    background-color: #6b478d40;
}
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"]::before {
    content: "📟";
    background-color: #00d26440;
}
.containerDefault__3187b a[data-list-item-id="channels___1190661950800142386"]::before {
    content: "💾";
    background-color: #5e5d9640;
}
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"]::before {
    content: "🆘";
    background-color: #ff005e40;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"]::before {
    content: "📰";
    background-color: #f3eef840;
}
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"]::before {
    content: "✨";
    background-color: #ffba2540;
}
.containerDefault__3187b a[data-list-item-id="channels___1194832530810089472"]::before {
    content: "🗿";
    background-color: #d3d3d340;
}
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"]::before {
    content: "🆘";
    background-color: #ff005e40;
}


.containerDefault__3187b a[data-list-item-id="channels___1104518841092034631"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104875221472792668"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1183490429245730938"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104561510715494463"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1209815012403716166"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1209815101134082120"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104524821909479484"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104518841092034630"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1112389436815187979"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104516051733065901"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104526690719387679"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1191846540218736650"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1192344004520595577"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523856846270546"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523460052520980"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1148015790264692736"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1126864557596479559"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1126864502554624042"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1190661950800142386"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552173695680583"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523836302573688"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104523441157181511"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1194832530810089472"] .iconContainer__3f9b0,
.containerDefault__3187b a[data-list-item-id="channels___1104552018414161981"] .iconContainer__3f9b0 {
    margin-left: 37px;
}