.containerDefault_ae2ea4 a[data-list-item-id="channels___928787683671687269"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___942140331892285581"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___814985548028182609"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759498922116251658"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___928781005807030303"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759498956815859782"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490590257446986"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___1163568103955894332"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___760115341375438858"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759492413470539776"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___928782640696401950"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___1109877268592988252"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___772493538234597387"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___929438701271015464"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490330809860126"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490360086626392"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759489650015338567"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___940816236101652520"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490786248228875"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___760115433617227787"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759491102218125322"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___1040723150150840332"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490868423688222"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759491017199583243"],
.containerDefault_ae2ea4 a[data-list-item-id="channels___759491043317252166"] {
    padding: 9px 5px;
}


.containerDefault_ae2ea4 a[data-list-item-id="channels___928787683671687269"]::before {      /* moderator-chat */
    content: "👮‍♂️";
    background-color: #00aff040;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___942140331892285581"]::before {      /* mod-spam */
    content: "📨";
    background-color: #00a6ed40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___814985548028182609"]::before {      /* rules */
    content: "📜";
    background-color: #ffdea740;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759498922116251658"]::before {      /* announcements */
    content: "📣";
    background-color: #f9c23c40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___928781005807030303"]::before {      /* introductions */
    content: "🦺";
    background-color: #ff672340;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759498956815859782"]::before {      /* cool-links */
    content: "🔗";
    background-color: #bebebe40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490590257446986"]::before {      /* mod-logs */
    content: "📁";
    background-color: #fcd53f40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___1163568103955894332"]::before {     /* fediverse-posts */
    content: "📮";
    background-color: #f92f6040;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___760115341375438858"]::before {      /* vip-chatter */
    content: "💎";
    background-color: #1c5cd740;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759492413470539776"]::before {      /* offtopic */
    content: "👮‍♂️";
    background-color: #00aff040;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___928782640696401950"]::before {      /* games */
    content: "🎮";
    background-color: #53356640;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___1109877268592988252"]::before {     /* free-games */
    content: "🎁";
    background-color: #ca0b4a40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___772493538234597387"]::before {      /* bot-spam */
    content: "🤖";
    background-color: #cdc4d640;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___929438701271015464"]::before {      /* photography */
    content: "📸";
    background-color: #63599440;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490330809860126"]::before {      /* collections */
    content: "🧺";
    background-color: #f3ad6140;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490360086626392"]::before {      /* anime-manga */
    content: "🗻";
    background-color: #6b438b40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759489650015338567"]::before {      /* content-feed */
    content: "📰";
    background-color: #998ea440;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___940816236101652520"]::before {      /* streams */
    content: "🔴";
    background-color: #f8312f40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490786248228875"]::before {      /* voice-chat */
    content: "🗯️";
    background-color: #ffffff40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___760115433617227787"]::before {      /* VIP VC */
    content: "💎";
    background-color: #1c5cd740;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759491102218125322"]::before {      /* General VC */
    content: "🎙️";
    background-color: #b4acbc40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___1040723150150840332"]::before {     /* Private */
    content: "🔐";
    background-color: #f9c23c40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759490868423688222"]::before {      /* Gaming Den */
    content: "🕹️";
    background-color: #f8312f40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759491017199583243"]::before {      /* Music Lounge */
    content: "📻";
    background-color: #83cbff40;
}
.containerDefault_ae2ea4 a[data-list-item-id="channels___759491043317252166"]::before {      /* AFK */
    content: "💀";
    background-color: #ffffff40;
}


.containerDefault_ae2ea4 a[data-list-item-id^="channels___"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin: auto 5px;
    padding: 3px;
    font-size: 16px;
    border-radius: 80px;
}


.containerDefault_ae2ea4 :is(a[data-list-item-id="channels___928787683671687269"], 
                             a[data-list-item-id="channels___942140331892285581"], 
                             a[data-list-item-id="channels___814985548028182609"], 
                             a[data-list-item-id="channels___759498922116251658"], 
                             a[data-list-item-id="channels___928781005807030303"], 
                             a[data-list-item-id="channels___759498956815859782"], 
                             a[data-list-item-id="channels___759490590257446986"], 
                             a[data-list-item-id="channels___1163568103955894332"],
                             a[data-list-item-id="channels___760115341375438858"], 
                             a[data-list-item-id="channels___759492413470539776"], 
                             a[data-list-item-id="channels___928782640696401950"], 
                             a[data-list-item-id="channels___1109877268592988252"],
                             a[data-list-item-id="channels___772493538234597387"], 
                             a[data-list-item-id="channels___929438701271015464"], 
                             a[data-list-item-id="channels___759490330809860126"], 
                             a[data-list-item-id="channels___759490360086626392"], 
                             a[data-list-item-id="channels___759489650015338567"], 
                             a[data-list-item-id="channels___940816236101652520"], 
                             a[data-list-item-id="channels___759490786248228875"], 
                             a[data-list-item-id="channels___760115433617227787"], 
                             a[data-list-item-id="channels___759491102218125322"], 
                             a[data-list-item-id="channels___1040723150150840332"],
                             a[data-list-item-id="channels___759490868423688222"], 
                             a[data-list-item-id="channels___759491017199583243"], 
                             a[data-list-item-id="channels___759491043317252166"] ) :is(.iconContainer__6a580, .linkBottom__942a1) {
    margin-left: 37px;
}