.card-container {
    flex-direction: column;
}


.counter {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 16px;
    border: 2px solid #2b2b2b;
    border-radius: 26px;
    background-color: #111111;
}

.count {
    text-align: end;
    margin-bottom: 16px;
    padding: 10px 16px;
    font-size: 24px;
    font-weight: 800;
    border: 2px solid #2b2b2b;
    border-radius: 32px;
    color: #666CFF;
    background-color: #181818;
}

.card-container .grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 0;
}

.count-button {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border: 2px solid #2b2b2b;
    border-radius: 40px;
    background-color: #1e1e1e;
    transition: 180ms;
}
.count-button:hover {
    cursor: pointer;
    border-radius: 26px;
    background-color: #2b2b2b;
}


@media (max-width: 475px) {
    .card-container .grid {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }

    .count-button:nth-child(1) {
        order: 3;
    }
    .count-button:nth-child(2) {
        order: 2;
    }
    .count-button:nth-child(3) {
        order: 1;
    }
}