/* Gradient Username Request */
html:has(.modeSelected__473f1 [data-list-item-id="channels___1126874696097484821"]) .form_d8a4a1 .channelTextArea_c2094b .scrollableContainer_ff917f {
    display: flex;
    flex-direction: column;
}

html:has(.modeSelected__473f1 [data-list-item-id="channels___1126874696097484821"]) .form_d8a4a1 .channelTextArea_c2094b .scrollableContainer_ff917f::before {
    order: -2;
    display: flex;
    padding: 10px 16px 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    white-space: pre-wrap;
    content: "Request Gradient Username:";
    border-radius: 8px 8px 0 0;
    color: var(--header-primary);
    background: var(--color-2);
}
html:has(.modeSelected__473f1 [data-list-item-id="channels___1126874696097484821"]) .form_d8a4a1 .channelTextArea_c2094b .scrollableContainer_ff917f::after {
    order: -1;
    display: flex;
    padding: 0 16px 8px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    content: "• 1. Color on Left side of the Name \a • 2. Color on Right Side \a • Please wait at least 24 hours for requests to be fulfilled. Requests will not always be taken in instantly.";
    border-radius: 0;
    color: var(--header-secondary);
    background: var(--color-2);
}

html:has(.modeSelected__473f1 [data-list-item-id="channels___1126874696097484821"], .scrollableContainer_ff917f::after) .form_d8a4a1 .inner__9fd0b {
    border-radius: 0 0 8px 8px;
}



:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/132176532767637505"], [style*="avatars/132176532767637505"],
                                  [src*="avatars/221097896328691712"], [style*="avatars/221097896328691712"],
                                  [src*="avatars/495333777606967306"], [style*="avatars/495333777606967306"],
                                  [src*="avatars/496855814791888898"], [style*="avatars/496855814791888898"],
                                  [src*="avatars/579703530164846592"], [style*="avatars/579703530164846592"],
                                  [src*="avatars/682317162010247184"], [style*="avatars/682317162010247184"],
                                  [src*="avatars/701870295195320410"], [style*="avatars/701870295195320410"],
                                  [src*="avatars/770013098689953832"], [style*="avatars/770013098689953832"],
                                  [src*="avatars/871735378837667880"], [style*="avatars/871735378837667880"],
                                  [src*="avatars/1178768557178376222"], [style*="avatars/1178768557178376222"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    font-weight: 700;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}


:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/132176532767637505"], [style*="avatars/132176532767637505"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #00bd8e;
    background: linear-gradient(90deg, #b03801 0%,#00bd8e 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/221097896328691712"], [style*="avatars/221097896328691712"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #e31632;
    background: linear-gradient(90deg, #12609a 0%, #e31632 50%, #b8c213 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/495333777606967306"], [style*="avatars/495333777606967306"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #410000;
    background: linear-gradient(180deg, #410000 7%, #ff0000 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/496855814791888898"], [style*="avatars/496855814791888898"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #FFF;
    background: linear-gradient(90deg, #4C00FF 0%, #FFF 50%, #4C00FF 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/579703530164846592"], [style*="avatars/579703530164846592"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #00bfe5;
    background: linear-gradient(90deg, #901fad 0%,#00bfe5 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/682317162010247184"], [style*="avatars/682317162010247184"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #878cff;
    background: linear-gradient(90deg,#878cff,#666cff 34%,#878cff 67%,#666cff);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/701870295195320410"], [style*="avatars/701870295195320410"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #00bfe5;
    background: linear-gradient(90deg, #901fad 0%,#00bfe5 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/770013098689953832"], [style*="avatars/770013098689953832"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #9000ff;
    background: linear-gradient(90deg, #00f8ff 0%, #9000ff 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/871735378837667880"], [style*="avatars/871735378837667880"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #8E24AA;
    background: linear-gradient(90deg, #1E88E5 0%, #8E24AA 100%);
}

:is(.container_debb33,
    .contents_d3ae0d,
    .memberInner__4dac6,
    .userProfileInner__8ff35):has([src*="avatars/1178768557178376222"], [style*="avatars/1178768557178376222"]) :is(.title__4a7a9,
                                                                                                                    .username__0b0e7,
                                                                                                                    .name_c3d448,
                                                                                                                    .nickname_db3773,
                                                                                                                    .text-lg-semibold__9539a) {
    text-decoration-color: #fff;
    background: linear-gradient(90deg, #4c00ff 0%, #fff 50%, #4c00ff 100%);
}