/* Badge Request */
html:has(.modeSelected__487d6 [data-list-item-id="channels___1126873259758075934"]) .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 {
    display: flex;
    flex-direction: column;
}

html:has(.modeSelected__487d6 [data-list-item-id="channels___1126873259758075934"]) .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06::before {
    order: -2;
    display: flex;
    padding: 10px 16px 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    white-space: pre-wrap;
    content: "Request a Custom Badge for you:";
    border-radius: 8px 8px 0 0;
    color: var(--header-primary);
    background: var(--color-2);
}
html:has(.modeSelected__487d6 [data-list-item-id="channels___1126873259758075934"]) .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06::after {
    order: -1;
    display: flex;
    padding: 0 16px 8px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    content: "• Send the badge as a picture (.svg) \a  • Please wait at least 24 hours for requests to be fulfilled. Requests will not always be taken in instantly.";
    border-radius: 0;
    color: var(--header-secondary);
    background: var(--color-2);
}

html:has(.modeSelected__487d6 [data-list-item-id="channels___1126873259758075934"], .scrollableContainer__33e06::after) .form__13a2c .inner__9fd0b {
    border-radius: 0 0 8px 8px;
}