.layer_cd0de5 .scroller_d90b3d {
    padding: 10px !important;
}
.layer_cd0de5 .scroller_d90b3d::-webkit-scrollbar {
    display: none;
}
.layer_cd0de5 .menu_d90b3d {
    border-radius: 8px;
    background-color: var(--color-3);
    box-shadow: 0px 5px 26px 5px #000;
}
.layer_cd0de5 .menu_d90b3d .labelContainer_d90b3d {
    border-radius: 8px;
}
.layer_cd0de5 .menu_d90b3d .labelContainer_d90b3d.focused_d90b3d {
    background-color: var(--color-2);
}