.layer-2BGhQ8 .scroller-nxCRu_ {
    padding: 10px !important;
}
.layer-2BGhQ8 .scroller-nxCRu_::-webkit-scrollbar {
    display: none;
}
.layer-2BGhQ8 .menu-2TXYjN {
    border-radius: 8px;
    background-color: var(--color-3);
    box-shadow: 0px 5px 26px 5px #000;
}
.layer-2BGhQ8 .menu-2TXYjN .labelContainer-35-WEd {
    border-radius: 8px;
}
.layer-2BGhQ8 .menu-2TXYjN .labelContainer-35-WEd.focused-3LIdPu {
    background-color: var(--color-2);
}