.layer_ec16dd .scroller__750f5 {
    padding: 10px !important;
}
.layer_ec16dd .scroller__750f5::-webkit-scrollbar {
    display: none;
}
.layer_ec16dd .menu_dc52c6 {
    border-radius: 8px;
    background-color: var(--color-3);
    box-shadow: 0px 5px 26px 5px #000;
}
.layer_ec16dd .menu_dc52c6 .labelContainer_bc2861 {
    border-radius: 8px;
}
.layer_ec16dd .menu_dc52c6 .labelContainer_bc2861.focused__27621 {
    background-color: var(--color-2);
}