.root_f9a4c9:has(.footer_f9a4c9) {
    overflow: unset;
    border-radius: 8px;
    background-color: var(--color-1);
    box-shadow: none !important;
}

.footer_f9a4c9 {
    justify-content: space-between;
    margin: 0 10px 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
    box-shadow: none !important;
}


/* Create Server Modal */
.templatesList_fc9dae {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 15px 0 15px 15px;
    padding: 0;
    border-radius: 8px;
}

.templatesList_fc9dae .optionHeader_fc9dae {
    display: none;
}

.templatesList_fc9dae .container_a47d49 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: var(--color-2);
}
.templatesList_fc9dae .container_a47d49:hover {
    background-color: var(--color-4);
}

.templatesList_fc9dae .container_a47d49 .icon_a47d49 {
    margin: 0 0 5px;
}

.templatesList_fc9dae .container_a47d49 .arrow_a47d49 {
    margin: 10px auto 0;
}