.root_a28985:has(.footer_e0b400) {
    overflow: unset;
    border-radius: 8px;
    background-color: var(--color-1);
    box-shadow: none !important;
}

.footer_e0b400 {
    justify-content: space-between;
    margin: 0 10px 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
    box-shadow: none !important;
}


/* Create Server Modal */
.templatesList__7837c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 15px 0 15px 15px;
    padding: 0;
    border-radius: 8px;
}

.templatesList__7837c .optionHeader_e0be1e {
    display: none;
}

.templatesList__7837c .container__9dd63 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: var(--color-2);
}
.templatesList__7837c .container__9dd63:hover {
    background-color: var(--color-4);
}

.templatesList__7837c .container__9dd63 .icon__2df73 {
    margin: 0 0 5px;
}

.templatesList__7837c .container__9dd63 .arrow__5e540 {
    margin: 10px auto 0;
}