body:has(.standardSidebarView__12528) .questsContainer__0b371 .questsCard__20ba2 {
    max-height: unset !important;
    margin-bottom: 15px;
    background-color: var(--color-2);
}
body:has(.standardSidebarView__12528) .questsContainer__0b371 .questsCard__20ba2+.questsCard__20ba2 {
    margin-top: 15px;
}

body:has(.standardSidebarView__12528) .questsContainer__0b371 .outerContainer__35e1f {
    margin: 15px 15px 0;
    border-radius: 8px;
}

body:has(.standardSidebarView__12528) .questsContainer__0b371 .outerContainer_a76fe9 {
    padding: 15px;
    background-color: unset;
}

body:has(.standardSidebarView__12528) .questsContainer__0b371 .questRewardTile__0a963 {
    border-radius: 8px;
}
body:has(.standardSidebarView__12528) .questsContainer__0b371 .rewardTileExpired__73fac {
    background-color: unset;
}