body:has(.standardSidebarView__12528) .container_b9c7d0 {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}

body:has(.standardSidebarView__12528) .container_b9c7d0 .profile_db01cf {
    margin: 0;
}
body:has(.standardSidebarView__12528) .container_b9c7d0 .profile_db01cf .avatarBackground__1bc8d {
    width: 80px;
    height: 80px;
    background-color: unset;
}

body:has(.standardSidebarView__12528) .container_b9c7d0 .statusOption__7eb5c .marker_ec77a6 {
    margin-right: 0 !important;
}