@import url("./index.css");
@import url("./background.css");
@import url("./login.css");
@import url("./nointernet.css");
@import url("./scrollbar.css");
@import url("./text.css");
@import url("./titelbar.css");