@import url("/SpaceTheme/Discord/files/icons/Fluent-base.css");
@import url("/SpaceTheme/Discord/files/icons/Fluent-context.css");
@import url("/SpaceTheme/Discord/files/icons/Fluent-settings.css");
@import url("https://minidiscordthemes.github.io/FluentStatusIcons/FluentStatusIcons.theme.css");

.base-2jDfDU {
    margin: 0 15px 15px;
    border-radius: 8px;
}