.characterBackground__1966f {
    background-color: var(--background);
}
.artwork__94141 {
    display: none;
}


.authBox__6f336 {
    height: 425px;
    width: 850px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
    box-shadow: 0px 5px 26px 5px #000;
}

.authBox__6f336 .centeringWrapper__5e247,
.authBox__6f336 .centeringWrapper__5e247 .flex_f18b02 {
    height: 100%;
}


.mainLoginContainer_f58870 {
    height: calc(425px - 50px);
    margin-right: 15px;
}
.authBox__6f336 .header_b79c4b {
    align-items: start;
}
.authBox__6f336.chooseAccountAuthBox__469ac .centeringWrapper__5e247 {
    text-align: start;
}


.authBox__6f336.chooseAccountAuthBox__469ac .list__4e6aa {
    border-radius: 8px;
    background-color: var(--color-1);
}
.authBox__6f336.chooseAccountAuthBox__469ac .list__4e6aa:has(.usernameSection_e14676 [style="color: var(--text-danger);"]) {
    border: 2.7px solid #f04747;
}

.authBox__6f336.chooseAccountAuthBox__469ac .centeringWrapper__5e247 .userActions__6955d .button__581d0:not(.userActionMenu_dccbc2) {
    background-color: var(--accent);
}
.authBox__6f336.chooseAccountAuthBox__469ac .centeringWrapper__5e247 .userActions__6955d .button__581d0:not(.userActionMenu_dccbc2):hover {
    background-color: var(--accent-2);
}


.authBox__6f336 .input_f27786 {
    border-radius: 8px;
    background-color: var(--color-1);
}

.authBox__6f336 .linkButton__8dff8.marginBottom20__9fcf3 {
    margin-bottom: 64px;
}
.authBox__6f336:has(.mainLoginContainer_f58870 .goBackButton__43fd3) .linkButton__8dff8.marginBottom20__9fcf3 {
    margin-bottom: 32px;
}


.authBox__6f336 .verticalSeparator__0074c {
    display: none;
}


.qrLogin_e6e814 {
    height: calc(425px - 30px);
    width: 270px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.qrCodeContainer__4afc8 {
    margin-bottom: 15px;
}
.qrCode_bef5bf {
    border-radius: 8px !important;
}

.qrLoginInner_fa4d07 .title__2c816 {
    margin: 0 8px 8px;
}