.characterBackground__2820f {
    background-color: var(--background);
}
.artwork__8fc92 {
    display: none;
}


.authBox__7196a {
    height: 425px;
    width: 850px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
    box-shadow: 0px 5px 26px 5px #000;
}

.authBox__7196a .centeringWrapper__319b0,
.authBox__7196a .centeringWrapper__319b0 .flex_f5fbb7 {
    height: 100%;
}


.mainLoginContainer__58502 {
    height: calc(425px - 50px);
    margin-right: 15px;
}
.authBox__7196a .header_feace3 {
    align-items: start;
}

.authBox__7196a .input_d266e7 {
    border-radius: 8px;
    background-color: var(--color-1);
}

.authBox__7196a .linkButton_ba7970.marginBottom20__64605 {
    margin-bottom: 64px;
}


.authBox__7196a .verticalSeparator_af74b3 {
    display: none;
}


.qrLogin_ce8b2d {
    height: calc(425px - 30px);
    width: 270px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.qrCodeContainer__52c91 {
    margin-bottom: 15px;
}
.qrCode_bef5bf {
    border-radius: 8px !important;
}

.qrLoginInner__86510 .title__0a681 {
    margin: 0 8px 8px;
}