.characterBackground-1BPOOJ {
    background-color: var(--background);
}
.artwork-L5TAwQ {
    display: none;
}


.authBox-1HR6Ha {
    height: 425px;
    width: 850px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
    box-shadow: 0px 5px 26px 5px #000;
}

.authBox-1HR6Ha .centeringWrapper-dGnJPQ,
.authBox-1HR6Ha .centeringWrapper-dGnJPQ .flex-2S1XBF {
    height: 100%;
}


.mainLoginContainer-wHmAjP {
    height: calc(425px - 50px);
    margin-right: 15px;
}
.authBox-1HR6Ha .header-6M5OpB {
    align-items: start;
}

.authBox-1HR6Ha .input-3O04eu {
    border-radius: 8px;
    background-color: var(--color-1);
}

.authBox-1HR6Ha .linkButton-2ax8wP.marginBottom20-315RVT {
    margin-bottom: 64px;
}


.authBox-1HR6Ha .verticalSeparator-2r9gHa {
    display: none;
}


.qrLogin-1ejtpI {
    height: calc(425px - 30px);
    width: 270px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.qrCodeContainer-1qlybH {
    margin-bottom: 15px;
}
.qrCode-2R7t9S {
    border-radius: 8px !important;
}

.qrLoginInner-1phtZ_ .title-3FQ39e {
    margin: 0 8px 8px;
}