.container_e40c16 {
    top: 0 !important;
    margin: 0 var(--margin-large) var(--margin-large);
    padding-top: 0;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
}