*::-webkit-scrollbar {
    width: 14px !important;
}
.guilds__2b93a .scroller_de945b::-webkit-scrollbar {
    display: none;
}
.sidebar_e031be .scroller__89969::-webkit-scrollbar {
    width: 10px !important;
}
  
*::-webkit-scrollbar-track {
    border-radius: 8px !important;
    background-color: transparent !important;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 4px solid transparent !important;
    background-clip: content-box !important;
    background-color: var(--accent-2) !important;
}
  
*::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent !important;
    background-color: var(--accent) !important;
}