*::-webkit-scrollbar-track {
    border-radius: 8px !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 4px solid transparent !important;
    background-clip: content-box;
    background-color: var(--accent-2) !important;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent) !important;
}