.titleBar-3AIemB {
    height: 24px;
    padding-top: 10px;
    margin-top: 0px;
    background-color: var(--background);
}

/* Logo */
.wordmark-3wYFg6 svg {
	display: none;
}
.wordmark-3wYFg6::before {
	content: 'Space';
    position: relative;
    top: 6px;
	left: 6px;
	font-size: 16px;
	font-weight: 500;
    color: var(--accent-2) ;
}
.wordmark-3wYFg6::after {
	content: 'Theme';
    position: relative;
    top: 6px;
	left: 6px;
	font-size: 16px;
	font-weight: 900;
    color: var(--accent);
}

/* Close/Maximize/Minimize Buttons */
.winButton-3SigSb {
    height: 33.333332px;
    width: 40px;
    top: -10px;
}
.winButton-3SigSb svg {
    color: var(--accent);
}
.winButtonClose-23zAIt:hover {
    background-color: var(--accent);
}
.winButtonClose-23zAIt:hover svg {
    color: var(--background);
}