.titleBar__01af6.withFrame__485f4 {
    height: 24px;
    padding-top: 10px;
    margin-top: 0px;
    background-color: var(--background);
}

/* Logo */
.wordmark__0d178 svg {
	display: none;
}
.wordmark__0d178::before {
	content: 'Space';
    position: relative;
    top: 6px;
	left: 6px;
	font-size: 16px;
	font-weight: 500;
    color: var(--accent-2) ;
}
.wordmark__0d178::after {
	content: 'Theme';
    position: relative;
    top: 6px;
	left: 6px;
	font-size: 16px;
	font-weight: 900;
    color: var(--accent);
}

/* Close/Maximize/Minimize Buttons */
.titleBar__01af6 .winButton__88672 {
    height: 33.333332px;
    width: 40px;
    top: -10px;
}
.winButton__88672 svg {
    color: var(--accent);
}
.winButtonClose__73489:hover {
    background-color: var(--accent);
}
.winButtonClose__73489:hover svg {
    color: var(--background);
}