.loading {
    padding: 50px;
    font-size: 24px;
    text-align: center;
    color: white;
}



.grid {
    grid-template-columns: repeat(2,minmax(0,1fr)) !important;
}

@media (max-width: 760px) {
    .grid {
        grid-template-columns: repeat(1,minmax(0,1fr)) !important;
    }

    .achievement-icon-wrapper:is(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
        display: none !important;
    }
}



.card {
    padding: 12px;
}


.card .img {
    max-width: unset;
}
.card .img img {
    aspect-ratio: unset;
    border-radius: 18px;
}



.game-info {
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin: 6px 0 0;
}

.game-info .disc {
    margin: 0;
}



.stats {
    display: flex;
    gap: 6px;
}

.stat-box {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    background: #1e1e1e;
}



.achievements {
    overflow: visible !important;
    display: flex;
    gap: 6px;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 100%;
    margin-top: 0;
    padding: 12px;
    border-radius: 16px;
    background: #1e1e1e;
}


.achievements-icons {
    display: flex;
    gap: 4px;
}


.achievement-icon-wrapper {
    position: relative;
}


.achievement-icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition: opacity 0.2s ease;
}


.remaining-achievements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    font-size: 12px;
    border-radius: 6px;
    color: #fff;
    background: #111111;
}


.achievement-icon.locked {
    opacity: 0.3;
    filter: grayscale(100%);
}



.achievement-tooltip {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 280px;
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
    padding: 12px;
    pointer-events: none;
    border: 2px solid #2b2b2b;
    border-radius: 16px;
    background: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transform: translateX(-50%);
    transition: opacity 0.2s ease;
}

.achievement-icon-wrapper:hover .achievement-tooltip {
    opacity: 1;
}


.tooltip-icon {
    width: 64px;
    height: 64px;
    border-radius: 12px;
}


.tooltip-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.achievement-tooltip p {
    margin: 0;
}



.progress-bar {
    overflow: hidden;
    position: relative;
    height: 4px;
    border-radius: 8px;
    background: #0a0a0a;
}

.progress-bar-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 3px;
    background: #666cff;
    transition: width 0.3s ease;
}