@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, p, h1, h2, h3 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #fff;
  background-color: #111111;  
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 30px;
  border-radius: 8px;
  background-color: #1e1e1e;
  box-shadow: 0px 5px 15px 5px #210359;
}

.nav-logo,
nav img { 
  height: 35px;
}

.nav-tab-links a {
  display: inline-block;
  text-align: left;
  padding: 10px;
  height: fit-content;
  font-size: 17px;
  border-radius: 8px;
  background-color: #666cff;
  transition: background-color 0.15s ease-in-out;
}

.nav-tab-links a:hover {
  background-color: #878cff;
}

#landing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 15px;
  margin: 15px;
  height: 100%;
  border-radius: 8px;
  background: radial-gradient(88.5% 88.5% at 50% 50%, #170444 0%, #40009D 100%);
}

#landing h1 {
  font-weight: 900;
  font-size: 100px;
  background: linear-gradient(90deg, #878CFF 0%, #666CFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (max-width: 580px) {
  #landing h1 {
    font-size: 60px;
  }
}

@media (max-width: 380px) {
  #landing h1 {
    font-size: 50px;
  }
}