@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, p, h1, h2, h3 {
  height: fit-content;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  user-select: none;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #fff;
  background-color: #111111;  
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  background-color: #1e1e1e;
}

nav .nav-logo { 
  height: 50px;
}

nav img {
  height: 50px;
}

.nav-tab-links a {
  display: inline-block;
  text-align: left;
  padding: 10px;
  height: fit-content;
  font-size: 17px;
  border-radius: 8px;
  background-color: #666cff;
}

.nav-tab-links a:hover {
  background-color: #878cff;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 15px;
  margin: 20px;
  height: 83%;
  border-radius: 8px;
  background: radial-gradient(88.5% 88.5% at 50% 50%, #170444 0%, #40009D 100%);
}

#landing h1 {
  font-weight: 900;
  font-size: 10vh;
  background: linear-gradient(90deg, #878CFF 0%, #666CFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}