@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none;
    color: #fff;
    background: radial-gradient(68.62% 60.75% at 86% 61%,rgba(135, 140, 255, 0.3),rgba(135, 140, 255, 0.04) 100%),radial-gradient(53.01% 41.15% at 11% 27%,rgba(102, 108, 255, 0.3),rgba(102, 108, 255, 0.04) 100%),rgb(10, 10, 10);
}
p, h1, h2, h3, a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #fff;
}


.full-content {
    margin: 16px 16px 0;
}


.note {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px;
    font-size: larger;
    font-weight: 800;
    border: 4px solid #ef8d4b;
    border-radius: 40px;
    background-color: #ef8d4b2b;
    box-shadow: 0px 6px 30px -15px rgb(239, 141, 75);
}


.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 50rem;
    margin: 0 auto 16px;
    padding: 16px;
    border-radius: 40px;
    background-color: #1e1e1e;
}

.header-avatar {
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    margin-right: 26px;
    border-radius: 40px;
    box-shadow: 0px 6px 30px -15px rgb(0, 0, 0);
}

.header h1 {
    color: transparent !important;
    background: linear-gradient(90deg,#878cff,#666cff 34%,#878cff 67%,#666cff);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: pulse 2s linear infinite;
}
@keyframes pulse {
    0% {
        background-position: 100%;
    }
    to {
        background-position:0;
    }
}

.flag-icon {
    height: 20px;
    margin-right: 5px;
    border-radius: 100%;
}

.social-media {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}
.social-media .icon img {
    width: 20px;
    height: 20px;
    transition: 180ms;
}
.social-media .icon:hover img {
    filter: brightness(.8);
}










.content {
    max-width: 50rem;
    margin: 0 auto 16px;
    padding: 16px;
    border-radius: 40px;
    background-color: #111111;
}



.navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;
}
.navigation .back-tab {
    position: absolute;
    left: 0;
}
.navigation .tab {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border: none;
    border: 2px solid #2b2b2b;
    border-radius: 40px;
    background-color: #1e1e1e;
    transition: 180ms;
}
.navigation .tab:hover {
    background-color: #2b2b2b;
}



.divider {
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 40px;
    background-color: #1e1e1e;
}



.containers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-container {
    padding: 16px;
    border-radius: 26px;
    background-color: #1e1e1e;
    box-shadow: 0px 6px 30px -15px rgb(0, 0, 0);
}

.card-container .grid {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 10px;
}


.card {
    padding: 10px 10px 16px;
    border: 2px solid #2b2b2b;
    border-radius: 26px;
    background-color: #111111;
    transition: 180ms;
}
.card:hover {
    transform: scale(1.04);
}

.card.kofi-card {
    border: 2px solid #FF5E5B;
    background-color: #391e1d;
}
.card.kofi-card .img {
    padding: 16px !important;
    background-color: #3f2423;
}
.card.kofi-card:hover .img {
    background-color: #432827;
}
.card.kofi-card .img span {
    border: 2px solid #FF5E5B;
    background-color: #FF5E5B46;
}


.game-title {
    display: flex;
    margin-bottom: 6px;
}
.game-title img {
    height: 20px;
}


.card .img span {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #2b2b2b;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    background-color: #1e1e1e46;
}
#setup .card .img span,
#pc .card .img span,
#vr .card .img span,
#\/3d-printer .card .img span,
#nas .card .img span,
#smart-home .card .img span {
    background-color: #0a0a0a46;
}
.card .img span img {
    width: 12px;
    border-radius: 0;
}

.card .img .new-badge {
    top: unset;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 4px 6px;
    font-size: 10px;
    font-weight: 800;
    border: 2px solid #878CFF;
    background-color: #878CFF46;
}

.card .img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    margin-bottom: 6px;
    padding: 16px;
    border-radius: 26px;
    background-color: #181818;
    transition: 180ms;
}
.card:hover .img {
    background-color: #1d1d1d;
}
#projects .card .img,
#javascript .card .img,
#themes .card .img,
#fillaments .card .img {
    padding: 0;
}
.card .img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.card .img-radius img {
    border-radius: 26px;
}


.card-title {
    text-transform: uppercase;
    font-size: 12px !important;
    color: #878cff;
}
.card p {
    font-weight: 800;
    font-size: 14px;
    margin-left: 6px;
}
.card .disc {
    font-weight: 500;
    font-size: 12px;
}



.show-all {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 16px;
    border: 2px solid #111111;
    border-radius: 40px;
    background-color: #111111;
}
.show-all:hover {
    border: 2px solid #2b2b2b;
}




.footer {
    text-align: center;
    max-width: 50rem;
    margin: 10px auto 0;
    padding: 16px;
    font-weight: 800;
    border-radius: 40px;
}





@media (max-width: 760px) {
    .card-container .grid {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    #setup .card:nth-child(4) {
        display: none;
    }
}

@media (max-width: 615px) {
    .header-avatar {
        margin-right: 16px;
        max-width: 160px;
        max-height: 160px;
    }


    .navigation:has(.back-tab) {
        justify-content: end;
    }


    .card-container .grid {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    #setup .card:nth-child(3),
    #setup .card:nth-child(4) {
        display: none;
    }
}

@media (max-width: 475px) {
    .header-avatar {
        max-width: 100px;
        max-height: 100px;
    }
    .header .infos h1 {
        font-size: 24px;
    }
    .header .infos .flag-icon {
        height: 16px;
    }
    .header .infos p {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .navigation:has(.back-tab) {
        justify-content: center;
        margin-top: 53.2px;
    }
    .navigation .back-tab {
        position: absolute;
        left: 0;
        top: -53.2px;
    }
}