@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  height: fit-content;
  width: 100%;
}


body {
	background: linear-gradient(-45deg, #ce7823, #a0550a, #9e6935, #f57d06);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  margin: 0px;
  font-family: 'Be Vietnam Pro', sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


::-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-track {
  display: none;
}
   
::-webkit-scrollbar-thumb {
  display: none;
}

header {
  margin-top: 30px;
}


header h1 {
  display: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #fff;
  padding: 15px;
  width: fit-content;
  border-radius: 8px;
  background-color: #11111170;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 600px) {
  header h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 992px) {
  header h1 {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  header h1 {
    font-size: 3vw;
  }
}

header img {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 50vw;
  min-width: 100px;
  max-width: 400px;
  border-radius: 18px;
}

a {
  border: 0px;
  border-radius: 8px;
  color: #fff;
  background-color: #1e1e1e;
}

.divider {
  width: 95%;
  height: 10px;
  margin: auto;
  border-radius: 9px;
  background-color: #26292c;
}

#links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  width: 80vw;
  max-width: 1000px;
  height: 102px;
}

#links a:hover {
  transform: scale(1.03);
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #links a {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 600px) {
  #links a {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 768px) {
  #links a {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 992px) {
  #links a {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1200px) {
  #links a {
    font-size: 1.5vw;
  }
}

#linksbg {
  width: 80vw;
  max-width: 1000px;
  padding: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: auto;
  border-radius: 8px;
  background-color: #11111170;
}