@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, p, h1, h2, h3 {
  height: fit-content;
  width: 100%;
  color: #fff;
  margin: 0px;
  user-select: none;
}


a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  margin: 0px;
  font-family: 'Be Vietnam Pro', sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.info {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.info img {
  margin-bottom: 10px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.divider h2 {
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  width: 50%;
  min-width: 513px;
  text-align: center;
  border-radius: 8px;
  background-color: #111111;
}

.link img {
  margin-right: 20px;
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

.link {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  width: 50%;
  min-width: 513px;
  border-radius: 8px;
  background-color: #1e1e1e;
}

.link:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.title {
  font-size: 25px;
}

.disc {
  margin-top: 10px;
  font-size: 18px;
}

.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  margin: auto;
}

.grid img {
  margin-right: 20px;
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

.grid {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  border-radius: 8px;
  background-color: #1e1e1e;
}

.g-disc {
  margin-top: 10px;
}