.container_f79ab4,
.membersWrap__5ca6b,
.members__573eb {
    width: 64px;
    min-width: 64px;
    transition: 0.7s;
}
.members__573eb::-webkit-scrollbar {
    display: none;
}
.member_aa4760 {
    margin: 0 8px;
}

/* on hover */
.container_f79ab4:hover,
.container_f79ab4:hover .membersWrap__5ca6b,
.container_f79ab4:hover .members__573eb {
    width: 260px;
    min-width: 260px;
    transition: 0.7s;
}
.container_f79ab4:hover .members__573eb::-webkit-scrollbar {
    display: block;
}
.container_f79ab4:hover .member_aa4760 {
    margin: 0 0 0 8px;
}