.children-2C96Ex .connection-YOVI9j,
.children-2C96Ex .connectContainer-1hylYM {
    border-radius: 8px;
    background: var(--color-2);
}

.children-2C96Ex .connectionsContainer-3wRUc6 {
    gap: 10px;
}
.children-2C96Ex .connectionsContainer-3wRUc6 .accountButtonInner-33vCDY {
    border-radius: 8px;
    background-color: var(--color-3);
}

.children-2C96Ex .connectionList-11Q_X- {
    grid: auto-flow dense/repeat(auto-fit,minmax(40rem,1fr));
    grid-auto-rows: minmax(3rem,auto);
    grid-gap: 15px;
}

.children-2C96Ex .connectionHeader-Ixbb1s {
    margin: 10px 10px 0;
    border-radius: 8px;
    background: var(--color-3);
}

.children-2C96Ex .metadataContainer-35U-On {
    margin:  10px 15px 0;
    border-radius: 8px;
    background: var(--color-3);
}