.children_b15c64 .connection_fff5f6,
.children_b15c64 .connectContainer__8050b {
    border-radius: 8px;
    background: var(--color-2);
}

.children_b15c64 .connectionsContainer_ec9a62 {
    gap: 10px;
}
.children_b15c64 .connectionsContainer_ec9a62 .accountButtonInner__80e3a {
    border-radius: 8px;
    background-color: var(--color-3);
}

.children_b15c64 .connectionList__7b310 {
    grid: auto-flow dense/repeat(auto-fit,minmax(40rem,1fr));
    grid-auto-rows: minmax(3rem,auto);
    grid-gap: 15px;
}

.children_b15c64 .connectionHeader__3c82d {
    margin: 10px 10px 0;
    border-radius: 8px;
    background: var(--color-3);
}

.children_b15c64 .metadataContainer__7b316 {
    margin:  10px 15px 0;
    border-radius: 8px;
    background: var(--color-3);
}