.children_aba8cb .connection__6dbd8,
.children_aba8cb .connectContainer_e331e3 {
    border-radius: 8px;
    background: var(--color-2);
}

.children_aba8cb .connectionsContainer__3fe05 {
    gap: 10px;
}
.children_aba8cb .connectionsContainer__3fe05 .accountButtonInner__00bdd {
    border-radius: 8px;
    background-color: var(--color-3);
}

.children_aba8cb .connectionList__5b340 {
    grid: auto-flow dense/repeat(auto-fit,minmax(40rem,1fr));
    grid-auto-rows: minmax(3rem,auto);
    grid-gap: 15px;
}

.children_aba8cb .connectionHeader__2b82f {
    margin: 10px 10px 0;
    border-radius: 8px;
    background: var(--color-3);
}

.children_aba8cb .metadataContainer__1842c {
    margin:  10px 15px 0;
    border-radius: 8px;
    background: var(--color-3);
}