:is(.container_debb33,
    .accountProfileCard__744d8,
    .container__3792d,
    .peopleListItem_dab480,
    .itemCard_b64118,
    .contents_d3ae0d,
    .userProfileInner__8ff35,
    .member_aa4760,
    .memberRowContainer__8a95f,
    .profileCard__1d74b,
    .listRow_d4d6eb,
    .row_e54bc9,
    .row__807ed,
    .memberRow_d581f4,
    .emojiRow_db53d4,
    .wrapper_d9a30a,
    .auditLog__9228d,
    .item__287de,
    .bannedUser_f75842,
    .inviteSettingsInviteRow__130c9):has([src*="avatars/496855814791888898"], [style*="avatars/496855814791888898"]) :is(.title__4a7a9,
                                                                                                                         .userTag__28f9c,
                                                                                                                         .name_f842e4 .overflow__993fa,
                                                                                                                         .username__267df,
                                                                                                                         .header__3cd76 .text-md-semibold__8664f,
                                                                                                                         .username__0b0e7,
                                                                                                                         .nickname_db3773,
                                                                                                                         .container__9f51c .text-lg-semibold__9539a,
                                                                                                                         .username_d272d6,
                                                                                                                         .username__0bc64,
                                                                                                                         .listName__2198c,
                                                                                                                         .name__3689e,
                                                                                                                         .emojiRowText__46159,
                                                                                                                         .uploaderName__50faa,
                                                                                                                         .user__868a6 .text-xs-normal__46d75,
                                                                                                                         .userHook__0708a .text-md-normal__6e567,
                                                                                                                         .itemLabel_d89e4d .text-sm-normal__95a78,
                                                                                                                         .username_df97c3,
                                                                                                                         .username__5beb0,
                                                                                                                         .username__4a6f7) {
    font-weight: 700;
    text-decoration-color: #FFF;
    color: transparent !important;
    background: linear-gradient(90deg, #4C00FF 0%, #FFF 50%, #4C00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
}