:is(.container_ca50b9,
    .accountProfileCard__22589,
    .container__8759a,
    .peopleListItem_d14722,
    .itemCard__1f162,
    .contents_f41bb2,
    .userProfileInner__8065b,
    .member_aa4760,
    .memberRowContainer_f0d0e5,
    .profileCard_bd55ee,
    .listRow_fd96f9,
    .row__53151,
    .row_db0184,
    .memberRow__91c35,
    .emojiRow__4661c,
    .wrapper__93f27,
    .auditLog__6c805,
    .item__287de,
    .bannedUser__38b44,
    .inviteSettingsInviteRow__0d747):has([src*="avatars/701870295195320410"], [style*="avatars/701870295195320410"]) :is(.title__10613,
                                                                                                                         .userTag__4ca14,
                                                                                                                         .name__02dbd .overflow__87fe8,
                                                                                                                         .username__81ee6,
                                                                                                                         .header__77ddf .text-md-semibold__4cb23,
                                                                                                                         .username_d30d99,
                                                                                                                         .nickname__3d1d7,
                                                                                                                         .container_b6b15b .text-lg-semibold__18f10,
                                                                                                                         .username_d272d6,
                                                                                                                         .username_de9680,
                                                                                                                         .listName_efa153,
                                                                                                                         .name__4a9b6,
                                                                                                                         .emojiRowText__5e305,
                                                                                                                         .uploaderName_b5e13a,
                                                                                                                         .user__868a6 .text-xs-normal__56c35,
                                                                                                                         .userHook_b1bf70 .text-md-normal__4afad,
                                                                                                                         .itemLabel__6d2fe .text-sm-normal_e612c7,
                                                                                                                         .username__7a2a6,
                                                                                                                         .username__92ef4) {
    font-weight: 700;
    text-decoration-color: #00bfe5;
    color: transparent !important;
    background: linear-gradient(90deg, #901fad 0%,#00bfe5 100%);
    background-clip: text;
    -webkit-background-clip: text;
}