/*:is(.member-2gU6Ar,
    .userPopoutOuter-1OHwPL,
    .userProfileModalOuter-2wdWjU,
    .contents-2MsGLg,
    .container-YkUktl,
    .userInfo-regn9W,
    .memberRow-1FhJgR,
    .bannedUser-26qsXF,
    .member-2cj2PI,
    .inviteSettingsInviteRow-FAjfDN):has([src*="https://cdn.discordapp.com/avatars/770013098689953832"]) :is(.username-3_PJ5r,
                                                                                                             .nickname-3P1RuO,
                                                                                                             .text-lg-semibold-UQkeZc,
                                                                                                             .username-h_Y3Us,
                                                                                                             .userTag-2qPxEZ,
                                                                                                             .title-338goq,
                                                                                                             .name-3Ksb9-,
                                                                                                             .username-2QcOp4,
                                                                                                             .username-oFyVdr) {
    font-weight: 700;
    text-decoration-color: #00f8ff;
    color: transparent !important;
    background: linear-gradient(90deg, #00f8ff 0%, #9000ff 100%);
    -webkit-background-clip: text;
}*/