/**
* @name Beautiful Discord MK3
* @author SkyEnergy#2948
* @description Made by a CSS NOOB but there's ❤️ in it
* @version 1.0.5 (beta)
* @website https://skyenergy1.github.io
* @source https://github.com/SkyEnergy0/Beautiful-Discord-Theme
* @updateUrl https://skyenergy0.github.io/Beautiful-Discord-MK3/Beautiful-Discord-MK3.theme.css
**/



/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Imports
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/** Chat Bubbles */
@import url('https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css');

/** Icons */
@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Root
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



:root {
    /* Chat Bubble */
    --chat-bubble: 1;                                           /* default: 1 */
    --chat-bubble-border-radius: 8px;                           /* default: 8px */
    --chat-bubble-background-color: #1e1e1e;                  /* default: #1e1e1e */
    --chat-bubble-border-color: #1e1e1e;                      /* default: #1e1e1e */
    --chat-bubble-code-background-color: #232527;             /* default: #232527 */
    --chat-bubble-max-width: 90%;                               /* default: 90% */
    --chat-bubble-box-shadow-h-offset: 0;                       /* default: 0 */
    --chat-bubble-box-shadow-v-offset: 0px;                     /* default: 0px */
    --chat-bubble-box-shadow-blur: 0px;                         /* default: 0px */
    --chat-bubble-box-shadow-color-h: 0;                        /* default: 0 */
    --chat-bubble-box-shadow-color-s: 0%;                       /* default: 0% */
    --chat-bubble-box-shadow-color-l: 0%;                       /* default: 0% */
    --chat-bubble-box-shadow-color-a: 0;                        /* default: 0 */
}

:root {
    /** Color */
    --prime-color: #111111;
    --sec-color: #1e1e1e;

    /** Border */
    --prime-border: 8px;
    --sec-border: 4px;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?General
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/*
=-=-=-=-=-=-=-=
?Title Bar
=-=-=-=-=-=-=-=
*/

.typeWindows-2-g3UY.withFrame-2dL45i.titleBar-1it3bQ.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr {
    background-color: var(--prime-color);
    margin-top: 0px;
    padding-top: 5px;
}


/*
=-=-=-=-=-=-=-=
?Base Content
=-=-=-=-=-=-=-=
*/

.base-2jDfDU {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: var(--prime-border);
}


/*
=-=-=-=-=-=-=-=
?Background
=-=-=-=-=-=-=-=
*/

.container-1eFtFS {
    background-color: var(--prime-color);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Server Bar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Home
=-=-=-=-=-=-=-=
*/

/* Button */
.tutorialContainer-1pL9QS {
    margin-top: 10px;
}


/*
=-=-=-=-=-=-=-=
?Folder
=-=-=-=-=-=-=-=
*/



/* Folder Open Background */
.expandedFolderBackground-1kSAf6, .folder-241Joy {
    background-color: var(--prime-color);
}

/* Folder Color */
.closedFolderIconWrapper-3tRb2d {
    display: none;
}
.folderIconWrapper-1oRIZr:not([style=""])::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: inherit;
    -webkit-mask: url(https://skyenergy0.github.io/Beautiful-Discord-MK3/SVGs/folder.svg) no-repeat;
    mask: url(https://skyenergy0.github.io/Beautiful-Discord-MK3/SVGs/folder.svg) no-repeat;
    transform: scale(1.3335);
    filter: brightness(1.5) saturate(1.5);
}


/*
=-=-=-=-=-=-=-=
?Always Buttons
=-=-=-=-=-=-=-=
*/

/* Always Buttons */
.scroller-3X7KbA {
    contain: unset;
    margin-bottom: 50px;
    padding-bottom: 80px;
}
.scroller-3X7KbA::before {
    content: "";
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 72px;
    height: 132px;
    border-radius: 0px 0px var(--prime-border) var(--prime-border);
    background-color: var(--sec-color);
    z-index: 1;
}
.tutorialContainer-2jwoiB {
    position: fixed;
    bottom: 20px;
    z-index: 1;
}
.tutorialContainer-2jwoiB + .listItem-3SmSlK {
    position: fixed;
    bottom: 78px;
    contain: none;
    z-index: 1;
}
.circleIconButton-1VxDrg {
    background-color: var(--prime-color);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: #141414;
}


/*
=-=-=-=-=-=-=-=
?Other
=-=-=-=-=-=-=-=
*/

/* Position */
.wrapper-1_HaEi.guilds-2JjMmN {
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: var(--prime-border);
}

/* Background */
.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
    background-color: var(--sec-color);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Chat Nav Bar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.chat-2ZfjoI .container-ZMc96U.themed-Hp1KC_ {
    background-color: var(--sec-color);
}
.chat-2ZfjoI .children-3xh0VB::after {
    display: none;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?User Panel
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Pannel */
.panels-3wFtMD {
    margin: 5px;
    border-radius: var(--prime-border);
    background-color: var(--prime-color);
}
.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L {
    margin-right: 1px;
    padding-left: 0px;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Friends
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?DM Side
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Search Bar
=-=-=-=-=-=-=-=
*/

.searchBarComponent-3N7dCG {
    height: 42px;
}

.searchBar-3TnChZ {
    padding: 0px;
    box-shadow: none;
}


/*
=-=-=-=-=-=-=-=
?Background
=-=-=-=-=-=-=-=
*/

.scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN, .sidebar-1tnWFu, .privateChannels-oVe7HL {
    background-color: var(--sec-color);
}