.container_b2ce9c {
    width: 260px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
:has(.container__8ee50) .membersWrap__90226 {
    min-width: 260px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.members__9f47b {
    width: 260px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.member_aa4760 {
    max-width: 260px;
    background-color: unset;
}

.membersGroup__85843 {
    height: fit-content;
    padding-top: 15px;
}