.container-2vWgD2 {
    width: 260px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.membersWrap-3GwLFp {
    min-width: 260px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.members-2y1nVj {
    width: 260px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.member-2gU6Ar {
    max-width: 260px;
    background-color: unset;
}

.membersGroup-2YoqY- {
    height: fit-content;
    padding-top: 15px;
}