.container-2o3qEW {
    margin: 0 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.members-3WRCEx {
    border-radius: 8px;
    background-color: var(--color-2);
}
.member-2gU6Ar {
    background-color: var(--color-2);
}