.container-2vWgD2 {
    margin: 0 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.members-2y1nVj {
    border-radius: 8px;
    background-color: var(--color-2);
}
.member-2gU6Ar {
    background-color: var(--color-2);
}

.membersGroup-2YoqY- {
    height: fit-content;
    padding-top: 15px;
}