.customColorPicker_bbc020 {
    border: none;
    border-radius: 8px;
    background: var(--color-2) !important;
    box-shadow: none;
}

:has(.sectionsContainer_b45d91) .customColorPicker_bbc020 {
    width: 283px;
}
:has(.sectionsContainer_b45d91) .layer_cd0de5:has(.customColorPicker_bbc020) {
    margin: 61px -77px 0;
}
:has(.customColorPicker_bbc020) .customizationSection_b3a5c2:has(.colorSwatch_c66781) {
    padding-bottom: 346px !important;
}

:has(.colorPicker_da1bd9) .customColorPicker_bbc020 {
    width: 410px;
}
:has(.colorPicker_da1bd9) .layer_cd0de5:has(.customColorPicker_bbc020) {
    margin: 61px -150px 0;
}
:has(.customColorPicker_bbc020) .colorPicker_da1bd9 {
    padding-bottom: 271px !important;
}

.saturation__918ba>div {
    border-radius: 8px;
}
.customColorPicker_bbc020 .saturation-white {
    border-radius: 8px;
}
.customColorPicker_bbc020 .saturation-black {
    border-radius: 7px;
}

.suggestedColors__513bd {
    flex-wrap: unset;
}
.suggestedColor__713b5 {
    border: 2px solid var(--color-1);
    border-radius: 8px;
}
.suggestedColor__713b5:hover {
    border: 2px solid var(--accent);
    border-radius: 8px;
}