.customColorPicker__3cb6a {
    border: none;
    border-radius: 8px;
    background: var(--color-2) !important;
    box-shadow: none;
}

:has(.sectionsContainer_a37883) .customColorPicker__3cb6a {
    width: 283px;
}
:has(.sectionsContainer_a37883) .layer_ec16dd:has(.customColorPicker__3cb6a) {
    margin: 61px -77px 0;
}
:has(.customColorPicker__3cb6a) .customizationSection__16fec:has(.colorSwatch__5f5b9) {
    padding-bottom: 346px !important;
}

:has(.colorPicker_d98650) .customColorPicker__3cb6a {
    width: 410px;
}
:has(.colorPicker_d98650) .layer_ec16dd:has(.customColorPicker__3cb6a) {
    margin: 61px -150px 0;
}
:has(.customColorPicker__3cb6a) .colorPicker_d98650 {
    padding-bottom: 271px !important;
}

.saturation__35997>div {
    border-radius: 8px;
}
.customColorPicker__3cb6a .saturation-white {
    border-radius: 8px;
}
.customColorPicker__3cb6a .saturation-black {
    border-radius: 7px;
}

.suggestedColors_b91083 {
    flex-wrap: unset;
}
.suggestedColor__34249 {
    border: 2px solid var(--color-1);
    border-radius: 8px;
}
.suggestedColor__34249:hover {
    border: 2px solid var(--accent);
    border-radius: 8px;
}