.select-Zz0IcO {
    border: none;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}

.popout-15UxD6 {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: var(--color-2);
}
.option-Uc12mm {
    margin: 5px 0;
    border-radius: 8px;
}