.select_fe2671 {
    border: none;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}

.popout_a6e77f {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: var(--color-2);
}
.option_eb83e4 {
    margin: 5px 0;
    border-radius: 8px;
}