.select_f6639d {
    border: none;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}

.popout_f6639d {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: var(--color-2);
}
.option_f6639d {
    margin: 5px 0;
    border-radius: 8px;
}