.slider__22e99 .bar_e58961 {
    background: var(--color-2);
}
.slider__22e99 .barFill__30e17 {
    background: var(--accent);
}

.slider__22e99 .grabber_d2868c {
    border: none;
    background: var(--accent-2);
}

.slider__22e99 .defaultValue__4f02f .markValue_e7a6e4 {
    color: var(--accent);
}
.slider__22e99 .markDash_dc3ae9 {
    width: 4px;
    border-radius: 8px;
    background: var(--color-2);
}