.slider_c7a159 .bar_c7a159 {
    background: var(--color-2);
}
.slider_c7a159 .barFill_c7a159 {
    background: var(--accent);
}

.slider_c7a159 .grabber_c7a159 {
    border: none;
    background: var(--accent-2);
}

.slider_c7a159 .defaultValue_c7a159 .markValue_c7a159 {
    color: var(--accent);
}
.slider_c7a159 .markDash_c7a159 {
    width: 4px;
    border-radius: 8px;
    background: var(--color-2);
}