.bd-switch .bd-switch-body,
.container_cebd1c {
    background-color: var(--color-2) !important;
}

.bd-switch input:checked + .bd-switch-body,
.container_cebd1c.checked_cebd1c {
    background-color: var(--accent) !important;
}

.bd-switch .bd-switch-handle,
.container_cebd1c > svg > rect {
    fill: black !important;
}

.bd-switch input:checked + .bd-switch-body .bd-switch-handle,
.container_cebd1c.checked_cebd1c > svg > rect {
    fill: black !important;
}

.bd-switch .bd-switch-symbol path,
.container_cebd1c > svg > svg > path {
    display: none;
}