.bd-switch .bd-switch-body,
.container__2ed72 {
    background-color: var(--color-2) !important;
}

.bd-switch input:checked + .bd-switch-body,
.container__2ed72.checked__36fdc {
    background-color: var(--accent) !important;
}

.bd-switch .bd-switch-handle,
.container__2ed72 > svg > rect {
    fill: black !important;
}

.bd-switch input:checked + .bd-switch-body .bd-switch-handle,
.container__2ed72.checked__36fdc > svg > rect {
    fill: black !important;
}

.bd-switch .bd-switch-symbol path,
.container__2ed72 > svg > svg > path {
    display: none;
}