/* Banner Request */
html:has(.modeSelected-3DmyhH [data-list-item-id="channels___1126872641211473920"]) .channelTextArea-1FufC0.channelTextArea-1VQBuV {
    display: flex;
    flex-direction: column;
}

html:has(.modeSelected-3DmyhH [data-list-item-id="channels___1126872641211473920"]) .channelTextArea-1VQBuV::before {
    order: -2;
    display: flex;
    padding: 10px 16px 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    white-space: pre-wrap;
    content: "Request Custom Banner:";
    border-radius: 8px 8px 0 0;
    color: var(--header-primary);
    background: var(--color-2);
}
html:has(.modeSelected-3DmyhH [data-list-item-id="channels___1126872641211473920"]) .channelTextArea-1VQBuV::after {
    order: -1;
    display: flex;
    padding: 0 16px 8px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    content: "• Send the Name of you server \a • And send the number of channels on the server \a • When I have responded with\1F7E1 you can send me your server invite via DM. \a • Please wait at least 24 hours for requests to be fulfilled. Requests will not always be taken in instantly.";
    border-radius: 0;
    color: var(--header-secondary);
    background: var(--color-2);
}

html:has(.modeSelected-3DmyhH [data-list-item-id="channels___1126872641211473920"]) .scrollableContainer-15eg7h {
    border-radius: 0 0 8px 8px;
}