.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) {
    margin-left: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background);
}
.userProfileOuterThemed__1fbd7  .activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) {
    background-color: var(--profile-body-divider-color);
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .contentImagesProfileV2__5afe1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .contentImagesProfileV2__5afe1 .state_a85ac0 {
    display: none;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .contentImagesProfileV2__5afe1 .detailsWrap_a126c3 {
    font-size: 14px;
    opacity: .6;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .assetsLargeImageProfileV2__0f48c {
    border-radius: 8px;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .actionsProfileV2_eea61b {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .buttonSize__9da96 {
    margin: 0 6px 5px 0;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .button__88ad4 {
    margin: 5px;
    color: #1ed760;
    background-color: var(--color-2);
}
.userProfileOuterThemed__1fbd7  .activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .button__88ad4 {
    background-color: var(--profile-gradient-button-color);
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .button__88ad4 .listenAlongIcon_e364e3 {
    height: 18px;
    width: 18px;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .platformIcon_a2d873 {
    display: none;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .nameNormal_cb5c2b {
    max-width: 380px;
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .bar_e63719 {
    height: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.userProfileOuterThemed__1fbd7  .activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .bar_e63719 {
    background-color: var(--profile-body-background-color);
}
.activityProfileV2_f5335f:has(.spotifyButtonLogo__6ca34) .bar_e63719>.barInner__0f713 {
    border-radius: 8px;
    background-color: #1ed760;
}
.activityProfileV2_f5335f .spotifyButtonLogo__6ca34 path {
    fill: #1ed760;
}