.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) {
    margin-left: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background);
}
.userProfileOuterThemed__6eb84  .activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) {
    background-color: var(--profile-body-divider-color);
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .contentImagesProfileV2_aa86c4 {
    width: 100%;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .contentImagesProfileV2_aa86c4 .state_a85ac0 {
    display: none;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .contentImagesProfileV2_aa86c4 .detailsWrap__4faa4 {
    font-size: 14px;
    opacity: .6;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .assetsLargeImageProfileV2__6f065 {
    border-radius: 8px;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .actionsProfileV2__1c710 {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: column;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .buttonSize_ee7672 {
    margin: 0 6px 5px 0;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .button__9491f {
    margin: 5px;
    color: #1ed760;
    background-color: var(--color-2);
}
.userProfileOuterThemed__6eb84  .activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .button__9491f {
    background-color: var(--profile-gradient-button-color);
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .button__9491f .listenAlongIcon__86ce9 {
    height: 18px;
    width: 18px;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .platformIcon__05c5e {
    display: none;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .nameNormal__1d540 {
    max-width: 380px;
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    height: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.userProfileOuterThemed__6eb84  .activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    background-color: var(--profile-body-background-color);
}
.activityProfileV2__4de28:has(.spotifyButtonLogo__526f7) .bar_e63719>.barInner_d1abc6 {
    border-radius: 8px;
    background-color: #1ed760;
}
.activityProfileV2__4de28 .spotifyButtonLogo__526f7 path {
    fill: #1ed760;
}