.content-1gYQeQ a[data-list-item-id="channels___1084972817717657763"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1085119023001382912"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1085128885009653790"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084972817717657762"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084971115417440337"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084970696632959069"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1085216768118755348"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974047856709632"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084973994899419236"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974104593039480"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974163879538768"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974316178907256"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974370004414485"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084973788078280815"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974438069588069"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974494411653201"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084974532621770834"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1085124020539764746"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084973855803711509"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084973896391999488"]::before,
.content-1gYQeQ a[data-list-item-id="channels___1084973932890837022"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: auto 0;
    padding: 3px;
    font-size: 20px;
    border-radius: 80px;
}
.content-1gYQeQ a[data-list-item-id="channels___1084972817717657763"]::before {
    content: "👮‍♂️";
    background-color: #0095dd40;
}
.content-1gYQeQ a[data-list-item-id="channels___1085119023001382912"]::before {
    content: "💬";
    background-color: #ffffff40;
}
.content-1gYQeQ a[data-list-item-id="channels___1085128885009653790"]::before {
    content: "📝";
    background-color: #ff822d40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084972817717657762"]::before {
    content: "📜";
    background-color: #ffdea740;
}
.content-1gYQeQ a[data-list-item-id="channels___1084971115417440337"]::before {
    content: "👋";
    background-color: #ffc83d40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084970696632959069"]::before {
    content: "💬";
    background-color: #ffffff40;
}
.content-1gYQeQ a[data-list-item-id="channels___1085216768118755348"]::before {
    content: "🌐";
    background-color: #77b6e440;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974047856709632"]::before {
    content: "🔗";
    background-color: #bebebe40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084973994899419236"]::before {
    content: "🛒";
    background-color: #2285be40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974104593039480"]::before {
    content: "🚀";
    background-color: #f92f6040;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974163879538768"]::before {
    content: "🛍️";
    background-color: #009ae040;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974316178907256"]::before {
    content: "🛠️";
    background-color: #7d453340;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974370004414485"]::before {
    content: "🔧";
    background-color: #b4acbc40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084973788078280815"]::before {
    content: "👽";
    background-color: #53356640;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974438069588069"]::before {
    content: "📚";
    background-color: #86d72f40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974494411653201"]::before {
    content: "📈";
    background-color: #ed537d40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084974532621770834"]::before {
    content: "📚";
    background-color: #86d72f40;
}
.content-1gYQeQ a[data-list-item-id="channels___1085124020539764746"]::before {
    content: "🐦";
    background-color: #ca0b4a40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084973855803711509"]::before {
    content: "🎥";
    background-color: #63599440;
}
.content-1gYQeQ a[data-list-item-id="channels___1084973896391999488"]::before {
    content: "📺";
    background-color: #83cbff40;
}
.content-1gYQeQ a[data-list-item-id="channels___1084973932890837022"]::before {
    content: "🎵";
    background-color: #63599440;
}


.content-1gYQeQ a[data-list-item-id="channels___1084972817717657763"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1085119023001382912"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1085128885009653790"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084972817717657762"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084971115417440337"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084970696632959069"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1085216768118755348"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974047856709632"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084973994899419236"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974104593039480"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974163879538768"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974316178907256"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974370004414485"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084973788078280815"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974438069588069"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974494411653201"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084974532621770834"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1085124020539764746"] .iconContainer-21RCa3,
.content-1gYQeQ a[data-list-item-id="channels___1084973855803711509"] .iconContainer-21RCa3, 
.content-1gYQeQ a[data-list-item-id="channels___1084973896391999488"] .iconContainer-21RCa3, 
.content-1gYQeQ a[data-list-item-id="channels___1084973932890837022"] .iconContainer-21RCa3 {
    margin-left: 35px;
}