/*
=-=-=-=-=-=-=-=
?Width
=-=-=-=-=-=-=-=
*/

.embedAuthor_cb4bfc,
.embedProvider_cfa718,
.embedTitle__31740,
.embedDescription__33443,
.embedFields__51397,
.embedMedia_b473d2,
.embedThumbnail__468e1,
.embedFooter_a8f9aa {
    min-width: unset;
}


/*
=-=-=-=-=-=-=-=
?Border
=-=-=-=-=-=-=-=
*/

.embedWrapper_c143d9.embedFull__8dc21 {
    border-radius: 8px;
    border: 3px solid;
}


/*
=-=-=-=-=-=-=-=
?Background
=-=-=-=-=-=-=-=
*/

.embedFull__8dc21 {
    background: var(--color-2);
}