.invite__2a93b {
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}


.coverImageWrapper_d05fe1 {
    position: unset;
    opacity: 1;
}

.coverImageNotActionable__8e34a {
    filter: grayscale(0);
}
.coverImage__12e65 {
    height: 100px;
    mask: none;
}