.wrapper_b9fe76 {
    padding: 15px;
    margin-top: 2px;
    max-width: 450px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-2);
}

.guildIconImage_b9fe76 {
    border-radius: var(--border-radius-large) !important;
}

.inviteSplash_b9fe76 {
    height: 100px;
    margin: -5px -5px var(--margin-large) -5px;
    border-radius: var(--border-radius-large);
}