/* Background */
.wrapper_efe67f {
    padding: 15px;
    margin-top: 2px;
    max-width: 450px;
    border-radius: 8px;
    background-color: var(--color-2);
}

/* Logo */
.guildIconImage__93ae7 {
    border-radius: 8px !important;
}

/* Banner */
.inviteSplash_f4eb93 {
    height: 100px;
    margin: -5px -5px 15px -5px;
    border-radius: 8px;
}