.wrapper__8a5dd {
    padding: 15px;
    margin-top: 2px;
    max-width: 450px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.guildIconImage_c1aa48 {
    border-radius: 8px !important;
}

.inviteSplash__0f1df {
    height: 100px;
    margin: -5px -5px 15px -5px;
    border-radius: 8px;
}