/* Base */
.invite-3uuHYQ {
    height: fit-content;
    min-width: 500px;
    margin-top: 2.5px;
    padding: 28px 10px 10px;
    border: none;
    border-radius: 8px;
    background-color: #000 !important;
}
.invite-3uuHYQ:has(.state-3Nm83F) {
    padding: 28px 10px 48px;
}
.invite-3uuHYQ .fullHeight-2rYHNc {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

/* Haeder */
.invite-3uuHYQ .header-1Fx4D1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--header-primary);
}

/* Artwork */
.invite-3uuHYQ .anchor-1X4H4q:has(.artwork-28Cmnt) {
    height: 100px;
}
.invite-3uuHYQ .anchor-1X4H4q .artwork-28Cmnt {
    border-radius: 8px;
}
.coverImageWrapper-2wx5q1 {
    display: flex;
    max-width: unset;
}
.coverImageActionable-38UjN9 {
    filter: blur(5px) brightness(.8) !important;
    -webkit-mask: none;
    mask: none !important;
    background-position: center;
}

/* Text */
.details-1nO3iV,
.state-3Nm83F {
    max-width: 356px;
    white-space: unset;
}
.details-1nO3iV {
    white-space: nowrap;
}
.invite-3uuHYQ .details-1nO3iV .anchor-1X4H4q {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-normal);
}
.invite-3uuHYQ .state-3Nm83F {
    filter: brightness(.7);
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

/* Buttons */
.invite-3uuHYQ .actionAndParty-3gueRh {
    position: absolute;
    bottom: 10px;
    left: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
}
.invite-3uuHYQ .actionAndParty-3gueRh .actionButton-1oqssG {
    color: #1ed760;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: transparent;
    opacity: 1;
}
.invite-3uuHYQ .actionAndParty-3gueRh .disabledButtonWrapper-1m0hYZ .actionButton-1oqssG {
    filter: brightness(0.5);
}
.invite-3uuHYQ .actionAndParty-3gueRh .actionButton-1oqssG {
    display: none;
}
.invite-3uuHYQ:has(.state-3Nm83F) .actionButton-1oqssG {
    display: block;
}
.invite-3uuHYQ .partyMembers-3cd-7x {
    margin: 0;
    padding: 5px;
    border-radius: 8px;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: transparent;
}
.invite-3uuHYQ .partyMembers-3cd-7x svg {
    height: 22px;
    width: 22px;
}