/* Base */
.invite__2a93b {
    height: fit-content;
    min-width: 500px;
    margin-top: 2.5px;
    padding: 28px 10px 10px;
    border: none;
    border-radius: 8px;
    background-color: #000 !important;
}
.invite__2a93b:has(.state__9cb82) {
    padding: 28px 10px 48px;
}
.invite__2a93b .fullHeight_b454e6 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

/* Haeder */
.invite__2a93b .header__1c712 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--header-primary);
}

/* Artwork */
.invite__2a93b .anchor_c8ddc0:has(.artwork_ea47dd) {
    height: 100px;
}
.invite__2a93b .anchor_c8ddc0 .artwork_ea47dd {
    border-radius: 8px;
}
.coverImageWrapper_d05fe1 {
    display: flex;
    max-width: unset;
}
.coverImageActionable__8caed {
    filter: blur(5px) brightness(.8) !important;
    -webkit-mask: none;
    mask: none !important;
    background-position: center;
}

/* Text */
.details__22e62,
.state__9cb82 {
    max-width: 356px;
    white-space: unset;
}
.details__22e62 {
    white-space: nowrap;
}
.invite__2a93b .details__22e62 .anchor_c8ddc0 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-normal);
}
.invite__2a93b .state__9cb82 {
    filter: brightness(.7);
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

/* Buttons */
.invite__2a93b .actionAndParty__316e0 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
}
.invite__2a93b .actionAndParty__316e0 .actionButton__8649e {
    color: #1ed760;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: transparent;
    opacity: 1;
}
.invite__2a93b .actionAndParty__316e0 .disabledButtonWrapper_b04230 .actionButton__8649e {
    filter: brightness(0.5);
}
.invite__2a93b .actionAndParty__316e0 .actionButton__8649e {
    display: none;
}
.invite__2a93b:has(.state__9cb82) .actionButton__8649e {
    display: block;
}
.invite__2a93b .partyMember__7fbef {
    margin: 0;
    padding: 5px;
    border-radius: 8px;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: transparent;
}