/* Base */
.invite__2a93b {
    height: fit-content;
    min-width: 500px;
    margin-top: 2.5px;
    padding: 28px 10px 10px;
    border: none;
    border-radius: 8px;
    background-color: #000 !important;
}
.invite__2a93b:has(.state__9cb82) {
    padding: 28px 10px 48px;
}
.invite__2a93b .fullHeight_e79f1c {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

/* Haeder */
.invite__2a93b .header__8b673 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--header-primary);
}

/* Artwork */
.invite__2a93b .anchor_c8ddc0:has(.artwork__34afd) {
    height: 100px;
}
.invite__2a93b .anchor_c8ddc0 .artwork__34afd {
    border-radius: 8px;
}
.coverImageWrapper_e12d83 {
    display: flex;
    max-width: unset;
}
.coverImageActionable__4726a {
    filter: blur(5px) brightness(.8) !important;
    -webkit-mask: none;
    mask: none !important;
    background-position: center;
}

/* Text */
.details__2923a,
.state__9cb82 {
    max-width: 356px;
    white-space: unset;
}
.details__2923a {
    white-space: nowrap;
}
.invite__2a93b .details__2923a .anchor_c8ddc0 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-normal);
}
.invite__2a93b .state__9cb82 {
    filter: brightness(.7);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

/* Buttons */
.invite__2a93b .actionAndParty__28beb {
    position: absolute;
    bottom: 10px;
    left: 10px;
    justify-content: space-between;
    width: calc(100% - 20px);
}
.invite__2a93b .actionAndParty__28beb .actionButton__8ecea {
    color: #1ed760;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: transparent;
    opacity: 1;
}
.invite__2a93b .actionAndParty__28beb .disabledButtonWrapper__69c70 .actionButton__8ecea {
    filter: brightness(0.5);
}
.invite__2a93b .actionAndParty__28beb .actionButton__8ecea {
    display: none;
}
.invite__2a93b:has(.state__9cb82) .actionButton__8ecea {
    display: block;
}
.invite__2a93b .partyMembers__351a2 {
    margin: 0;
    padding: 5px;
    border-radius: 8px;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: transparent;
}
.invite__2a93b .partyMembers__351a2 svg {
    height: 22px;
    width: 22px;
}