/* Width */
.invite-3uuHYQ {
    max-width: 450px;
}

/* Background */
.theme-dark
.invite-3uuHYQ {
    border: none;
    background: var(--color-2);
}

/* Background Image */
.coverImageWrapper-2wx5q1 {
    display: none;
}