.children_b15c64 .activeGame__99516 {
    border-radius: 8px;
    background-color: var(--color-2);
}
.children_b15c64 .nowPlaying__353c3 {
    background-color: var(--accent) !important;
}

.children_b15c64:has(.nowPlayingAdd__7caf1) .marginTop40__2b1fe {
    margin: 0px 0 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.children_b15c64 .game__19f4b.card_dc88cd {
    margin-top: 5px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-1);
    box-shadow: none;
}

.children_b15c64 .game__19f4b .removeGame_aa12f1 {
    top: -10px;
    right: -10px;
}