*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #49577e;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #35405e;
}