/* List */
.increasedActivityMainCard__916ed {
    border: 0;
    border-radius: 8px;
    background-color: var(--color-4);
}
.increasedActivityMainCard__916ed:hover {
    border: 0;
    background-color: var(--color-2) !important;
}
.increasedActivityMainCard__916ed.isOpen__036bf {
    background-color: var(--color-2) !important;
}

.increasedActivityMainCard__916ed .tags_b7acc4 {
    padding: 5px 10px;
    border-radius: 8px;
}

.increasedActivityMainCard__916ed .replies_c11247 {
    border-radius: 8px;
    background-color: var(--color-1);
}


/* Grid */
.mainCard__8a660 {
    border: 0;
    border-radius: 8px;
    background-color: var(--color-4);
}
.mainCard__8a660:hover {
    border: 0;
    background-color: var(--color-2) !important;
}
.mainCard__8a660.isOpen_d88bb6 {
    background-color: var(--color-2) !important;
}

.mainCard__8a660 .contentPreview_b317ee {
    border: 2px solid var(--color-6);
    background-color: var(--color-2);
}
.mainCard__8a660 .contentPreview_b317ee .textContentFooter__5a630 {
    padding: 5px;
    background: var(--color-2);
}

.mainCard__8a660 .tagPill_d9a5cc {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}