.resizeHandle_cc9d34 {
    height: 200px;
    width: 5px;
    margin: auto 5px;
    border-radius: 8px;
    background: var(--accent-2);
    transition: height 0.3s ease-in-out;
}
.resizeHandle_cc9d34:hover {
    height: 210px;
    background: var(--accent);
}
.container__694a1 {
    background: var(--background);
}

.container__694a1 .chatHeaderBar__9e6ac {
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.container__68e43 {
    margin: 10px 15px 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}
.divider__4df9f {
    display: none;
}