.resizeHandle_d1c246 {
    height: 200px;
    width: 5px;
    margin: auto 5px;
    border-radius: 8px;
    background: var(--accent-2);
    transition: height 0.3s ease-in-out;
}
.resizeHandle_d1c246:hover {
    height: 210px;
    background: var(--accent);
}
.container_d1c246 {
    background: var(--background);
}

.container_d1c246 .chatHeaderBar_e2f46e {
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.container_b385c8 {
    margin: 10px 15px 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}
.divider_af45f8 {
    display: none;
}