.resizeHandle-2F4Beb {
    height: 200px;
    width: 5px;
    margin: auto 5px;
    border-radius: 8px;
    background: var(--accent-2);
}
.resizeHandle-2F4Beb:hover {
    background: var(--accent);
}
.container-3s2w-i {
    background: var(--background);
}

.container-3YcgdM {
    margin: 10px 15px 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}
.container-3s2w-i .divider-AZrXIA {
    display: none;
}