.resizeHandle_f1a098 {
    height: 200px;
    width: 5px;
    margin: auto 5px;
    border-radius: 8px;
    background: var(--accent-2);
}
.resizeHandle_f1a098:hover {
    background: var(--accent);
}
.container_def45c {
    background: var(--background);
}

.container__8ee50 {
    margin: 10px 15px 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}
.content__1a4fe .divider_ffec75 {
    display: none;
}