.container_b181b6 .grid__36f14::-webkit-scrollbar {
    display: none;
}

.content__23cab div:has(.headerRow__16d8e) {
    position: unset !important;
    width: -webkit-fill-available !important;
    margin: 15px 15px 0;
}
.content__23cab .headerRow__16d8e {
    width: -webkit-fill-available !important;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.container__7940a {
    border-radius: 8px;
    background-color: var(--color-3);
}

.list__5ced9::-webkit-scrollbar {
    display: none;
}
.list__5ced9 .content__23cab {
    padding: 0 !important;
}
.list__5ced9 .header_c01fde {
    margin: 0;
}
.list__5ced9 .headerRow__16d8e {
    margin: 15px;
}

.tagsContainer_e0ece5 {
    padding: 10px 10px 0;
}
.sortDropdown_ec3016,
.pill_f055c3,
.tagsButton_e96762 {
    background-color: var(--color-1);
}