.userInfo-regn9W {
    height: 104px;
}
.userInfo-regn9W div:has(.profileCardUsernameRow-1bb6fi) {
    display: grid;
    align-content: center;
}
.avatar-3mTjvZ {
    top: unset;
    top: 16px;
    left: 16px;
}
.accountProfileCard-lbN7n- .bannerSVGWrapper-2CLfzN {
    display: none;
}