.userInfo__8f826 {
    height: 104px;
}
.userInfo__8f826 div:has(.profileCardUsernameRow__4cbd8) {
    display: grid;
    align-content: center;
}
.avatar__6c108 {
    top: unset;
    top: 16px;
    left: 16px;
}
.accountProfileCard__22589 .bannerSVGWrapper__3e7b0 {
    display: none;
}