.userInfo_fb7651 {
    height: 104px;
}
.userInfo_fb7651 div:has(.profileCardUsernameRow_f8853e) {
    display: grid;
    align-content: center;
}
.avatar__6c108 {
    top: unset;
    top: 16px;
    left: 16px;
}
.accountProfileCard__744d8 .bannerSVGWrapper__8a38c {
    display: none;
}