.vc-plugins-grid,
.vc-settings-theme-grid {
    display: grid;
    grid: auto-flow dense/repeat(auto-fit,minmax(30rem,1fr));
    grid-auto-rows: minmax(3rem,auto);
    grid-gap: 15px;
}


.vc-addon-card {
    margin: 0;
    border-radius: 8px;
    background: var(--color-2);
}

.vc-addon-header {
    width: auto;
    margin: 0 0 10px;
    padding: 10px;
    border: 2px solid var(--color-3);
    border-radius: 8px;
    background: var(--color-3);
}
.vc-addon-header .bd-icon {
    height: 20px !important;
    width: 20px !important;
    fill: var(--accent);
}

.vc-addon-card a[role="link"] {
    color: var(--accent);
}