@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, p, h1, h2, h3 {
  height: fit-content;
  width: 100%;
  color: #fff;
  margin: 0px;
  user-select: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
  font-family: 'Be Vietnam Pro', sans-serif;
  background: url(/SpaceLink/images/background_filter.webp) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.info {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.info img {
  margin-bottom: 10px;
  height: 300px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.65);
}

.divider h2 {
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  width: 30%;
  min-width: 350px;
  text-align: center;
  border-radius: 8px;
  background-color: #111111;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.65);
}

.link img {
  margin-right: 20px;
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

.link {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  width: 30%;
  min-width: 350px;
  border-radius: 8px;
  background-color: #1e1e1e;
}

.link:hover {
  transform: scale(1.01);
}

img.shadow {
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.65);
}

.title {
  font-size: 25px;
}

.disc {
  margin-top: 10px;
  font-size: 18px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #353535;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1e1e1e;
}