@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, p, h1, h2, h3 {
    height: fit-content;
    width: 100%;
    margin: 0px;
    user-select: none;
    color: #fff;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: linear-gradient(135deg, #8589ff40 0%, #0a0a0a40 50%, #8589ff40 100%) #0a0a0a;
}

.info {
    font-size: 20px;
    text-align: center;
}

.info img {
    margin: 40px 0 10px;
    height: 300px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.65);
}

.name {
    width: fit-content;
    margin: auto;
    color: transparent !important;
    background: linear-gradient(90deg,#878cff,#666cff 34%,#878cff 67%,#666cff);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: pulse 2s linear infinite;
}
@keyframes pulse {
    0% {
        background-position: 100%;
    }
    to {
        background-position:0;
    }
}

.links {
    margin: 0 10px;
}

.divider h2 {
    padding: 20px;
    margin: auto;
    margin-top: 45px;
    width: auto;
    max-width: 1200px;
    text-align: center;
    border-radius: 8px;
    background-color: #111111;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.65);
}

.link img {
    margin-right: 20px;
    height: 120px;
    width: 120px;
    border-radius: 8px;
    object-fit: contain;
}

.link {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 15px;
    width: auto;
    max-width: 1200px;
    height: 120px;
    border-radius: 8px;
    background-color: #1e1e1e;
}
.link:hover {
    transform: scale(1.01);
}

.title {
    font-size: 25px;
}

.disc {
    margin-top: 10px;
    font-size: 18px;
}