/* Browse Channels v0.1 */
.container__10dc7,
.container__10dc7 .scrollerContainer_bf5dbd,
.container__10dc7 .container__7590f {
    border-radius: 8px;
    background-color: var(--color-1) !important;
}
.container__10dc7 .prompt__1b100,
.container__10dc7 .channelRow__96673 {
    background-color: var(--color-2);
}
.optionButtonWrapper__4072c.selected__90dd8 {
    background-color: var(--color-1);
}