/* Navbar */
.root__3eef0.idle_d696d0 .topControls_e834ab {
    opacity: 1;
    transform: unset;
}


/* Base */
.callContainer__1477d {
    background-color: var(--background);
}
.videoGridWrapper__23cdc {
    margin-top: 70px;
    border-radius: 8px;
    background-color: var(--color-1);
}


/* Gradient */
.videoControls_af6621 .gradientContainer_cdada6 {
    display: none;
}


/* Toolbar */
.root__3eef0.idle_d696d0 .bottomControls__72d8d {
    opacity: 1;
    transform: unset;
}