.container_e44302 {
    height: 55px;
    width: auto;
    margin: 0 0 15px 0;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.container_c2739c {
    background-color: var(--background);
}


.container_e44302 .children_e44302::after {
    background: var(--color-2) !important;
}

.tabBody_c2739c::before {
    box-shadow: none;
    -webkit-box-shadow: none;
}


/* Nav toolbar buttons */
.toolbar_e44302 .iconWrapper_e44302 {
    height: 34px;
    margin: 5px 2.5px;
    padding: 5px 18px;
    border-radius: 8px;
    background-color: var(--color-3);
}

.toolbar_e44302 .iconWrapper_e44302 .iconBadge_e44302 {
    right: 18px;
    bottom: 6px;
}

.inviteToolbar_c2739c .divider_e44302 {
    display: none;
}

.search_ff5f90 {
    margin: 0;
}
.searchBar_a46bef {
    width: 140px;
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--color-3);
    transition: width 1s ease-in-out;
}
.DraftEditor-root {
    width: 90px;
}