.container__11d72 {
    height: 55px;
    width: auto;
    margin: 0 0 15px 0;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.container__5c7e7 {
    background-color: var(--background);
}


.container__11d72 .children__32014::after {
    background: var(--color-2) !important;
}

.tabBody_b3d268::before {
    box-shadow: none;
    -webkit-box-shadow: none;
}


/* Nav toolbar buttons */
.toolbar__88c63 .iconWrapper_af9215 {
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 18px;
    border-radius: 8px;
    background-color: var(--color-3);
}

.inviteToolbar_e74dc0 .divider_c09b64 {
    display: none;
}

.search__07df0 {
    margin: 0;
}
.searchBar_e0c60b {
    width: 140px;
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--color-3);
    transition: width 1s ease-in-out;
}
.DraftEditor-root {
    width: 90px;
}