.container__11d72 {
    height: 55px;
    width: auto;
    margin: 0 0 15px 0;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}


.container__11d72 .children__32014::after {
    background: var(--color-2) !important;
}

.tabBody_b3d268::before {
    box-shadow: none;
    -webkit-box-shadow: none;
}


/* Nav toolbar buttons */
.container__11d72 .toolbar__88c63 .iconWrapper_af9215 {
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 18px;
    border-radius: 8px;
    background-color: var(--color-3);
}

.search__07df0 {
    margin: 0;
}
.searchBar_e0c60b {
    width: auto;
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 18px;
    border-radius: 8px;
    background-color: var(--color-3);
}
.DraftEditor-root {
    width: 64px;
}