.chat__52833 {
    background-color: transparent;
}
.content__1a4fe:before {
    display: none;
}

.chatContent__5dca8 {
    border-radius: 8px;
    background-color: var(--color-1);
}
.chatContent__5dca8 .scroller__1f96e {
    border-radius: 8px;
}
.form__13a2c::before {
    display: none;
}