/*Normal*/
.form-3qe0Ni .channelTextArea-1deLlK .scrollableContainer-15eg7h {
    background-color: var(--color-1);
}
.form-3qe0Ni .channelTextArea-1deLlK .scrollableContainer-15eg7h .inner-NQg18Y {
    border-radius: 8px;
    background-color: var(--color-2);
}
.form-3qe0Ni .channelTextArea-1deLlK .scrollableContainer-15eg7h .divider-2rZFJK {
    display: none;
}
.channelTextArea-1deLlK .channelAttachmentArea-HwpkuQ {
    margin: 0 0 2.5px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.replyBar-1oi75v {
    margin: 0 0 2.5px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.attachedBars-2BCP3l {
    border-radius: 0;
    background: var(--color-1);
}
.clipContainer-31nYlH {
    padding: 0;
}


/*No Permission*/
.channelTextArea-1deLlK.channelTextArea-1VQBuV.channelTextAreaDisabled-1p2fQv {
    padding-left: 5px;
    border: 3px solid #FF4747;
}
.channelTextArea-1deLlK {
    background-color: var(--color-2);
}
.channelTextArea-1deLlK.channelTextArea-1VQBuV.channelTextAreaDisabled-1p2fQv .scrollableContainer-15eg7h {
    opacity: 1;
    background-color: transparent;
}
.channelTextArea-1deLlK.channelTextArea-1VQBuV.channelTextAreaDisabled-1p2fQv .attachButton-_ACFSu {
    display: none;
}


/*Announcement Follow*/
.wrapper-IjGAlW {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    border: 3px solid #5661f6;
    border-radius: 8px;
}
.wrapper-IjGAlW .image-15uDsn {
    display: none;
}
.wrapper-IjGAlW .buttonContainer-1OlVVX .button-1F0CyK {
    border-radius: 8px;
    background-color: #5661f6;
}


/* Message input buttons */
.scrollableContainer-15eg7h {
    overflow-y: unset;
}
.sansAttachButton-1ERHue {
    padding-left: 2.5px;
}
.webkit-QgSAqd .buttons-uaqb-5 {
    margin-right: 2.5px;
}
.buttons-uaqb-5 .expression-picker-chat-input-button.buttonContainer-2lnNiN,
.buttons-uaqb-5>.button-ejjZWC,
.attachButton-_ACFSu {
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--color-3);
}
.buttons-uaqb-5 .expression-picker-chat-input-button.buttonContainer-2lnNiN:hover,
.buttons-uaqb-5>.button-ejjZWC:hover,
.attachButton-_ACFSu:hover {
    background-color: var(--color-1);
}
.attachButton-_ACFSu {
    margin-right: 10px;
}
.attachButton-_ACFSu .contents-3NembX {
    padding: 0 4px;
    margin-left: 4px;
    margin-right: 4px;
}