/*Normal*/
.form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 {
    background-color: var(--color-1);
}
.form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 .inner__9fd0b {
    border-radius: 8px;
    background-color: var(--color-2);
}
.form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 .divider_b9338f {
    display: none;
}
.channelTextArea__2e60f .channelAttachmentArea__740bf {
    margin: 0 0 2.5px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.replyBar_b64d74 {
    margin: 0 0 2.5px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.attachedBars_da3c74 {
    border-radius: 0;
    background: var(--color-1);
}
.clipContainer__99c30 {
    padding: 0;
}


/*No Permission*/
.channelTextArea__2e60f.channelTextAreaDisabled_c43b1c {
    border: 3px solid #FF4747;
}
.channelTextArea__2e60f {
    background-color: var(--color-2);
}
.channelTextArea__2e60f.channelTextAreaDisabled_c43b1c .scrollableContainer__33e06 {
    opacity: 1;
    background-color: transparent;
}
.channelTextArea__2e60f.channelTextAreaDisabled_c43b1c .attachButton-_ACFSu {
    display: none;
}


/*Announcement Follow*/
.wrapper_fbbb73 {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    border: 3px solid #5661f6;
    border-radius: 8px;
}
.wrapper_fbbb73 .image__04423 {
    display: none;
}
.wrapper_fbbb73 .buttonContainer__1c00c .button__2b3a3 {
    border-radius: 8px;
    background-color: #5661f6;
}


/* Message input buttons */
.scrollableContainer__33e06 {
    overflow-y: unset;
}
.sansAttachButton__996a4 {
    padding-left: 2.5px;
}
.webkit__8d35a .buttons_ce5b56 {
    margin-right: 2.5px;
}
.buttons_ce5b56 .expression-picker-chat-input-button.buttonContainer__8b164,
.buttons_ce5b56>.button_afdfd9,
.attachButton_b1db83 {
    height: unset;
    margin: 5px 2.5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--color-3);
}
.buttons_ce5b56 .expression-picker-chat-input-button.buttonContainer__8b164:hover,
.buttons_ce5b56>.button_afdfd9:hover,
.attachButton_b1db83:hover {
    background-color: var(--color-1);
}
.attachButton_b1db83 {
    margin-right: 10px;
}
.attachButton_b1db83 .contents_fb6220 {
    padding: 0 4px;
    margin-left: 4px;
    margin-right: 4px;
}