.chat_a7d72e {
    background-color: var(--background) !important;
}

.chat_a7d72e .scroller_d20375 {
    padding: 0;
    border-radius: 8px;
}
.chat_a7d72e .scroller_d20375::-webkit-scrollbar {
    display: none;
}

.container_d20375 {
    height: 100%;
    padding: 0;
    background-color: transparent !important;
}

.mainTableContainer_e23072 {
    border-radius: 8px;
    background-color: var(--color-1);
}


.searchHeaderContainer_b0740c {
    margin: 15px 15px 0;
    border-radius: 8px;
    background-color: var(--color-2);
}


.table_aabef9 {
    padding: 74px 15px 77px;
    border: none;
}


.paginationContainer_cb152b {
    margin: 0 15px 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}