/** Chat Bubbles */
.groupStart__56db5.cozyMessage__64ce7>.contents_f41bb2,
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
    width: fit-content;
    margin: 0;
    padding: 7px 12px;
    border-radius: 8px;
    background: var(--color-4);
}

.cozyMessage__64ce7.automodMessage__410f7:before,
.cozyMessage__64ce7.ephemeral_c26b64:before,
.cozyMessage__64ce7.mentioned__58017:before,
.cozyMessage__64ce7.replying_d7b6ad:before {
    width: 0;
}

.groupStart__56db5.cozyMessage__64ce7.mentioned__58017 .contents_f41bb2,
.cozyMessage__64ce7.mentioned__58017:not(.groupStart__56db5) .contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
    border: 2px solid #EF8D4B;
    background: rgba(239, 141, 75, 0.17);
}
.cozyMessage__64ce7.mentioned__58017 {
    background: unset;
}

.groupStart__56db5.cozyMessage__64ce7.replying_d7b6ad .contents_f41bb2,
.cozyMessage__64ce7.replying_d7b6ad:not(.groupStart__56db5) .contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *),
.groupStart__56db5.cozyMessage__64ce7.ephemeral_c26b64 .contents_f41bb2,
.cozyMessage__64ce7.ephemeral_c26b64:not(.groupStart__56db5) .contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
    border: 2px solid #4B6FEF;
    background: rgba(75, 111, 239, 0.17);
}
.cozyMessage__64ce7.replying_d7b6ad,
.cozyMessage__64ce7.ephemeral_c26b64 {
    background: unset;
}

.groupStart__56db5.cozyMessage__64ce7.automodMessage__410f7 .contents_f41bb2,
.cozyMessage__64ce7.automodMessage__410f7:not(.groupStart__56db5) .contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
    border: 2px solid #EF4B4B;
    background: rgba(239, 75, 75, 0.17);
}
.cozyMessage__64ce7.automodMessage__410f7 {
    background: unset;
}

.groupStart__56db5.cozyMessage__64ce7.automodMessage__410f7:hover .contents_f41bb2,
.cozyMessage__64ce7.automodMessage__410f7:not(.groupStart__56db5):hover .contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) {
    border: 2px solid var(--text-danger);
    background: var(--background-message-automod-hover);
}
.cozyMessage__64ce7.automodMessage__410f7:hover {
    background: var(--background-message-automod-hover);
}

.shiki-root {
    background-color: var(--color-4) !important;
}
.groupStart__56db5.cozyMessage__64ce7>.contents_f41bb2 .markup_a7e664 code,
.cozyMessage__64ce7:not(.groupStart__56db5)>.contents_f41bb2>.markup_a7e664:not(:empty, .searchResultsWrap__9f374 *) code {
    border: 2px solid var(--background);
    border-radius: 8px;
    background-color: var(--color-1);
}

.markup_a7e664 blockquote, .markup_a7e664 pre {
    max-width: 100%;
}


/* Edited message date */
.timestamp_cdbd93:not(.timestampInline__470e0, .timestampVisibleOnHover_e8cc6d) time::after {
    content: " (" attr(aria-label) ")";
    color: var(--text-muted);
    font-size: 0.625rem;
}
.edited_b20dd9:not(.message-translate-indicator),
.timestamp_cdbd93.latin12CompactTimeStamp__75bf7 time::after {
    display: none;
}


/* No Internet */
.wrapper__3d460 {
    background-color: unset;
}
.wrapper_b8c724 {
    background-color: var(--color-1);
}
.wrapper__5c5cd {
    background-color: var(--color-1);
}


/* Controls */
.buttonContainer_dd4b62 .wrapper_c727b6 {
    border-radius: 8px;
    background-color: var(--color-2);
}
.buttonContainer-1502pfb .wrapper_c727b6 .button_d553e5.selected__63428 {
    background-color: var(--color-6);
}


/* Chat Pills */
.divider__8cf56 {
    justify-content: end;
    height: 2px;
    border: none;
    border-radius: 8px;
    background-color: #2E2F33;
}
.divider__8cf56.isUnread__6f880 {
    background-color: #EF4B4B;
}

.content_d67847 {
    padding: 8px 10px;
    border: 2px solid #2E2F33;
    border-radius: 80px;
    background: #1E1E1E;
}

.isUnread__6f880 .content_d67847 {
    border-color: #EF4B4B;
}
.isUnread__6f880 .endCap__95d53 {
    order: 1;
    top: -6px;
    left: 0 ;
    right: unset;
    padding: 0 1px 0 4px;
    border-radius: 4px 0 0 4px;
}
.isUnread__6f880 .endCap__95d53 .unreadPillCap__96b8d {
    left: unset;
    right: -8px;
    transform: rotate(180deg);
}