/** Chat Bubbles */
@import url("https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css");
:root {
    /* Chat Bubble */
    --chat-bubble: 1;                                           /* default: 1 */
    --chat-bubble-border-radius: 8px;                           /* default: 8px */
    --chat-bubble-background-color: var(--color-4);             /* default: var(--color-4) */
    --chat-bubble-border-color: var(--color-4);                 /* default: var(--color-4) */
    --chat-bubble-code-background-color: #242627;             /* default: #232527 */
    --chat-bubble-max-width: 100%;                              /* default: 90% */
    --chat-bubble-box-shadow-h-offset: 0;                       /* default: 0 */
    --chat-bubble-box-shadow-v-offset: 0;                       /* default: 0 */
    --chat-bubble-box-shadow-blur: 0;                           /* default: 0 */
    --chat-bubble-box-shadow-color-h: 0;                        /* default: 0 */
    --chat-bubble-box-shadow-color-s: 0;                        /* default: 0% */
    --chat-bubble-box-shadow-color-l: 0;                        /* default: 0% */
    --chat-bubble-box-shadow-color-a: 0;                        /* default: 0 */
}

/*
=-=-=-=-=-=-=-=
?Controls
=-=-=-=-=-=-=-=
*/

.buttonContainer-1502pf
.wrapper-2vIMkT {
    border-radius: 8px;
    background-color: var(--color-2);
}
.buttonContainer-1502pf
.wrapper-2vIMkT
.button-3bklZh.selected-69H4ua {
    background-color: var(--color-6);
}