/** Chat Bubbles */
@import url("https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css");
:root {
    /* Chat Bubble */
    --chat-bubble: 1;                                           /* default: 1 */
    --chat-bubble-border-radius: 8px;                           /* default: 8px */
    --chat-bubble-background-color: var(--color-4);             /* default: var(--color-4) */
    --chat-bubble-border-color: var(--color-4);                 /* default: var(--color-4) */
    --chat-bubble-code-background-color: #242627;             /* default: #232527 */
    --chat-bubble-max-width: 100%;                              /* default: 90% */
    --chat-bubble-box-shadow-h-offset: 0;                       /* default: 0 */
    --chat-bubble-box-shadow-v-offset: 0;                       /* default: 0 */
    --chat-bubble-box-shadow-blur: 0;                           /* default: 0 */
    --chat-bubble-box-shadow-color-h: 0;                        /* default: 0 */
    --chat-bubble-box-shadow-color-s: 0;                        /* default: 0% */
    --chat-bubble-box-shadow-color-l: 0;                        /* default: 0% */
    --chat-bubble-box-shadow-color-a: 0;                        /* default: 0 */
}


/* Edited message date */
.timestamp_cdbd93:not(.timestampInline__470e0, .timestampVisibleOnHover_e8cc6d) time::after {
    content: " (" attr(aria-label) ")";
    color: var(--text-muted);
    font-size: 0.625rem;
}
.edited_b20dd9:not(.message-translate-indicator) {
    display: none;
}


/*TODO: When Message Bubbles fixed fix this code */
/* Mention message */
.groupStart-3Mlgv1.cozyMessage-1DWF9U.mentioned-Tre-dv .contents-2MsGLg,
.cozyMessage-1DWF9U.mentioned-Tre-dv:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    border: 2px solid #EF8D4B;
    background: linear-gradient(0deg, rgba(239, 141, 75, 0.17) 0%, rgba(239, 141, 75, 0.17) 100%), var(--color-2);
}

/* Reply message */
.groupStart-3Mlgv1.cozyMessage-1DWF9U.replying-eZ7p5z .contents-2MsGLg,
.cozyMessage-1DWF9U.replying-eZ7p5z:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *),
.groupStart-3Mlgv1.cozyMessage-1DWF9U.ephemeral-2nDdnn .contents-2MsGLg,
.cozyMessage-1DWF9U.ephemeral-2nDdnn:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    border: 2px solid #4B6FEF;
    background: linear-gradient(0deg, rgba(75, 111, 239, 0.17) 0%, rgba(75, 111, 239, 0.17) 100%), var(--color-2);
}

/* Automod message */
.groupStart-3Mlgv1.cozyMessage-1DWF9U.automodMessage-265YwJ .contents-2MsGLg,
.cozyMessage-1DWF9U.automodMessage-265YwJ:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    border: 2px solid #EF4B4B;
    background: linear-gradient(0deg, rgba(239, 75, 75, 0.17) 0%, rgba(239, 75, 75, 0.17) 100%), var(--color-2);
}


/* Controls */
.buttonContainer_dd4b62 .wrapper_c727b6 {
    border-radius: 8px;
    background-color: var(--color-2);
}
.buttonContainer_dd4b62 .wrapper_c727b6 .button_d553e5.selected__63428 {
    background-color: var(--color-6);
}


/* Chat Pills */
.divider__8cf56 {
    justify-content: end;
    height: 2px;
    border: none;
    border-radius: 8px;
    background-color: #2E2F33;
}
.divider__8cf56.isUnread__6f880 {
    background-color: #EF4B4B;
}

.content_d67847 {
    padding: 8px 10px;
    border: 2px solid #2E2F33;
    border-radius: 80px;
    background: #1E1E1E;
}

.isUnread__6f880 .content_d67847 {
    border-color: #EF4B4B;
}
.isUnread__6f880 .endCap__95d53 {
    order: 1;
    top: -6px;
    left: 0 ;
    right: unset;
    padding: 0 1px 0 4px;
    border-radius: 4px 0 0 4px;
}
.isUnread__6f880 .endCap__95d53 .unreadPillCap__96b8d {
    left: unset;
    right: -8px;
    transform: rotate(180deg);
}