.layerContainer_a2fcaa:has(.messagesPopoutWrap__10dd1) .layer__6b5c3 {
    top: 91.5px !important;
}


.layerContainer_a2fcaa .messagesPopoutWrap__10dd1 {
    width: 600px;
    max-height: 80vh !important;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.layerContainer_a2fcaa .messagesPopoutWrap__10dd1 .header__21b33 {
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.layerContainer_a2fcaa .messagesPopoutWrap__10dd1 [class*="scroller"] {
    padding: 0;
    border-radius: 8px;
}
.layerContainer_a2fcaa .messagesPopoutWrap__10dd1 [class*="scroller"]::-webkit-scrollbar {
    display: none;
}

.layerContainer_a2fcaa .messagesPopoutWrap__10dd1 .messageGroupWrapper__1fce2 {
    margin-bottom: 5px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-1);
}

.layerContainer_a2fcaa .messagesPopoutWrap__10dd1 .footer__6b9ef {
    border-radius: 8px;
    background-color: var(--color-1);
}