.searchResultsWrap__9f374 {
    width: 500px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.searchResultsWrap__9f374:has(.pageControl__2dd90) .searchHeader__19d87 {
    height: 45px;
    margin-bottom: 57px;
    padding: 10px 15px 0;
    border-radius: 8px 8px 0 0;
}
.searchHeader__19d87 {
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.searchResultsWrap__9f374 .container__68284 {
    position: fixed;
    top: 159px;
    width: 480px;
    border-radius: 0 0 8px 8px;
    background-color: var(--color-1);
}
.container__68284 .pageControlContainer_b111b0 {
    margin: 0;
}
.pageControl__2dd90 {
    padding: 0;
}

.searchResultsWrap__9f374 .scroller_c8d5ad {
    padding: 0 10px 10px;
}

.searchResultGroup__35ba9 {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}
.searchResultGroup__35ba9 .channelNameContainer_e0c26c {
    padding: 5px 0;
}
.searchResult_dcd237 {
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: var(--color-4);
}