.searchResultsWrap_c2b47d {
    width: 500px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.searchResultsWrap_c2b47d:has(.pageControl_b48941) .searchHeader_b7c924 {
    height: 45px;
    margin-bottom: 57px;
    padding: 10px 15px 0;
    border-radius: 8px 8px 0 0;
}
.searchHeader_b7c924 {
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.searchResultsWrap_c2b47d .container_f13432 {
    position: fixed;
    top: 159px;
    width: 480px;
    border-radius: 0 0 8px 8px;
    background-color: var(--color-1);
}
.container_f13432 .pageControlContainer_b48941 {
    margin: 0;
}
.pageControl_b48941 {
    padding: 0;
}

.searchResultsWrap_c2b47d .scroller_c2b47d {
    padding: 0 10px 10px;
}

.searchResultGroup_a9e225 {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}
.searchResultGroup_a9e225 .channelNameContainer_a9e225 {
    padding: 5px 0;
}
.searchResult_ddc613 {
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: var(--color-4);
}