.searchResultsWrap__2e184 {
    width: 500px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}

.searchResultsWrap__2e184:has(.pageControl__5e095) .searchHeader__4d70e {
    height: 45px;
    margin-bottom: 57px;
    padding: 10px 15px 0;
    border-radius: 8px 8px 0 0;
}
.searchHeader__4d70e {
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}

.searchResultsWrap__2e184 .container__77df8 {
    position: fixed;
    top: 159px;
    width: 480px;
    border-radius: 0 0 8px 8px;
    background-color: var(--color-1);
}
.container__77df8 .pageControlContainer__86479 {
    margin: 0;
}
.pageControl__5e095 {
    padding: 0;
}

.searchResultsWrap__2e184 .scroller__5f036 {
    padding: 0 10px 10px;
}

.searchResultGroup_ea38ca {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-1);
}
.searchResultGroup_ea38ca .channelNameContainer__2d85c {
    padding: 5px 0;
}
.searchResult__00093 {
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: var(--color-4);
}