.hasBanner-2IrYih .header-3OsQeK {
    margin: 10px 10px 0;
}
.animatedContainer-2laTjx {
    width: calc(100% - 20px);
    margin: 10px 10px 0;
    border-radius: 8px;
}
.bannerImg-2PzH6z {
    width: 100%;
}