.hasBanner_fd6364 .header_fd6364 {
    margin: var(--margin-medium) var(--margin-medium) 0;
}
.animatedContainer_fd6364 {
    width: calc(100% - 20px);
    margin: var(--margin-medium) var(--margin-medium) 0;
    border-radius: var(--border-radius-large);
}
.bannerImage_fd6364 {
    width: 100%;
}