.container__7e23c {
    margin: 0 0 15px 0;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.sidebar_e031be {
    width: 260px;
    margin: 0 15px 0 0;
    background-color: transparent;
}
.header__77c95 {
    border-radius: 8px 8px 0 0;
}
.modeSelected__473f1 .link_ddbb36,
.modeSelected__473f1:hover .link_ddbb36,
.wrapper__612a5:hover .link_ddbb36 {
    background-color: unset;
}