.container__590e2 {
    margin: 0 0 15px 0;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.sidebar_ded4b5 {
    width: 260px;
    margin: 0 15px 0 0;
    background-color: transparent;
}
.header__104ca {
    border-radius: 8px 8px 0 0;
}
.modeSelected__487d6 .link__95dc0,
.modeSelected__487d6:hover .link__95dc0,
.wrapper__7bcde:hover .link__95dc0 {
    background-color: unset;
}