.container__4f639 {
    padding: 0 0 5px 8px;
}
.bar_ef682d {
    height: 6px;
    border-radius: 8px;
}
.tadaIcon__3b97b {
    display: none;
}
.progressBar_db0972 {
    background: -webkit-gradient(linear,left top,right top,from(var(--guild-boosting-blue)),color-stop(34%,var(--guild-boosting-purple)),color-stop(67%,var(--guild-boosting-blue)),to(var(--guild-boosting-purple)));
    background: linear-gradient(90deg,var(--guild-boosting-blue),var(--guild-boosting-purple) 34%,var(--guild-boosting-blue) 67%,var(--guild-boosting-purple));
    background-size: 300% 100%;
    animation: progressPulse__594fa 2s linear infinite;
}