:is(.userPopoutInner-nv9Y92,
    .accountProfileCard-lbN7n-) .wrapper-3Un6-K:has(rect[mask="url(#svg-mask-status-dnd)"])::after {
    content: "";
    z-index: 1;
    position: absolute;
    inset: 54px;
    height: 16px;
    width: 16px;
    padding: 6px;
    border-radius: 80px 80px 0 80px;
    background: url("https://spaceenergy.github.io/images/Vector.svg") no-repeat center;
    background-color: #232428;
    background-size: 16px;
}
.accountProfileCard-lbN7n- .wrapper-3Un6-K:has(rect[mask="url(#svg-mask-status-dnd)"])::after {
    background-color: #1e1f22;
}