/* Base */
:is(.avatarWrapper_ba5175,
    .userInfo__18240,
    .channel_c21703,
    .memberInner_a32223,
    .bannedUser__38b44,
    .auditLog__6c805,
    .userPopoutInner_f545a3,
    .accountProfileCard__22589,
    .transition_a1fb48,
    .userProfileModalInner__7c87d):has([src*="avatars/682317162010247184"], [style*="avatars/682317162010247184"]) :is(.wrapper_edb6e0,
                                                                                                                       .wrapper__0be4c,
                                                                                                                       .avatarUploaderNormal__2388b)::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: var(--custom-avatar-avatar-decoration-border-position);
    left: var(--custom-avatar-avatar-decoration-border-position);
    background: url("https://cdn.discordapp.com/avatar-decoration-presets/a_c7e1751e8122f1b475cb3006966fb28c.png") no-repeat center;
}

/* 38px/32px avatar */
:is(.avatarWrapper_ba5175,
    .userInfo__18240,
    .channel_c21703,
    .memberInner_a32223):has([src*="avatars/682317162010247184"]) .wrapper_edb6e0::before {
    height: 38px;
    width: 38px;
    background-size: 38px;
}

/* 48px/40px avatar */
:is(.bannedUser__38b44,
    .auditLog__6c805):has([src*="avatars/682317162010247184"]) .wrapper_edb6e0::before {
    height: 48px;
    width: 48px;
    background-size: 48px;
}

/* 96px/80px avatar */
:is(.userPopoutInner_f545a3,
    .accountProfileCard__22589,
    .voiceCallWrapper_a36a80):has([src*="avatars/682317162010247184"], [style*="avatars/682317162010247184"]) :is(.wrapper_edb6e0,
                                                                                                                  .wrapper__0be4c,
                                                                                                                  .avatarUploaderNormal__2388b)::before {
    height: 96px;
    width: 96px;
    background-size: 96px;
}

/* 144px/120px avatar */
:is(.userProfileModalInner__7c87d):has([src*="avatars/682317162010247184"]) .wrapper_edb6e0::before {
    height: 144px;
    width: 144px;
    background-size: 144px;
}

/* Messages */
.message__80c10 .contents_f41bb2:has([src*="avatars/682317162010247184"])::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 12px;
    height: 48px;
    width: 48px;
    margin-top: -2px;
    background: url("https://cdn.discordapp.com/avatar-decoration-presets/a_c7e1751e8122f1b475cb3006966fb28c.png") no-repeat center;
    background-size: 48px;
    pointer-events: none;
}
.message__80c10 .contents_f41bb2 .avatar__08316 {
    z-index: unset;
}