.guilds_a4d4d9 .scroller_fea3ef {
    contain: unset;
    margin-bottom: 50px;
    padding-bottom: 80px;
}
.guilds_a4d4d9 .scroller_fea3ef::before {
    content: "";
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 132px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--color-2);
    z-index: 11;
}
.tutorialContainer_c96c45 {
    position: fixed;
    bottom: 20px;
    z-index: 12;
}
.tutorialContainer_c96c45 + .listItem_c96c45 {
    position: fixed;
    bottom: 78px;
    contain: none;
    z-index: 12;
}
.circleIconButton_db6521 {
    background-color: var(--color-1);
}
.circleIconButton_db6521.selected_db6521 {
    background-color: var(--color-3);
}
.circleIconButton_db6521 svg {
    color: var(--accent);
}