.guilds__2b93a .scroller_de945b {
    contain: unset;
    margin-bottom: 50px;
    padding-bottom: 80px;
}
.guilds__2b93a .scroller_de945b::before {
    content: "";
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 132px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--color-2);
    z-index: 1;
}
.tutorialContainer__6835f {
    position: fixed;
    bottom: 20px;
    z-index: 1;
}
.tutorialContainer__6835f + .listItem__48528 {
    position: fixed;
    bottom: 78px;
    contain: none;
    z-index: 1;
}
.circleIconButton__05cf2 {
    background-color: var(--color-1);
}
.circleIconButton__05cf2.selected_aded59 {
    background-color: var(--color-3);
}
.circleIconButton__05cf2 svg {
    color: var(--accent);
}