.guilds__2b93a .scroller__3d071 {
    contain: unset;
    margin-bottom: 50px;
    padding-bottom: 80px;
}
.guilds__2b93a .scroller__3d071::before {
    content: "";
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 132px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--color-2);
    z-index: 1;
}
.tutorialContainer_dc6fde {
    position: fixed;
    bottom: 20px;
    z-index: 1;
}
.tutorialContainer_dc6fde + .listItem_fa7b36 {
    position: fixed;
    bottom: 78px;
    contain: none;
    z-index: 1;
}
.circleIconButton_d8df29 {
    background-color: var(--color-1);
}
.circleIconButton_d8df29.selected__5250e {
    background-color: var(--color-3);
}
.circleIconButton_d8df29 svg {
    color: var(--accent);
}