.expandedFolderBackground_b1385f {
    width: 64px;
    inset: -9px 8px 0;
    border-radius: 16px;
    background-color: var(--color-5);
}
.wrapper__832f2 {
    margin: 17px 0 8px;
}
.wrapper__832f2:has(.expandedFolderBackground_b1385f.collapsed__98ad5) {
    margin: 0;
}
.expandedFolderIconWrapper__324c1 {
    background-color: var(--color-2);
}

/* Folder Icon Color */
.closedFolderIconWrapper__722d5 {
    display: none;
}
.folderIconWrapper__11165:not([style=""])::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    inset: 0;
    margin: auto;
    background-color: inherit;
    mask: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/src/icons/folder.svg") no-repeat;
    -webkit-mask: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/src/icons/folder.svg") no-repeat;
    transform: scale(1.3335);
    filter: brightness(1.5) saturate(1.5);
}