.expandedFolderBackground_bc7085 {
    width: 64px;
    inset: -9px 8px 0;
    border-radius: 16px;
    background-color: var(--color-5);
}
.wrapper_bc7085 {
    margin: 17px 0 8px;
}
.wrapper_bc7085:has(.expandedFolderBackground_bc7085.collapsed_bc7085) {
    margin: 0;
}
.expandedFolderIconWrapper_bc7085 {
    background-color: var(--color-2);
}

/* Folder Icon Color */
.closedFolderIconWrapper_bc7085 {
    display: none;
}
.folderIconWrapper_bc7085:not([style=""])::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    inset: 0;
    margin: auto;
    background-color: inherit;
    mask: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/src/icons/folder.svg") no-repeat;
    -webkit-mask: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/src/icons/folder.svg") no-repeat;
    transform: scale(1.3335);
    filter: brightness(1.5) saturate(1.5);
}