/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Server Bar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Home Button
=-=-=-=-=-=-=-=
*/

.tutorialContainer-1pL9QS {
    margin-top: 10px;
}

/* Home Icon */
.wrapper-3kah-n[data-list-item-id="guildsnav___home"] .childWrapper-1j_1ub {
    background: var(--home-icon);
    background-size: 48px;
}
.childWrapper-1j_1ub svg {
    display: none;
}


/*
=-=-=-=-=-=-=-=
?Position
=-=-=-=-=-=-=-=
*/

.wrapper-1_HaEi.guilds-2JjMmN {
    width: 80px;
    margin: 0 0 15px 15px;
    border-radius: 8px;
}
.tree-3agP2X {
    width: 80px;
    background-color: var(--color-2);
}
.wrapper-1_HaEi.guilds-2JjMmN
.listItem-3SmSlK {
    width: 80px;
}