/* Home Button */
.tutorialContainer__890ea {
    margin-top: 10px;
}

/* Home Icon */
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c {
    background: var(--home-icon) no-repeat center !important;
    background-size: cover !important;
}
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c svg {
    display: none;
}


/* Position */
.wrapper_a7e7a8.guilds__2b93a {
    width: 80px;
    margin: 0 0 15px 15px;
    border-radius: 8px;
}
.tree__7a511 {
    width: 80px;
    background-color: var(--color-2);
}
.wrapper_a7e7a8.guilds__2b93a .listItem_fa7b36 {
    width: 80px;
}