/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Server Bar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Home Button
=-=-=-=-=-=-=-=
*/

.tutorialContainer-1pL9QS {
    margin-top: 10px;
}

/* Home Icon */
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c {
    background: var(--home-icon) no-repeat center !important;
    background-size: cover !important;
}
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c svg {
    display: none;
}


/*
=-=-=-=-=-=-=-=
?Position
=-=-=-=-=-=-=-=
*/

.wrapper-1_HaEi.guilds-2JjMmN {
    width: 80px;
    margin: 0 0 15px 15px;
    border-radius: 8px;
}
.tree-3agP2X {
    width: 80px;
    background-color: var(--color-2);
}
.wrapper-1_HaEi.guilds-2JjMmN
.listItem-3SmSlK {
    width: 80px;
}