/* Home Button */
.tutorialContainer_f9623d {
    margin-top: 10px;
}

/* Home Icon */
.wrapper__8436d[data-list-item-id="guildsnav___home"] .childWrapper_a6ce15 {
    background: var(--home-icon) no-repeat center !important;
    background-size: cover !important;
}
.wrapper__8436d[data-list-item-id="guildsnav___home"] .childWrapper_a6ce15 svg {
    display: none;
}


/* Unread */
.unreadMentionsIndicatorBottom_fea3ef {
    bottom: 130px;
    width: 100%;
}
.unreadMentionsIndicatorBottom_fea3ef .bar_c10249 {
    opacity: 1;
    height: 28px;
    border-radius: 8px;
}


/* Position */
.wrapper_fea3ef.guilds_a4d4d9 {
    width: 80px;
    margin: 15px 0 15px 15px;
    border-radius: 8px;
}
:has(.titleBar_a934d8) .wrapper_fea3ef.guilds_a4d4d9 {
    margin: 0 0 15px 15px;
}

.tree_fea3ef {
    width: 80px;
    background-color: var(--color-2);
}
.wrapper_fea3ef.guilds_a4d4d9 .listItem_c96c45 {
    width: 80px;
}