.directoryContainer__36395 {
    background-color: var(--background) !important;
}

.directoryContainer__36395 .card__834d4 {
    background-color: var(--color-2);
}
.directoryContainer__36395 .card__834d4 .imageContainer_ab9103 {
    height: unset;
    margin: 10px 10px 10px 0;
}
.directoryContainer__36395 .card__834d4 .imageContainer_ab9103 img {
    border-radius: 8px;
}

.directoryContainer__36395 .container_bdd168 {
    background-color: var(--color-2);
}
.directoryContainer__36395 .container_bdd168 .imageContainer__70e67 {
    margin: 10px 10px 0 10px;
}
.directoryContainer__36395 .container_bdd168 .imageContainer__70e67 img {
    border-radius: 8px;
}