body:has(.standardSidebarView__12528) .content__90c48 {
    display: grid;
    grid: auto-flow dense/repeat(auto-fit,minmax(15rem,1fr));
    grid-auto-rows: minmax(3rem,auto);
    grid-gap: 10px;
}

body:has(.standardSidebarView__12528) .content__90c48 .emojiTable__6262c {
    display: none;
}

body:has(.standardSidebarView__12528) .content__90c48 .card_dc88cd {
    height: unset;
    padding: 15px 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}
body:has(.standardSidebarView__12528) .content__90c48 .card_dc88cd:hover {
    background-color: var(--color-4);
}
body:has(.standardSidebarView__12528) .content__90c48 .card_dc88cd:before {
    display: none;
}

body:has(.standardSidebarView__12528) .content__90c48 .emojiColumn__10dfb {
    flex-basis: unset;
    margin-right: 15px;
}


body:has(.standardSidebarView__12528) .content__90c48 .column_aed56a:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 60px;
    flex-basis: unset;
}

body:has(.standardSidebarView__12528) .content__90c48 .emojiAliasPlaceholder_ecea45 {
    position: unset;
    display: flex;
    padding: 0;
    line-height: 18px;
}

body:has(.standardSidebarView__12528) .content__90c48 .emojiAliasPlaceholderContent_e3b4e8 {
    display: unset;
}
body:has(.standardSidebarView__12528) .content__90c48 .emojiAliasPlaceholder_ecea45:before,
body:has(.standardSidebarView__12528) .content__90c48 .emojiAliasPlaceholder_ecea45:after {
    position: unset;
}
body:has(.standardSidebarView__12528) .emojiAliasPlaceholder_ecea45:before {
    margin-left: -5px;
}
body:has(.standardSidebarView__12528) .emojiAliasPlaceholder_ecea45:after {
    margin-left: 0;
}

body:has(.standardSidebarView__12528) .content__90c48 .emojiAliasInput_e70e7c {
    position: absolute;
    width: fit-content;
    margin: 0;
}
body:has(.standardSidebarView__12528) .content__90c48 .emojiAliasInput_e70e7c .emojiInput__3270d {
    height: unset;
    padding: 0;
    line-height: 18px;
    background-color: var(--color-2);
}


body:has(.standardSidebarView__12528) .content__90c48 .column_aed56a:nth-child(3) {
    position: absolute;
    left: 55px;
    bottom: 10px;
    display: flex;
    align-items: center;
}

body:has(.standardSidebarView__12528) .content__90c48 .column_aed56a .avatar__970c7 svg {
    width: 20px !important;
    height: 20px !important;
}
body:has(.standardSidebarView__12528) .content__90c48 .column_aed56a .emojiRowText__46159 {
    position: unset;
}


body:has(.standardSidebarView__12528) .content__90c48 .emojiRemove__744eb {
    top: -3px;
    right: -7px;
    border: none;
    background-color: var(--color-5);
}
body:has(.standardSidebarView__12528) .content__90c48 .card_dc88cd:hover .emojiRemove__744eb {
    opacity: .6;
}
body:has(.standardSidebarView__12528) .content__90c48 .card_dc88cd:hover .emojiRemove__744eb:hover {
    opacity: 1;
    background-color: var(--color-6);
}