/* Background */
.standardSidebarView__12528 {
    background-color: var(--background);
}

/* Width */
.contentColumn__5f80b,
.customColumn__0b6a6 {
    max-width: 100%;
}

/* Sidebar */
.sidebarRegionScroller__8113e {
    margin: 0 15px 15px;
    border-radius: 8px;
    background: var(--color-2);
}
.sidebarRegionScroller__8113e::-webkit-scrollbar {
    display: none;
}
.sidebarRegion__36437 {
    flex: 0;
}
.sidebar__02e8d {
    min-width: 260px;
    padding: 15px 10px 15px;
}

/* Main Content */
.contentColumn__5f80b {
    height: 100%;
    margin-bottom: 15px;
}
.contentRegion__08eba {
    margin: 0 15px 15px 0;
    border-radius: 8px;
    background-color: var(--color-1);
}
.contentRegionScroller__9ae20 {
    border-radius: 8px;
    background-color: var(--color-1);
}

.contentRegionShownSidebar__9d1b9 {
    justify-content: center;
}
.tools_c0ff70 {
    position: fixed;
    top: 60px;
    right: 60px;
}