/* Background */
.standardSidebarView__1129a {
    background-color: var(--background);
}

/* Width */
.contentColumn_dc7d36,
.customColumn_e22a6e {
    max-width: 100%;
}

/* Sidebar */
.sidebarRegionScroller__1fa7e {
    margin: 0 15px 15px;
    border-radius: 8px;
    background: var(--color-2);
}
.sidebarRegionScroller__1fa7e::-webkit-scrollbar {
    display: none;
}
.sidebarRegion__60457 {
    flex: 0;
}
.sidebar__9e3e2 {
    min-width: 260px;
    padding: 15px 10px 15px;
}

/* Main Content */
.contentColumn_dc7d36 {
    height: 100%;
    margin-bottom: 15px;
}
.contentRegion__0bec1 {
    margin: 0 15px 15px 0;
    border-radius: 8px;
    background-color: var(--color-1);
}
.contentRegionScroller__86c79 {
    border-radius: 8px;
    background-color: var(--color-1);
}

.contentRegionShownSidebar__610ed {
    justify-content: center;
}
.tools_c0ff70 {
    position: fixed;
    top: 60px;
    right: 60px;
}