body:has(.standardSidebarView__12528) .content__690c5 {
    max-width: unset !important;
}

body:has(.standardSidebarView__12528) .inviteSettingsInviteRow__130c9 {
    height: unset;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-2);
}