.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) {
    border-radius: 8px;
    background-color: var(--background);
    padding: 10px;
}
.userProfileOuterThemed__6eb84  .activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) {
    background-color: var(--profile-body-divider-color);
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .state_a85ac0 {
    display: none;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .detailsWrap__4faa4 {
    font-size: 14px;
    opacity: .6;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .assetsLargeImageUserPopoutV2__01dc1 {
    border-radius: 8px;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .button__9491f {
    color: #1ed760;
    background-color: var(--color-2);
}
.userProfileOuterThemed__6eb84  .activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .button__9491f {
    background-color: var(--profile-gradient-button-color);
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .button__9491f .listenAlongIcon__86ce9 {
    height: 18px;
    width: 18px;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .platformIcon__05c5e {
    display: none;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    height: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.userProfileOuterThemed__6eb84  .activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    background-color: var(--profile-body-background-color);
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719>.barInner_d1abc6 {
    border-radius: 8px;
    background-color: #1ed760;
}
.activityUserPopoutV2__32328 .spotifyButtonLogo__526f7 path {
    fill: #1ed760;
}