.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) {
    border-radius: 8px;
    background-color: var(--background);
    padding: 10px;
}
.userProfileOuterThemed_c69a7b  .activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) {
    background-color: var(--profile-body-divider-color);
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .contentImagesUserPopoutV2_d5089b .state_d5089b {
    display: none;
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .contentImagesUserPopoutV2_d5089b .detailsWrap_d5089b {
    font-size: 14px;
    opacity: .6;
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .assetsLargeImageUserPopoutV2_d5089b {
    border-radius: 8px;
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .button_da7790 {
    color: #1ed760;
    background-color: var(--color-2);
}
.userProfileOuterThemed_c69a7b  .activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .button_da7790 {
    background-color: var(--profile-gradient-button-color);
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .button_da7790 .listenAlongIcon_e364e3 {
    height: 18px;
    width: 18px;
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .platformIcon_d5089b {
    display: none;
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .bar_aa267a {
    height: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.userProfileOuterThemed_c69a7b  .activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .bar_aa267a {
    background-color: var(--profile-body-background-color);
}
.activityUserPopoutV2_d5089b:has(.spotifyButtonLogo__6ca34) .bar_aa267a>.barInner_aa267a {
    border-radius: 8px;
    background-color: #1ed760;
}
.activityUserPopoutV2_d5089b .spotifyButtonLogo__6ca34 path {
    fill: #1ed760;
}