.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) {
    border-radius: 8px;
    background-color: var(--background);
    padding: 10px;
}
.userProfileOuterThemed__6eb84  .activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) {
    background-color: var(--profile-body-divider-color);
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .state_a85ac0 {
    display: none;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .contentImagesUserPopoutV2__04250 .detailsWrap__4faa4 {
    font-size: 14px;
    opacity: .6;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .assetsLargeImageUserPopoutV2__01dc1 {
    border-radius: 8px;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .button__9491f {
    color: #1ed760;
    background-color: var(--color-2);
}
.userProfileOuterThemed__6eb84  .activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .button__9491f {
    background-color: var(--profile-gradient-button-color);
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .button__9491f .listenAlongIcon__86ce9 {
    height: 18px;
    width: 18px;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .platformIcon__05c5e {
    display: none;
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    height: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.userProfileOuterThemed__6eb84  .activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719 {
    background-color: var(--profile-body-background-color);
}
.activityUserPopoutV2__32328:has(.spotifyButtonLogo__526f7) .bar_e63719>.barInner_d1abc6 {
    border-radius: 8px;
    background-color: #1ed760;
}
.activityUserPopoutV2__32328 .spotifyButtonLogo__526f7 path {
    fill: #1ed760;
    d: path("M 12 2 C 6.47715 2 2 6.47715 2 12 C 2 17.5228 6.47715 22 12 22 C 17.5228 22 22 17.5228 22 12 C 22 9.34784 20.9464 6.8043 19.0711 4.92893 C 17.1957 3.05357 14.6522 2 12 2 Z M 16.5625 16.4375 C 16.3791 16.7161 16.0145 16.8107 15.7188 16.6562 C 13.375 15.2188 10.4062 14.9062 6.9375 15.6875 C 6.71979 15.7377 6.49182 15.668 6.33945 15.5046 C 6.18709 15.3412 6.13348 15.1089 6.19883 14.8952 C 6.26417 14.6816 6.43854 14.519 6.65625 14.4688 C 10.4688 13.5938 13.7188 13.9688 16.375 15.5938 C 16.5149 15.6781 16.6141 15.816 16.6495 15.9755 C 16.685 16.1349 16.6535 16.3019 16.5625 16.4375 Z M 17.8125 13.6875 C 17.7053 13.8622 17.5328 13.9869 17.3333 14.0338 C 17.1338 14.0807 16.9238 14.0461 16.75 13.9375 C 14.0625 12.2812 9.96875 11.8125 6.78125 12.7812 C 6.5133 12.8594 6.22401 12.7887 6.02236 12.5957 C 5.8207 12.4027 5.73731 12.1168 5.80361 11.8457 C 5.8699 11.5746 6.0758 11.3594 6.34375 11.2812 C 9.96875 10.1875 14.5 10.7188 17.5625 12.625 C 17.9134 12.8575 18.0229 13.3229 17.8125 13.6875 Z M 17.9062 10.875 C 14.6875 8.96875 9.375 8.78125 6.28125 9.71875 C 5.81691 9.79284 5.36952 9.5115 5.23513 9.0609 C 5.10074 8.61031 5.32093 8.12986 5.75 7.9375 C 9.28125 6.875 15.1562 7.0625 18.875 9.28125 C 19.0893 9.40709 19.2434 9.61436 19.3023 9.85577 C 19.3612 10.0972 19.3198 10.3521 19.1875 10.5625 C 18.9054 10.9822 18.3499 11.1177 17.9062 10.875 Z");
}