.customScroller_f72801 .content__23cab:has(.roleRow_c357d5) {
    max-width: 100%;
    margin-left: 15px;
}
.content__23cab:has(.roleRow_c357d5) div[style="height: 60px;"] {
    height: 20px !important;
}

.roleRow_c357d5 {
    margin: 0 0 5px;
    border-radius: 8px;
    background-color: var(--color-4);
}
.roleRow_c357d5::before {
    display: none;
}
.roleRow_c357d5:last-child:after {
    display: none;
}

.dragIcon__003d3 {
    visibility: visible;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--accent);
}
.dragIcon__003d3:hover {
    color: var(--accent-2);
}