body:has(.standardSidebarView__12528) .page_c3ed26 {
    max-width: unset;
}

/* Sidebar */
body:has(.standardSidebarView__12528) .sidebar__37984 {
    height: -webkit-fill-available;
    margin: 15px 15px 0;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}
body:has(.standardSidebarView__12528) .sidebar__37984 .list__41249 {
    padding: 5px !important;
}
body:has(.standardSidebarView__12528) .sidebar__37984 .list__41249::-webkit-scrollbar {
    display: none;
}
/* Sidebar Header */
body:has(.standardSidebarView__12528) .titleContainer_d09261 {
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-3);
}
/* Roles */
body:has(.standardSidebarView__12528) .sidebar__37984 .list__41249 .row__62bb0 {
    margin-left: 0;
    border-radius: 8px;
    background-color: var(--color-3);
}


/* Main */
body:has(.standardSidebarView__12528) .contentContainer__50662 {
    position: unset;
    width: 100%;
    margin: 15px 0 0;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-4);
}
body:has(.standardSidebarView__12528) .contentWidth_f1e6d4 {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

/* Main Header */
body:has(.standardSidebarView__12528) .contentWidth_f1e6d4 .header_ee0bd9 {
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--color-3);
}
body:has(.standardSidebarView__12528) .container_bc77c3 .headerContainer__282e2 {
    position: unset;
}
body:has(.standardSidebarView__12528) .container_bc77c3 .content__690c5>div:not([aria-hidden*="e"])[style*="height"] {
    display: none;
}