.sidebarRegionScroller__8113e .item__48dda[data-tab-id="OVERVIEW"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/readme.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="PERMISSIONS"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/users-gear.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="INSTANT_INVITES"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/envelope.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="INTEGRATIONS"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/puzzle-piece.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="DELETE"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/trash.svg") no-repeat center;
}
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="DELETE"] svg {
    display: none;
}