body:has(.standardSidebarView__12528) .sidebarRegionScroller__8113e .item__48dda {
    display: flex;
}

body:has(.standardSidebarView__12528) .sidebarRegionScroller__8113e .item__48dda[data-tab-id]::before {
    min-height: 18px;
    min-width: 18px;
    margin-right: 12px;
    content: "";
    background-size: 18px;
    filter: invert(0.6);
}