.sidebarRegionScroller__8113e .item__48dda[data-tab-id="My Account"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/user.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Profile Customization"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/pen.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Privacy & Safety"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/shield-halved.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Family Center"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/user-group.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Authorized Apps"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/key.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Sessions"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/laptop.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Connections"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/link.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Settings Clips"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/clapperboard.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Friend Requests"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/user-plus.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Discord Nitro"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/nitro.svg") no-repeat center;
}
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Discord Nitro"] svg {
    display: none;
}
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Discord Nitro"].premiumTab_ad0913 {
    overflow: hidden;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Nitro Server Boost"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/boost.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Subscriptions"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/dollar-sign.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Library Inventory"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/gifts.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Billing"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/credit-card.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Appearance"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/palette.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Accessibility"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/universal-access.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Voice & Video"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/headset.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Text & Images"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/message.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Notifications"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/bell.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Keybinds"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/keyboard.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Language"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/language.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Windows"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/windows.svg") no-repeat center;
}
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Linux"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/linux.svg") no-repeat center;
}
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="MacOS"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/apple.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Streamer Mode"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/video.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Advanced"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/gear.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="VencordSettings"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/cat.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="VencordPlugins"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/puzzle-piece.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="VencordThemes"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/palette.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="VencordUpdater"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/download.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="VencordCloud"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/cloud.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="VencordSettingsSync"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/file-export.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Activity Privacy"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/shield.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Game Activity"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/gamepad.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Overlay"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/layer-group.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="changelog"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/newspaper.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="merchandise"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/shirt.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Hypesquad Online"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/hypersquad.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Experiments"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/flask.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Developer Options"]::before,
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Hotspot Options"]::before,
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Dismissible Content Options"]::before,
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Payment Flow Modals"]::before,
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Text Playground"]::before,
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="Text Component"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/code.svg") no-repeat center;
}

.sidebarRegionScroller__8113e .item__48dda[data-tab-id="logout"]::before {
    background: url("https://spaceenergy.github.io/SpaceTheme/Discord/files/theme/settings/icons/src/right-from-bracket.svg") no-repeat center;
}
.sidebarRegionScroller__8113e .item__48dda[data-tab-id="logout"] svg {
    display: none;
}