:is(.userPopoutOuter_d67f56, .userProfileModalOuter__90b4a):has([src*="avatars/1178768557178376222"]) :is(.profileBadges__1f2ab, .badgeList__126b0)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://i.imgur.com/5v11rfO.png") no-repeat center;
    background-size: 22px;
}