:is(.userPopoutOuter_d67f56, .userProfileModalOuter__90b4a):has([src*="avatars/221097896328691712"]) :is(.profileBadges__1f2ab, .badgeList__126b0)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("./src/221097896328691712.svg") no-repeat center;
    background-size: 22px;
}