:is(.userPopoutInner_e90432, .userProfileModalInner__99b1e):has([src*="avatars/495333777606967306"]) :is(.profileBadges__1f2ab, .badgeList__126b0)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://i.imgur.com/fQeqtnD.png") no-repeat center;
    background-size: 22px;
}