:is(.userPopoutInner-nv9Y92,
    .userProfileModalInner-3dx9L9):has([src*="avatars/682317162010247184"]) :is(.profileBadges-2pItdR,
                                                                                .badgeList-2aoHPw)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://media.discordapp.net/attachments/1121941720272207892/1121941777046327347/image.png") no-repeat center;
    background-size: 22px;
}