.contents_d3ae0d:has(.avatar__08316[src*="avatars/682317162010247184"]) :is(.header__6a14d, .username__0b0e7, .headerText_bd68ec) {
    display: flex;
}
:is(.userPopoutOuter_d67f56, .userProfileModalOuter__90b4a):has([src*="avatars/682317162010247184"]) :is(.profileBadges__1f2ab, .badgeList__126b0)::before,
.contents_d3ae0d:has(.avatar__08316[src*="avatars/682317162010247184"]) .username__0b0e7::after {
    content: "";
    display: block;
    height: 22px;
    width: 22px;
    background: url("./src/682317162010247184.svg") no-repeat center;
    background-size: 20px;
}
.contents_d3ae0d:has(.avatar__08316[src*="avatars/682317162010247184"]) .username__0b0e7::after {
    height: 20px;
    width: 20px;
    margin-left: 0.25rem;
}