:is(.userPopoutInner_f545a3, .userProfileModalInner__7c87d):has([src*="avatars/770013098689953832"]) :is(.profileBadges__7a7cb, .badgeList_c193e3)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://i.imgur.com/58neJtR.png") no-repeat center;
    background-size: 22px;
}