:is(.userPopoutInner_f545a3, .userProfileModalInner__7c87d):has([src*="avatars/871735378837667880"]) :is(.profileBadges__7a7cb, .badgeList_c193e3)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://i.imgur.com/cZFJHs9.png") no-repeat center;
    background-size: 9px;
}