:is(.userPopoutInner_f545a3,
    .userProfileModalInner__7c87d):has([src*="avatars/871735378837667880"]) :is(.profileBadges__7a7cb,
                                                                                .badgeList_c193e3)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://cdn.discordapp.com/attachments/1121941720272207892/1140988779700703292/Bild_2023-08-15_144132261-removebg-preview.png") no-repeat center;
    background-size: 9px;
}