:is(.userPopoutInner_e90432, .userProfileModalInner__99b1e):has([src*="avatars/871735378837667880"]) :is(.profileBadges__1f2ab, .badgeList__126b0)::before {
    content: "";
    display: block;
    height: 22px;
    width: 25px;
    background: url("https://i.imgur.com/cZFJHs9.png") no-repeat center;
    background-size: 9px;
}