body:has(.standardSidebarView__12528) .card__4dc22:has([d="M8.25,12.75 L8.25,11.25 L9.75,11.25 L9.75,12.75 L8.25,12.75 Z M8.25,9.75 L8.25,5.25 L9.75,5.25 L9.75,9.75 L8.25,9.75 Z"]) {
    border: 2px solid #ef8d4b;
    border-radius: 8px;
    background-color: #ef8d4b2b;
}

body:has(.standardSidebarView__12528) .card__4dc22:has([d="M8.25,12.75 L8.25,11.25 L9.75,11.25 L9.75,12.75 L8.25,12.75 Z M8.25,9.75 L8.25,5.25 L9.75,5.25 L9.75,9.75 L8.25,9.75 Z"]) svg {
    width: 32px;
    height: 32px;
}

body:has(.standardSidebarView__12528) .card__4dc22:has([d="M8.25,12.75 L8.25,11.25 L9.75,11.25 L9.75,12.75 L8.25,12.75 Z M8.25,9.75 L8.25,5.25 L9.75,5.25 L9.75,9.75 L8.25,9.75 Z"]) .button__581d0 {
    background-color: #ef8d4b2b;
}
body:has(.standardSidebarView__12528) .card__4dc22:has([d="M8.25,12.75 L8.25,11.25 L9.75,11.25 L9.75,12.75 L8.25,12.75 Z M8.25,9.75 L8.25,5.25 L9.75,5.25 L9.75,9.75 L8.25,9.75 Z"]) .button__581d0:hover {
    background-color: #ef8d4b;
}


body:has(.standardSidebarView__12528) .settingCard__9b0ad {
    background-color: var(--color-4) !important;
}
body:has(.standardSidebarView__12528) .settingCard__9b0ad.active__898cd {
    padding-bottom: 15px;
}

body:has(.standardSidebarView__12528) .settingCard__9b0ad .cardFolder__40dc5 {
    margin: 0 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}


body:has(.standardSidebarView__12528) button:has(.contents__322f4 .advancedTitle__0948d) {
    display: none;
}


body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 {
    padding-right: 15px;
}
body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 .scroller_c92337 {
    overflow: hidden !important;
    padding: 0;
    border-radius: 8px;
    background-color: var(--color-2);
}
body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 .layoutStyle__66cdc {
    padding: 5px;
}

body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 .layoutStyle__66cdc .header__71a82 {
    margin-bottom: 10px;
    padding: 15px 10px !important;
    border-radius: 8px;
    background-color: var(--color-3);
}
body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 .layoutStyle__66cdc .header__71a82 span {
    font-size: 14px;
}
body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 .layoutStyle__66cdc .item__48dda {
    margin-bottom: 5px !important;
    border-radius: 8px;
    background-color: var(--color-3);
}
body:has(.standardSidebarView__12528) .sidebarScrollable_d64933 .layoutStyle__66cdc .item__48dda .roleInner__26810 {
    font-size: 14px;
}

body:has(.standardSidebarView__12528) .sidebarScrollable_d64933+.content__5eeb2 {
    max-width: unset;
}


body:has(.standardSidebarView__12528) .content__5eeb2:has(.permissionsForm_bede97) {
    padding: 0;
}

body:has(.standardSidebarView__12528) .permissionsForm_bede97 {
    display: grid;
    grid: auto-flow dense/repeat(auto-fit,minmax(20rem,1fr));
    grid-auto-rows: minmax(3rem,auto);
    grid-gap: 10px;
    margin-bottom: 15px !important;
    padding: 40px 15px 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97:has(.text-sm-normal__95a78.marginBottom20__9fcf3) {
    padding: 65px 15px 15px;
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .h5__28baa {
    position: absolute;
    transform: translateY(-25px);
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97:has(.text-sm-normal__95a78.marginBottom20__9fcf3) .h5__28baa {
    transform: translateY(-50px);
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .text-sm-normal__95a78.marginBottom20__9fcf3 {
    position: absolute;
    transform: translateY(-30px);
}

body:has(.standardSidebarView__12528) .permissionsForm_bede97 .flex_f18b02.marginBottom20__9fcf3 {
    position: relative;
    margin-bottom: 0;
    padding: 15px;
    padding-bottom: 65px;
    border-radius: 8px;
    background-color: var(--color-3);
}

body:has(.standardSidebarView__12528) .permissionsForm_bede97 .flex_f18b02>.flex_f18b02 {
    flex: 0 !important;
}

body:has(.standardSidebarView__12528) .permissionsForm_bede97 .group__6ae8b {
    position: absolute;
    bottom: 15px;
    gap: 10px;
    width: calc(100% - 30px);
    height: 35px;
    border: none;
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .group__6ae8b .item_f48d11 {
    border-radius: 8px;
    background-color: var(--color-2);
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .group__6ae8b .item_f48d11:hover {
    background-color: var(--color-6);
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .group__6ae8b .deny__71546.selected__5faae {
    background-color: #EF4B4B;
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .group__6ae8b .passthrough__91f95.selected__5faae {
    background-color: var(--color-6);
}
body:has(.standardSidebarView__12528) .permissionsForm_bede97 .group__6ae8b .allow_bbc621.selected__5faae {
    background-color: #23a559;
}

body:has(.standardSidebarView__12528) .permissionsForm_bede97 .flex_f18b02.marginBottom20__9fcf3 .divider__14bb6 {
    display: none;
}