/*
=-=-=-=-=-=-=-=
?User Button
=-=-=-=-=-=-=-=
*/

.container_ca50b9 .avatarWrapper_ba5175 {
    padding: 5px 8px 5px 8px;
    margin: 0 3.333px;
    border-radius: 8px;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-1);
    cursor: pointer;
}
.avatarWrapper_ba5175:hover {
    background-color: var(--color-3);
}
.hoverRoll__041cb {
    cursor: pointer;
}


/*
=-=-=-=-=-=-=-=
?Buttons
=-=-=-=-=-=-=-=
*/

.container_ca50b9 .button__4f306 {
    width: -webkit-fill-available;
    margin: 0 3.333px;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-3);
}
.container_ca50b9 .button__4f306:hover {
    background-color: var(--color-1) !important;
}


/*
=-=-=-=-=-=-=-=
?Voice
=-=-=-=-=-=-=-=
*/

.container_d667ff {
    margin-bottom: 5px !important;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}

.container_d667ff .button__66e8c {
    background-color: var(--color-3);
    transition: background-color 0.15s ease-in-out;
}
.container_d667ff .button__66e8c:hover {
    background-color: var(--color-1);
}


/*
=-=-=-=-=-=-=-=
?Stream/Games
=-=-=-=-=-=-=-=
*/

.panel_bd8c76 {
    padding: 12px 8px;
    margin-bottom: -12px;
    border: none;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-2) !important;
}

.panel_bd8c76 .body__709f6 {
    margin: 0 3.333px;
}


/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.panels__58331 {
    background-color: transparent !important;
}
.container_ca50b9 {
    display: grid;
    height: 95px;
    padding: 5px;
    margin: 0 !important;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}