/*
=-=-=-=-=-=-=-=
?User Button
=-=-=-=-=-=-=-=
*/

.container_b2ca13 .avatarWrapper_b2ca13 {
    padding: 5px 8px 5px 8px;
    margin: 0 3.333px;
    border-radius: 8px;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-1);
    cursor: pointer;
}
.container_b2ca13 .avatarWrapper_b2ca13:hover {
    background-color: var(--color-3);
}
.hoverRoll_c0d6c6 {
    cursor: pointer;
}

.container_b2ca13 .avatarWrapper_b2ca13 .title_d1da5f {
    width: fit-content;
}


/*
=-=-=-=-=-=-=-=
?Buttons
=-=-=-=-=-=-=-=
*/

.container_b2ca13 .button_f67531 {
    width: -webkit-fill-available;
    margin: 0 3.333px;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-3);
}
.container_b2ca13 .button_f67531:hover {
    background-color: var(--color-1) !important;
}


/*
=-=-=-=-=-=-=-=
?Voice
=-=-=-=-=-=-=-=
*/

.container_adcaac {
    margin-bottom: 5px !important;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}

.container_adcaac .button_adcaac {
    background-color: var(--color-3);
    transition: background-color 0.15s ease-in-out;
}
.container_adcaac .button_adcaac:hover {
    background-color: var(--color-1);
}

.container_adcaac .buttonIcon_adcaac {
    width: 20px !important;
    height: 20px !important;
}


/*
=-=-=-=-=-=-=-=
?Stream/Games
=-=-=-=-=-=-=-=
*/

.panel_bf1a22 {
    padding: 12px 8px 8px;
    margin-bottom: -6px;
    border: none;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-2) !important;
}

.panel_bf1a22 .body_bf1a22 {
    margin: 0 3.333px;
}


/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.panels_a4d4d9 {
    background-color: transparent !important;
}
.container_b2ca13 {
    display: grid;
    height: 95px;
    padding: 5px;
    margin: 0 !important;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}