/*
=-=-=-=-=-=-=-=
?User Button
=-=-=-=-=-=-=-=
*/

.container-1CH86i .avatarWrapper-12uuu4 {
    padding: 5px 8px 5px 8px;
    margin: 0 3.333px;
    border-radius: 8px;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-1);
    cursor: pointer;
}
.avatarWrapper-12uuu4:hover {
    background-color: var(--color-3);
}
.hoverRoll-2XwpoF {
    cursor: pointer;
}


/*
=-=-=-=-=-=-=-=
?Buttons
=-=-=-=-=-=-=-=
*/

.container-1CH86i .button-12Fmur {
    width: -webkit-fill-available;
    margin: 0 3.333px;
    transition: background-color 0.15s ease-in-out;
    background-color: var(--color-3);
}
.container-1CH86i .button-12Fmur:hover {
    background-color: var(--color-1);
}


/*
=-=-=-=-=-=-=-=
?Voice
=-=-=-=-=-=-=-=
*/

.container-2NLBJg {
    margin-bottom: 5px !important;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2);
}

.container-2NLBJg .button-2gNyE9 {
    background-color: var(--color-3);
    transition: background-color 0.15s ease-in-out;
}
.container-2NLBJg .button-2gNyE9:hover {
    background-color: var(--color-1);
}


/*
=-=-=-=-=-=-=-=
?Stream/Games
=-=-=-=-=-=-=-=
*/

.panel-ufc1-o {
    padding: 12px 8px;
    margin-bottom: -12px;
    border: none;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-2) !important;
}

.panel-ufc1-o .body-OADsbV {
    margin: 0 3.333px;
}


/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.panels-3wFtMD {
    background-color: transparent !important;
}
.container-1CH86i {
    display: grid;
    height: 95px;
    padding: 5px;
    margin: 0 !important;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}