@import url("https://crearts-community.github.io/Context-Icons/theme.css");

/* Unknown */
.item-1OdjEX::before {
	--icon: url("/Discord/files/icons/src/24/question_circle.svg")
}

.wrapper-2vIMkT .icon-1zidb7 path[d="M5 2C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22H19C20.6569 22 22 20.6569 22 19V5C22 3.34315 20.6569 2 19 2H5ZM8.79741 7.72V16H6.74541V7.72H8.79741ZM13.2097 7.72C16.0897 7.72 17.5897 9.388 17.5897 11.848C17.5897 14.308 16.0537 16 13.2577 16H10.3537V7.72H13.2097ZM13.1497 14.404C14.6137 14.404 15.5257 13.636 15.5257 11.86C15.5257 10.12 14.5537 9.316 13.1497 9.316H12.4057V14.404H13.1497Z"] {
	d: path("M5.503 4.627 5.5 6.75v10.504a3.25 3.25 0 0 0 3.25 3.25h8.616a2.251 2.251 0 0 1-2.122 1.5H8.75A4.75 4.75 0 0 1 4 17.254V6.75c0-.98.627-1.815 1.503-2.123ZM17.75 2A2.25 2.25 0 0 1 20 4.25v13a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-13A2.25 2.25 0 0 1 8.75 2h9Zm0 1.5h-9a.75.75 0 0 0-.75.75v13c0 .414.336.75.75.75h9a.75.75 0 0 0 .75-.75v-13a.75.75 0 0 0-.75-.75Z");
}

/* Slider */
#rtc-channel-input .sliderContainer-2nidiS::before,
#audio-device-context-input .sliderContainer-2nidiS::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}

#user-context-user-volume .sliderContainer-2nidiS::before,
#stream-context-user-volume .sliderContainer-2nidiS::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

#audio-device-context-output .sliderContainer-2nidiS::before,
#rtc-channel-output .sliderContainer-2nidiS::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

/* User Icons */
#user-context-mark-channel-read::before,
#channel-context-mark-channel-read::before,
#user-context-mark-events-read::before {
	--icon: url('/Discord/files/icons/src/24/checkmark_circle.svg') !important;
}

#user-context-favorite-channel::before,
#channel-context-favorite-channel::before,
#gdm-context-favorite-channel::before {
	--icon: url('/Discord/files/icons/src/24/star.svg') !important;
}

#channel-context-go-to-original-guild::before {
	--icon: url('/Discord/files/icons/src/24/star_arrow_right_end.svg') !important;
}

#user-context-set-channel-nickname::before,
#channel-context-set-channel-nickname::before,
#gdm-context-set-channel-nickname::before {
	--icon: url('/Discord/files/icons/src/24/star_edit.svg') !important;
}

#user-context-user-profile::before {
	--icon: url('/Discord/files/icons/src/24/person.svg') !important;
}

#user-context-mention::before {
	--icon: url('/Discord/files/icons/src/24/mention.svg') !important;
}

#user-context-message-user::before,
#user-profile-actions-user-message::before {
	--icon: url('/Discord/files/icons/src/24/comment.svg') !important;
}

#user-context-call::before {
	--icon: url('/Discord/files/icons/src/24/call.svg') !important;
}

#user-context-note::before {
	--icon: url('/Discord/files/icons/src/24/note_edit.svg') !important;
}

#user-context-add-friend-nickname::before,
#user-context-edit-friend-nickname::before,
#user-context-change-nickname::before {
	--icon: url('/Discord/files/icons/src/24/person_edit.svg') !important;
}

#user-context-watch-stream::before {
	--icon: url('/Discord/files/icons/src/24/live.svg') !important;
}

#user-context-invite-to-join-embedded::before {
	--icon: url('/Discord/files/icons/src/24/person_add.svg') !important;
}

#user-context-mute[aria-checked='false']::before,
#user-context-voice-mute[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}


#user-context-mute[aria-checked='true']::before,
#user-context-voice-mute[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/mic_off.svg') !important;
}

.item-1OdjEX#user-context-mute .iconContainer-1-SsTR {
	display: flex;
}

.item-1OdjEX#user-context-voice-mute .iconContainer-1-SsTR {
	display: flex;
}

#user-context-deafen[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

#user-context-deafen[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/deafen.svg') !important;
}

.item-1OdjEX#user-context-deafen .iconContainer-1-SsTR {
	display: flex
}

.item-1OdjEX#user-context-voice-deafen .iconContainer-1-SsTR {
	display: flex;
}

#user-context-disable-video[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/video.svg') !important;
}

.item-1OdjEX#user-context-disable-video .iconContainer-1-SsTR {
	display: flex
}

#user-context-disable-video[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/video_off.svg') !important;
}

#user-context-voice-deafen[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

#user-context-voice-deafen[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/deafen.svg') !important;
}

#user-context-voice-disconnect::before {
	--icon: url('/Discord/files/icons/src/24/call_dismiss.svg') !important;
}

.item-1OdjEX#user-context-voice-disconnect.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-voice-disconnect.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-voice-disconnect.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-voice-disconnect.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#user-context-leave-thread::before {
	--icon: url('/Discord/files/icons/src/24/arrow_circle_left.svg') !important;
}

#user-context-close-dm::before {
	--icon: url('/Discord/files/icons/src/24/comment_dismiss.svg') !important;
}

#user-context-apps::before {
	--icon: url('/Discord/files/icons/src/24/slash command.svg') !important;
}

#user-context-manage-integration::before {
	--icon: url('/Discord/files/icons/src/24/bot.svg') !important;
}

#user-context-invite-to-server::before {
	--icon: url('/Discord/files/icons/src/24/add_circle.svg') !important;
}

#user-context-add-friend::before {
	--icon: url('/Discord/files/icons/src/24/person_add.svg') !important;
}

#user-context-remove-friend::before,
#user-profile-actions-user-remove::before {
	--icon: url('/Discord/files/icons/src/16/person_subtract.svg') !important;
}

.item-1OdjEX#user-context-remove-friend.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-remove-friend.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-remove-friend.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-remove-friend.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#user-context-block::before,
#user-profile-actions-user-block::before {
	--icon: url('/Discord/files/icons/src/24/prohibited.svg') !important;
}

.item-1OdjEX#user-context-block.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-block.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-block.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-block.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}


#user-context-mute-channel::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

#user-context-unmute-channel::before {
	--icon: url('/Discord/files/icons/src/24/speaker_off.svg') !important;
}

.item-1OdjEX#user-context-remove.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-remove.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-remove.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-remove.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#user-context-remove::before {
	--icon: url('/Discord/files/icons/src/24/person_arrow_left.svg') !important;
}

#user-context-timeout::before {
	--icon: url('/Discord/files/icons/src/24/person_clock.svg') !important;
}

.item-1OdjEX#user-context-timeout.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-timeout.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-timeout.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-timeout.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#user-context-removetimeout::before {
	--icon: url('/Discord/files/icons/src/24/person_clock.svg') !important;
}

.item-1OdjEX#user-context-removetimeout.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-removetimeout.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-removetimeout.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-removetimeout.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#user-context-kick::before {
	--icon: url('/Discord/files/icons/src/24/person_delete.svg') !important;
}

#user-context-ban::before {
	--icon: url('/Discord/files/icons/src/24/person_prohibited.svg') !important;
}

#user-context-roles::before {
	--icon: url('/Discord/files/icons/src/24/flag.svg') !important;
}

#user-context-transfer-ownership::before,
#user-context-voice-move::before {
	--icon: url('/Discord/files/icons/src/24/arrow_swap.svg') !important;
}

.item-1OdjEX#user-context-transfer-ownership.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-transfer-ownership.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-transfer-ownership.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-transfer-ownership.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

/* Copy ID */
#copy-id-devmode-copy-id::before,
#user-context-devmode-copy-id::before,
#gdm-context-devmode-copy-id::before,
#message-devmode-copy-id::before,
#message-actions-copy-id::before,
#user-profile-actions-devmode-copy-id::before,
#channel-context-devmode-copy-id::before,
#guild-settings-role-context-devmode-copy-id::before,
#guild-context-devmode-copy-id::before,
#automod-rule-context-devmode-copy-id::before,
#thread-context-devmode-copy-id::before,
#live-stage-tile-context-devmode-copy-id::before,
#guild-entry-context-devmode-copy-id::before,
#dev-context-devmode-copy-id::before,
#guild-integrations-permission-role-context-devmode-copy-id::before,
#guild-discovery-context-menu-devmode-copy-id::before {
	--icon: url('/Discord/files/icons/src/24/copy.svg') !important;
}

.icon-E4cW1l [d='M5 2C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22H19C20.6569 22 22 20.6569 22 19V5C22 3.34315 20.6569 2 19 2H5ZM8.79741 7.72V16H6.74541V7.72H8.79741ZM13.2097 7.72C16.0897 7.72 17.5897 9.388 17.5897 11.848C17.5897 14.308 16.0537 16 13.2577 16H10.3537V7.72H13.2097ZM13.1497 14.404C14.6137 14.404 15.5257 13.636 15.5257 11.86C15.5257 10.12 14.5537 9.316 13.1497 9.316H12.4057V14.404H13.1497Z'] {
	display: none;
}

/* User (Actions) */
#friend-row-start-video-call::before,
#user-context-change-video-background::before {
	--icon: url('/Discord/files/icons/src/24/video.svg') !important;
}

#friend-row-start-voice-call::before {
	--icon: url('/Discord/files/icons/src/24/call.svg') !important;
}

#friend-row-remove-friend::before {
	--icon: url('/Discord/files/icons/src/24/person_delete.svg') !important;
}

/* Group */
#gdm-context-mark-channel-read::before {
	--icon: url('/Discord/files/icons/src/24/checkmark_circle.svg') !important;
}

#gdm-context-instant-invites::before {
	--icon: url('/Discord/files/icons/src/24/link.svg') !important;
}

#gdm-context-change-icon::before {
	--icon: url('/Discord/files/icons/src/24/image_add.svg') !important;
}

#gdm-context-remove-icon::before {
	--icon: url('/Discord/files/icons/src/24/image_prohibited.svg') !important;
}

#gdm-context-mute-channel::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

#gdm-context-unmute-channel::before {
	--icon: url('/Discord/files/icons/src/24/speaker_off.svg') !important;
}

#gdm-context-leave-channel::before {
	--icon: url('/Discord/files/icons/src/24/arrow_circle_left.svg') !important;
}

.item-1OdjEX#gdm-context-leave-channel.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#gdm-context-leave-channel.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#gdm-context-leave-channel.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#gdm-context-leave-channel.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}


/* 	Message */
#message-copy::before {
	--icon: url('/Discord/files/icons/src/24/copy.svg') !important;
}

#message-search-google::before {
	--icon: url('/Discord/files/icons/src/24/search.svg') !important;
}

#message-add-reaction::before {
	--icon: url("/Discord/files/icons/src/24/emoji_add.svg") !important;
}

#message-reactions::before,
#message-actions-reactions::before {
	--icon: url('/Discord/files/icons/src/24/emoji.svg') !important;
}

.item-1OdjEX#message-reactions .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-reactions .iconContainer-1-SsTR {
	display: none
}

#message-edit::before,
#message-actions-edit::before {
	--icon: url("/Discord/files/icons/src/24/edit.svg") !important;
}

.item-1OdjEX#message-edit .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-edit .iconContainer-1-SsTR {
	display: none
}

#message-pin::before,
#message-actions-pin::before {
	--icon: url("/Discord/files/icons/src/24/pin.svg") !important;
}

.item-1OdjEX#message-pin .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-pin .iconContainer-1-SsTR {
	display: none
}

#message-reply::before,
#message-actions-reply::before {
	--icon: url("/Discord/files/icons/src/24/arrow_reply.svg") !important;
}

.item-1OdjEX#message-reply .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-reply .iconContainer-1-SsTR {
	display: none
}

#message-thread::before,
#message-actions-goto-thread::before,
#message-actions-thread::before {
	--icon: url('/Discord/files/icons/src/16/thread.svg') !important;
}

.item-1OdjEX#message-thread .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-goto-thread .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-thread .iconContainer-1-SsTR {
	display: none
}

#message-apps::before,
#message-actions-apps::before {
	--icon: url("/Discord/files/icons/src/24/slash command.svg") !important;
}

#message-mark-unread::before,
#message-actions-mark-unread::before {
	--icon: url("/Discord/files/icons/src/24/unread.svg") !important;
	/*todo*/
}

.item-1OdjEX#message-mark-unread .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-mark-unread .iconContainer-1-SsTR {
	display: none
}

#message-actions-configure::before {
	--icon: url('/Discord/files/icons/src/24/settings.svg') !important;
}

.item-1OdjEX#message-actions-configure .iconContainer-1-SsTR {
	display: none
}

#message-copy-link::before,
#message-actions-copy-link::before {
	--icon: url("/Discord/files/icons/src/24/link.svg") !important;
}

.item-1OdjEX#message-copy-link .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-copy-link .iconContainer-1-SsTR {
	display: none
}

#message-guild-feed-feature::before {
	--icon: url('/Discord/files/icons/src/24/star.svg') !important;
}

#message-tts::before,
#message-actions-tts::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

.item-1OdjEX#message-tts .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-tts .iconContainer-1-SsTR {
	display: none
}

#message-remove-reactions::before {
	--icon: url('/Discord/files/icons/src/24/dismiss_circle.svg') !important;
}

#message-delete::before,
#message-actions-delete::before {
	--icon: url("/Discord/files/icons/src/24/delete.svg") !important;
}

.item-1OdjEX#message-delete .iconContainer-1-SsTR,
.item-1OdjEX#message-actions-delete .iconContainer-1-SsTR {
	display: none
}

#message-guild-automod-add-selection::before {
	--icon: url('/Discord/files/icons/src/20/filter_add.svg') !important;
}

#message-copy-image::before,
#image-context-copy-image::before {
	--icon: url('/Discord/files/icons/src/24/image_copy.svg') !important;
}

#message-save-image::before,
#image-context-save-image::before {
	--icon: url('/Discord/files/icons/src/24/save.svg') !important;
}

#message-copy-native-link::before,
#image-context-copy-native-link::before {
	--icon: url('/Discord/files/icons/src/24/link.svg') !important;
}

#message-open-native-link::before,
#image-context-open-native-link::before {
	--icon: url('/Discord/files/icons/src/24/open.svg') !important;
}

/* Stream */
#stream-context-watch::before,
#manage-streams-stop-streaming::before,
.item-1OdjEX[id^="manage-streams"]::before {
	--icon: url('/Discord/files/icons/src/24/live_off.svg') !important;
}

.item-1OdjEX[id^="manage-streams"] .iconContainer-1-SsTR {
	display: none
}


#stream-context-mute[aria-checked="true"]::before,
#user-context-mute-events[aria-checked="true"]::before,
#favorite-server-context-mute-server[aria-checked="true"]::before {
	--icon: url('/Discord/files/icons/src/24/speaker_off.svg') !important;
}

#stream-context-mute[aria-checked="false"]::before,
#user-context-mute-events[aria-checked="false"]::before,
#favorite-server-context-mute-server[aria-checked="false"]::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

.item-1OdjEX#stream-context-mute .iconContainer-1-SsTR {
	display: flex
}


.item-1OdjEX[id^="user-context-Add to Calendar"]::before {
	--icon: url('/Discord/files/icons/src/24/calendar_add.svg') !important;
}

.item-1OdjEX[id^="user-context-Start Event"]::before {
	--icon: url('/Discord/files/icons/src/24/calendar_arrow_right.svg') !important;
}

.item-1OdjEX[id^="user-context-Edit Event"]::before {
	--icon: url('/Discord/files/icons/src/24/calendar_edit.svg') !important;
}

.item-1OdjEX[id^="user-context-Cancel Event"]::before {
	--icon: url('/Discord/files/icons/src/24/calendar_cancel.svg') !important;
}

.item-1OdjEX[id^="user-context-Cancel Event"].colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX[id^="user-context-Cancel Event"].colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX[id^="user-context-Cancel Event"].colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX[id^="user-context-Cancel Event"].colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

.item-1OdjEX[id^="user-context-Copy Event Link"]::before {
	--icon: url('/Discord/files/icons/src/24/link.svg') !important;
}

#user-context-report-event::before {
	--icon: url('/Discord/files/icons/src/24/flag.svg') !important;
}

.item-1OdjEX#user-context-report-event .iconContainer-1-SsTR {
	display: none
}

.item-1OdjEX#user-context-report-event.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#user-context-report-event.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#user-context-report-event.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#user-context-report-event.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}


#stream-context-no-video-hide[aria-checked="true"]::before,
#channel-call-overflow-popout-no-video-hide[aria-checked="true"]::before,
#user-context-no-video-hide[aria-checked="true"]::before {
	--icon: url('/Discord/files/icons/src/24/video_person.svg') !important;
}

#stream-context-no-video-hide[aria-checked="false"]::before,
#channel-call-overflow-popout-no-video-hide[aria-checked="false"]::before,
#user-context-no-video-hide[aria-checked="false"]::before {
	--icon: url('/Discord/files/icons/src/24/video_person_off.svg') !important;
}

.item-1OdjEX#stream-context-no-video-hide .iconContainer-1-SsTR {
	display: flex
}

#channel-call-overflow-popout-show-call-chat-toasts::before {
	--icon: url('/Discord/files/icons/src/24/unread.svg') !important;
}

#stream-context-self-stream-hide[aria-checked="true"]::before,
#channel-call-overflow-popout-self-stream-hide[aria-checked="true"]::before {
	--icon: url('/Discord/files/icons/src/24/eye.svg') !important;
}

#stream-context-self-stream-hide[aria-checked="false"]::before,
#channel-call-overflow-popout-self-stream-hide[aria-checked="false"]::before {
	--icon: url('/Discord/files/icons/src/24/eye_off.svg') !important;
}

#stream-context-report-stream-problem::before,
#manage-streams-report-stream-problem::before,
#channel-call-overflow-popout-report-stream-problem::before {
	--icon: url('/Discord/files/icons/src/24/error_circle.svg') !important;
}

#manage-streams-stream-settings::before {
	--icon: url('/Discord/files/icons/src/24/options.svg') !important;
}

#manage-streams-change-windows::before {
	--icon: url('/Discord/files/icons/src/24/window.svg') !important;
}

/* Text Area */
#textarea-context-suggestions::before {
	--icon: url('/Discord/files/icons/src/24/lightbulb.svg') !important;
}

#textarea-context-sticker-suggestions::before {
	--icon: url('/Discord/files/icons/src/24/sticker.svg') !important;
}

.item-1OdjEX#textarea-context-sticker-suggestions .iconContainer-1-SsTR {
	display: flex
}

#textarea-context-submit-button::before {
	--icon: url('/Discord/files/icons/src/24/send.svg') !important;
}

#textarea-context-add-to-dictionary::before {
	--icon: url('/Discord/files/icons/src/24/book_add.svg') !important;
}

#textarea-context-spellcheck::before {
	--icon: url("/Discord/files/icons/src/24/book_letter.svg") !important;
}

.item-1OdjEX#textarea-context-spellcheck .iconContainer-1-SsTR {
	display: flex
}

.item-1OdjEX[id^="textarea-context-correction"]::before {
	--icon: url('/Discord/files/icons/src/24/circle_small.svg') !important;
}

#textarea-context-languages::before {
	--icon: url('/Discord/files/icons/src/24/local_language.svg') !important;
}

#textarea-context-copy::before {
	--icon: url('/Discord/files/icons/src/24/copy.svg') !important;
}

#textarea-context-cut::before {
	--icon: url('/Discord/files/icons/src/24/cut.svg') !important;
}

#textarea-context-paste::before {
	--icon: url('/Discord/files/icons/src/24/clipboard_paste.svg') !important;
}

/* Emoji */
#expression-picker-favorite::before {
	--icon: url('/Discord/files/icons/src/24/star_add.svg') !important;
}

#expression-picker-unfavorite::before {
	--icon: url('/Discord/files/icons/src/24/star_dismiss.svg') !important;
}

/* Channel */
#channel-context-opt-into-channel::before {
	--icon: url('/Discord/files/icons/src/24/apps_list.svg') !important;
}

#channel-context-opt-in-favorite-channel::before {
	--icon: url('/Discord/files/icons/src/24/star_line_horizontal_3.svg') !important;
}

#channel-context-unmute-channel::before,
#recents-notifications-unmute-channel::before {
	--icon: url('/Discord/files/icons/src/24/speaker_off.svg') !important;
}

#channel-context-mute-channel::before,
#recents-notifications-mute-channel::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

#channel-context-collapse-category[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/folder_open.svg') !important;
}

#channel-context-collapse-category[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/folder.svg') !important;
}

.item-1OdjEX#channel-context-collapse-category .iconContainer-1-SsTR {
	display: flex
}

#channel-context-collapse-all-categories::before {
	--icon: url('/Discord/files/icons/src/24/arrow_collapse_all.svg') !important;
}

#channel-context-channel-notifications::before {
	--icon: url('/Discord/files/icons/src/24/alert.svg') !important;
}

#channel-context-open-chat::before {
	--icon: url('/Discord/files/icons/src/24/comment.svg') !important;
}

#channel-context-hide-voice-names[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/eye.svg') !important;
}

.item-1OdjEX#channel-context-hide-voice-names .iconContainer-1-SsTR {
	display: flex
}

#channel-context-hide-voice-names[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/eye_off.svg') !important;
}

.item-1OdjEX[id^="channel-context-embedded-activity-join"]::before {
	--icon: url('/Discord/files/icons/src/24/games.svg') !important;
}

#channel-context-edit-channel::before {
	--icon: url('/Discord/files/icons/src/24/edit.svg') !important;
}

#channel-context-copy-channel-topic::before {
	--icon: url('/Discord/files/icons/src/24/copy.svg') !important;
}

#channel-context-invite-people::before {
	--icon: url('/Discord/files/icons/src/24/person_add.svg') !important;
}

#channel-context-clone-channel::before {
	--icon: url('/Discord/files/icons/src/24/copy.svg') !important;
}

#channel-context-channel-copy-link::before {
	--icon: url('/Discord/files/icons/src/24/link.svg') !important;
}

#channel-context-delete-channel::before {
	--icon: url('/Discord/files/icons/src/24/delete.svg') !important;
}

/* Guild */
#guild-header-popout-premium-subscribe::before {
	--icon: url("/Discord/files/icons/src/24/boost.svg") !important;
}

.item-1OdjEX#guild-header-popout-premium-subscribe.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: #ff73fa;
}

.item-1OdjEX#guild-header-popout-premium-subscribe.colorDefault-CDqZdO.focused-3qFvc8 {
	background: #ff73fa;
	color: var(--danger-text-focused)
}

.item-1OdjEX#guild-header-popout-premium-subscribe.colorDefault-CDqZdO::before {
	background: #ff73fa
}

.item-1OdjEX#guild-header-popout-premium-subscribe.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#guild-header-popout-insights::before {
	--icon: url('/Discord/files/icons/src/24/data_trending.svg') !important;
}

#guild-header-popout-invite-people::before,
#guild-context-invite-people::before {
	--icon: url("/Discord/files/icons/src/24/person_add.svg") !important;
}

#guild-header-popout-settings::before,
#guild-context-guild-settings::before {
	--icon: url("/Discord/files/icons/src/24/settings.svg") !important;
}

#guild-header-popout-create-channel::before,
#guild-context-create-channel::before,
#channel-context-create-text-channel::before {
	--icon: url("/Discord/files/icons/src/20/add_text_channel.svg") !important;
}

#channel-context-create-voice-channel::before {
	--icon: url('/Discord/files/icons/src/20/add_voice_channel.svg') !important;
}

#guild-header-popout-create-category::before,
#guild-context-create-category::before,
#favorites-header-popout-create-category::before {
	--icon: url("/Discord/files/icons/src/24/folder_add.svg") !important;
}

.item-1OdjEX#favorites-header-popout-create-category .iconContainer-1-SsTR {
	display: none
}

#guild-header-popout-create-event::before,
#guild-context-create-event::before {
	--icon: url('/Discord/files/icons/src/24/calendar_add.svg') !important;
}

#guild-header-popout-opt-in[aria-checked="true"]::before {
	--icon: url('/Discord/files/icons/src/24/comment.svg') !important;
}

#guild-header-popout-opt-in[aria-checked="false"]::before {
	--icon: url('/Discord/files/icons/src/24/comment_off.svg') !important;
}

#guild-header-popout-mark-guild-read::before,
#guild-context-mark-guild-read::before {
	--icon: url('/Discord/files/icons/src/24/checkmark_circle.svg') !important;
}

#guild-header-popout-notifications::before,
#guild-context-guild-notifications::before,
#guild-context-notifications::before,
#thread-context-thread-notifications::before {
	--icon: url("/Discord/files/icons/src/24/alert.svg") !important;
}

#guild-context-guild-notifications--mobile-push::before {
	--icon: url("/Discord/files/icons/src/24/alert.svg") !important;
}

#guild-header-popout-privacy::before,
#guild-context-privacy::before {
	--icon: url("/Discord/files/icons/src/24/shield_lock.svg") !important;
}

#guild-header-popout-change-nickname::before,
#guild-context-change-nickname::before {
	--icon: url("/Discord/files/icons/src/24/person_edit.svg") !important;
}

#edit-profile-popout-edit-server-profile::before {
	--icon: url('/Discord/files/icons/src/24/edit.svg') !important;
}

#edit-profile-popout-edit-default-profile::before {
	--icon: url('/Discord/files/icons/src/24/person_edit.svg') !important;
}

#guild-header-popout-hide-muted-channels[aria-checked="false"]::before,
#guild-context-hide-muted-channels[aria-checked="false"]::before,
#favorites-header-popout-hide-muted-channels[aria-checked="false"]::before {
	--icon: url("/Discord/files/icons/src/24/eye.svg") !important;
}

.item-1OdjEX#guild-header-popout-hide-muted-channels .iconContainer-1-SsTR,
.item-1OdjEX#guild-context-hide-muted-channels .iconContainer-1-SsTR {
	display: flex
}

#guild-header-popout-hide-muted-channels[aria-checked="true"]::before,
#guild-context-hide-muted-channels[aria-checked="true"]::before,
#favorites-header-popout-hide-muted-channels[aria-checked="true"]::before {
	--icon: url("/Discord/files/icons/src/24/eye_off.svg") !important;
}

#guild-header-popout-report-raid::before {
	--icon: url('/Discord/files/icons/src/24/shield_error.svg') !important;
}

.item-1OdjEX#guild-header-popout-report-raid.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--status-danger)
}

.item-1OdjEX#guild-header-popout-report-raid.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--status-danger);
	color: var(--danger-text-focused)
}

.item-1OdjEX#guild-header-popout-report-raid.colorDefault-CDqZdO::before {
	background: var(--status-danger)
}

.item-1OdjEX#guild-header-popout-report-raid.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

.icon-E4cW1l path[d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM12 11.99H19C18.47 16.11 15.72 19.78 12 20.93V12H5V6.3L12 3.19V11.99Z"] {
	display: none;
}

#guild-header-popout-leave::before,
#guild-context-leave-guild::before,
#guild-header-popout-leave-guild::before {
	--icon: url("/Discord/files/icons/src/24/arrow_circle_left.svg") !important;
}

.icon-E4cW1l [d="M10.418 13L12.708 15.294L11.292 16.706L6.586 11.991L11.294 7.292L12.707 8.708L10.41 11H21.949C21.446 5.955 17.177 2 12 2C6.486 2 2 6.487 2 12C2 17.513 6.486 22 12 22C17.177 22 21.446 18.046 21.949 13H10.418Z"] {
	display: none;
}

#guild-settings-role-context-view-as-role::before,
#guild-integrations-permission-role-context-view-as-role::before {
	--icon: url('/Discord/files/icons/src/24/eye.svg') !important;
}

#guild-settings-role-context-delete-role::before {
	--icon: url('/Discord/files/icons/src/24/delete.svg') !important;
}

#guild-context-mute-guild::before,
#thread-context-mute-channel::before,
#recents-notifications-mute-guild::before {
	--icon: url('/Discord/files/icons/src/24/speaker_2.svg') !important;
}

#guild-context-unmute-guild::before,
#thread-context-unmute-channel::before,
#recents-notifications-unmute-guild::before {
	--icon: url('/Discord/files/icons/src/24/speaker_off.svg') !important;
}

#automod-rule-context-edit-automod-rule::before {
	--icon: url('/Discord/files/icons/src/24/comment_edit.svg') !important;
}

#automod-rule-context-delete-automod-rule::before {
	--icon: url('/Discord/files/icons/src/24/comment_dismiss.svg') !important;
}

#guild-context-mark-folder-read::before {
	--icon: url('/Discord/files/icons/src/24/checkmark_circle.svg') !important;
}

#guild-context-folder-settings::before {
	--icon: url('/Discord/files/icons/src/24/settings.svg') !important;
}

#guild-context-folder-collapse::before {
	--icon: url('/Discord/files/icons/src/24/folder.svg') !important;
}

#guild-context-join::before {
	--icon: url('/Discord/files/icons/src/24/arrow_circle_right.svg') !important;
}

#guild-context-create::before {
	--icon: url('/Discord/files/icons/src/24/add_circle.svg') !important;
}

/* Thread */
#thread-context-open::before {
	--icon: url('/Discord/files/icons/src/24/split_vertical.svg') !important;
}

#thread-context-join-thread::before {
	--icon: url('/Discord/files/icons/src/24/comment_arrow_right.svg') !important;
}

#thread-context-leave-thread::before {
	--icon: url('/Discord/files/icons/src/24/comment_arrow_left.svg') !important;
}

#thread-context-channel-copy-link::before {
	--icon: url('/Discord/files/icons/src/24/link.svg') !important;
}

#thread-context-mark-channel-read::before {
	--icon: url('/Discord/files/icons/src/24/checkmark_circle.svg') !important;
}

#thread-context-edit-thread::before {
	--icon: url('/Discord/files/icons/src/24/comment_edit.svg') !important;
}

#thread-context-pin-thread::before {
	--icon: url('/Discord/files/icons/src/24/pin.svg') !important;
}

#thread-context-unpin-thread::before {
	--icon: url('/Discord/files/icons/src/24/pin_off.svg') !important;
}

#thread-context-edit-tags::before {
	--icon: url('/Discord/files/icons/src/24/tag.svg') !important;
}

#thread-context-archive-thread::before,
#thread-context-unarchive-thread::before {
	--icon: url('/Discord/files/icons/src/24/archive.svg') !important;
}

#thread-context-auto-archive-thread::before {
	--icon: url('/Discord/files/icons/src/24/clock.svg') !important;
}

#thread-context-search::before {
	--icon: url('/Discord/files/icons/src/24/search.svg') !important;
}

#thread-context-pins::before {
	--icon: url('/Discord/files/icons/src/24/pin.svg') !important;
}

#thread-context-delete-channel::before {
	--icon: url('/Discord/files/icons/src/24/delete.svg') !important;
}

/* Now Playing */
#now-playing-menu-message::before {
	--icon: url('/Discord/files/icons/src/24/comment.svg') !important;
}

#now-playing-menu-play-undefined::before {
	--icon: url('/Discord/files/icons/src/24/games.svg') !important;
}

.item-1OdjEX[id^=user-context-spotify-play-]::before {
	--icon: url('/Discord/files/icons/src/24/play_circle.svg')
}

.item-1OdjEX[id^=now-playing-menu-spotify-play]::before {
	--icon: url('/Discord/files/icons/src/24/play_circle.svg')
}

.item-1OdjEX[id^=user-context-spotify-sync-]::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

.item-1OdjEX[id^=now-playing-menu-spotify-sync]::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

#now-playing-menu-spotify-sync::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

/* Video */
.item-1OdjEX[id^=video-device-context-video-device][aria-checked=true]::before {
	--icon: url("/Discord/files/icons/src/24/video.svg")
}

.item-1OdjEX[id^=video-device-context-video-device][aria-checked=false]::before {
	--icon: url("/Discord/files/icons/src/24/video.svg")
}

.item-1OdjEX[id^=video-device-context-video-device] .iconContainer-1-SsTR {
	display: flex
}

#video-device-context-change-video-background::before {
	--icon: url('/Discord/files/icons/src/24/video_person.svg') !important;
}

#video-background-context-remove::before {
	--icon: url('/Discord/files/icons/src/24/dismiss_circle.svg') !important;
}

/* RTC */
#rtc-channel-VOICE_ACTIVITY::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}

.item-1OdjEX#rtc-channel-VOICE_ACTIVITY .iconContainer-1-SsTR {
	display: flex
}

#rtc-channel-PUSH_TO_TALK::before {
	--icon: url('/Discord/files/icons/src/24/mic_pulse.svg') !important;
}

.item-1OdjEX#rtc-channel-PUSH_TO_TALK .iconContainer-1-SsTR {
	display: flex
}

#rtc-channel-show-voice-states[aria-checked='true']::before {
	--icon: url('/Discord/files/icons/src/24/eye.svg') !important;
}

#rtc-channel-show-voice-states[aria-checked='false']::before {
	--icon: url('/Discord/files/icons/src/24/eye_off.svg') !important;
}

.item-1OdjEX#rtc-channel-show-voice-states .iconContainer-1-SsTR {
	display: flex
}


#rtc-channel-popout-call::before {
	--icon: url('/Discord/files/icons/src/24/open.svg') !important;
}

/* Subscription */
#subscription-context-apply::before {
	--icon: url('/Discord/files/icons/src/24/arrow_swap.svg') !important;
}

/* Voice Settings */
.item-1OdjEX[id^=audio-device-context-output]::before {
	--icon: url('/Discord/files/icons/src/24/headphones.svg') !important;
}

.item-1OdjEX[id^=audio-device-context-output] .iconContainer-1-SsTR {
	display: flex
}

.item-1OdjEX[id^=audio-device-context-input]::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}

.item-1OdjEX[id^=audio-device-context-input] .iconContainer-1-SsTR {
	display: flex
}

#audio-device-context-VOICE_ACTIVITY::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}

.item-1OdjEX#audio-device-context-VOICE_ACTIVITY .iconContainer-1-SsTR {
	display: flex
}

#audio-device-context-PUSH_TO_TALK::before {
	--icon: url('/Discord/files/icons/src/24/mic_pulse.svg') !important;
}

.item-1OdjEX#audio-device-context-PUSH_TO_TALK .iconContainer-1-SsTR {
	display: flex
}

#audio-device-context-voice-settings::before {
	--icon: url('/Discord/files/icons/src/24/mic_settings.svg') !important;
}

/* Settings */
#user-settings-cog-My_Account::before {
	--icon: url('/Discord/files/icons/src/24/person.svg') !important;
}

#user-settings-cog-Profile_Customization::before {
	--icon: url('/Discord/files/icons/src/24/edit.svg') !important;
}

#user-settings-cog-Privacy___Safety::before {
	--icon: url('/Discord/files/icons/src/24/shield_lock.svg') !important;
}

#user-settings-cog-Authorized_Apps::before {
	--icon: url('/Discord/files/icons/src/24/apps.svg') !important;
}

#user-settings-cog-Sessions::before {
	--icon: url('/Discord/files/icons/src/24/phone_desktop.svg') !important;
}

#user-settings-cog-Connections::before {
	--icon: url('/Discord/files/icons/src/24/plug_connected.svg') !important;
}

#user-settings-cog-Friend_Requests::before {
	--icon: url('/Discord/files/icons/src/24/person_add.svg') !important;
}

#user-settings-cog-Discord_Nitro::before {
	--icon: url('/Discord/files/icons/src/24/nitro.svg') !important;
}

#user-settings-cog-Subscriptions::before {
	--icon: url('/Discord/files/icons/src/24/star.svg') !important;
}

#user-settings-cog-Nitro_Server_Boost::before {
	--icon: url('/Discord/files/icons/src/24/boost.svg') !important;
}

#user-settings-cog-Library_Inventory::before {
	--icon: url('/Discord/files/icons/src/24/gift.svg') !important;
}

#user-settings-cog-Billing::before {
	--icon: url('/Discord/files/icons/src/24/receipt.svg') !important;
}

#user-settings-cog-Appearance::before {
	--icon: url('/Discord/files/icons/src/24/paint_bucket.svg') !important;
}

#user-settings-cog-Accessibility--input .sliderContainer-2nidiS::before {
	--icon: url("/Discord/files/icons/src/24/weather_sunny.svg");
}

#user-settings-cog-Accessibility::before {
	--icon: url('/Discord/files/icons/src/24/accessibility.svg') !important;
}

#user-settings-cog-Voice___Video::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}

#user-settings-cog-Voice___Video--input .sliderContainer-2nidiS::before {
	--icon: url('/Discord/files/icons/src/24/mic.svg') !important;
}

#user-settings-cog-Voice___Video--output .sliderContainer-2nidiS::before {
	--icon: url("/Discord/files/icons/src/24/headphones.svg");
	width: 20px
}

#user-settings-cog-Text___Images::before {
	--icon: url('/Discord/files/icons/src/24/image.svg') !important;
}

#user-settings-cog-Notifications::before {
	--icon: url('/Discord/files/icons/src/24/alert.svg') !important;
}

#user-settings-cog-Keybinds::before {
	--icon: url('/Discord/files/icons/src/24/keyboard.svg') !important;
}

#user-settings-cog-Language::before {
	--icon: url('/Discord/files/icons/src/24/local_language.svg') !important;
}

#user-settings-cog-Windows::before {
	--icon: url('/Discord/files/icons/src/24/window.svg') !important;
}

#user-settings-cog-Linux::before {
	--icon: url('/Discord/files/icons/src/24/server.svg') !important;
}

#user-settings-cog-Streamer_Mode::before {
	--icon: url('/Discord/files/icons/src/24/live.svg') !important;
}

#user-settings-cog-Advanced::before {
	--icon: url('/Discord/files/icons/src/24/wrench.svg') !important;
}

#user-settings-cog-Activity_Privacy::before {
	--icon: url('/Discord/files/icons/src/16/games_lock.svg') !important;
}

#user-settings-cog-Game_Activity::before {
	--icon: url('/Discord/files/icons/src/24/games.svg') !important;
}

#user-settings-cog-Overlay::before {
	--icon: url('/Discord/files/icons/src/24/picture_in_picture.svg') !important;
}

#user-settings-cog-changelog::before {
	--icon: url('/Discord/files/icons/src/20/text_bullet_list_square_clock.svg') !important;
}

#user-settings-cog-Hypesquad_Online::before {
	--icon: url('/Discord/files/icons/src/24/hypesquad.svg') !important;
}

#user-settings-cog-Experiments::before {
	--icon: url('/Discord/files/icons/src/24/beaker.svg') !important;
}

#user-settings-cog-Developer_Options::before {
	--icon: url('/Discord/files/icons/src/24/code.svg') !important;
}

#user-settings-cog-Hotspot_Options::before {
	--icon: url('/Discord/files/icons/src/24/communication.svg') !important;
}

#user-settings-cog-Dismissible_Content_Options::before {
	--icon: url('/Discord/files/icons/src/24/dismiss_circle.svg') !important;
}

#user-settings-cog-Payment_Flow_Modals::before {
	--icon: url('/Discord/files/icons/src/24/payment.svg') !important;
}

#guild-entry-context-update-entry::before {
	--icon: url('/Discord/files/icons/src/24/settings.svg') !important;
}

#guild-entry-context-remove-from-hub::before {
	--icon: url('/Discord/files/icons/src/24/dismiss_circle.svg') !important;
}

#guild-entry-context-report-server-listing::before {
	--icon: url('/Discord/files/icons/src/24/flag.svg') !important;
}

#channel-context-new-forum-threads-created::before {
	--icon: url('/Discord/files/icons/src/24/chat.svg') !important;
}

#channel-context-3::before,
#recents-notifications-3::before {
	--icon: url('/Discord/files/icons/src/24/folder.svg') !important;
}

#channel-context-0::before,
#recents-notifications-0::before {
	--icon: url('/Discord/files/icons/src/24/comment.svg') !important;
}

#channel-context-1::before,
#recents-notifications-1::before {
	--icon: url('/Discord/files/icons/src/24/mention.svg') !important;
}

#channel-context-2::before,
#recents-notifications-2::before {
	--icon: url('/Discord/files/icons/src/24/dismiss_circle.svg') !important;
}

#mentions-filter-Everyone::before {
	--icon: url('/Discord/files/icons/src/24/mention.svg') !important;
}

.item-1OdjEX#mentions-filter-Everyone .iconContainer-1-SsTR {
	display: flex
}

#mentions-filter-Roles::before {
	--icon: url('/Discord/files/icons/src/20/shield_person.svg') !important;
}

.item-1OdjEX#mentions-filter-Roles .iconContainer-1-SsTR {
	display: flex
}

.item-1OdjEX[id^="mentions-filter-All Servers"]::before {
	--icon: url('/Discord/files/icons/src/20/server_multiple.svg') !important;
}

#component-button-copy::before {
	--icon: url('/Discord/files/icons/src/24/link.svg') !important;
}

#manage-multi-account-remove-account::before {
	--icon: url('/Discord/files/icons/src/24/sign_out.svg') !important;
}

.item-1OdjEX#manage-multi-account-remove-account.colorDefault-CDqZdO {
	background: var(--danger-background-normal);
	color: var(--danger-text-normal)
}

.item-1OdjEX#manage-multi-account-remove-account.colorDefault-CDqZdO.focused-3qFvc8 {
	background: var(--danger-background-hover);
	color: var(--danger-text-focused)
}

.item-1OdjEX#manage-multi-account-remove-account.colorDefault-CDqZdO::before {
	background: var(--danger-icon-normal)
}

.item-1OdjEX#manage-multi-account-remove-account.colorDefault-CDqZdO.focused-3qFvc8::before {
	background: var(--danger-icon-focused)
}

#account-status-picker::before {
	display: none;
}

#account-edit-custom-status::before {
	display: none;
}

#account-set-custom-status::before {
	display: none;
}

#account-switch-account::before {
	display: none;
}