@import url("./root.css");
@import url("./SpaceTheme.css");
@import url("/SpaceTheme/Discord/files/theme/app/import.css");
@import url("/SpaceTheme/Discord/files/theme/bd/import.css");
@import url("/SpaceTheme/Discord/files/theme/chat/import.css");
@import url("/SpaceTheme/Discord/files/theme/custom/import.css");
@import url("/SpaceTheme/Discord/files/theme/guilds/import.css");
@import url("/SpaceTheme/Discord/files/theme/inputs/import.css");
@import url("/SpaceTheme/Discord/files/theme/modals/import.css");
@import url("/SpaceTheme/Discord/files/theme/other/import.css");
@import url("/SpaceTheme/Discord/files/theme/settings/import.css");
@import url("/SpaceTheme/Discord/files/theme/user/import.css");