@import url("./root.css");
@import url("./SpaceTheme.css");
@import url("../theme/app/background.css");
@import url("../theme/app/index.css");
@import url("../theme/app/login.css");
@import url("../theme/app/nointernet.css");
@import url("../theme/app/scrollbar.css");
@import url("../theme/app/text.css");
@import url("../theme/app/titelbar.css");
@import url("../theme/chat/channels/banner.css");
@import url("../theme/chat/channels/index.css");
@import url("../theme/chat/channels/nitro.css");
@import url("../theme/chat/embeds/buildoverride.css");
@import url("../theme/chat/embeds/embeds.css");
@import url("../theme/chat/embeds/event.css");
@import url("../theme/chat/embeds/gameinvite.css");
@import url("../theme/chat/embeds/invite.css");
@import url("../theme/chat/embeds/polls.css");
@import url("../theme/chat/embeds/spotifyinvite.css");
@import url("../theme/chat/forums/cards.css");
@import url("../theme/chat/forums/chat.css");
@import url("../theme/chat/forums/index.css");
@import url("../theme/chat/forums/search.css");
@import url("../theme/chat/browsechannels.css");
@import url("../theme/chat/call.css");
@import url("../theme/chat/channelhaeder.css");
@import url("../theme/chat/codeblocks.css");
@import url("../theme/chat/emojipicker.css");
@import url("../theme/chat/inbox.css");
@import url("../theme/chat/index.css");
@import url("../theme/chat/input.css");
@import url("../theme/chat/jumptopresentbar.css");
@import url("../theme/chat/members.css");
@import url("../theme/chat/membersList.css");
@import url("../theme/chat/messages.css");
@import url("../theme/chat/pins.css");
@import url("../theme/chat/search.css");
@import url("../theme/chat/thread.css");
@import url("../theme/client/betterdiscord/plugins/Experiments.css");
@import url("../theme/client/betterdiscord/addonlist.css");
@import url("../theme/client/betterdiscord//index.css");
@import url("../theme/client/vencord/plugins/BetterFolders.css");
@import url("../theme/client/vencord/plugins/Experiments.css");
@import url("../theme/client/vencord/plugins/ServerProfile.css");
@import url("../theme/client/vencord/addonlist.css");
@import url("../theme/client/vencord/index.css");
/*
@import url("../theme/custom/guilds/banners/servers/1104516050537685144.css");
@import url("../theme/custom/guilds/banners/index.css");
@import url("../theme/custom/guilds/banners/servers/1104516050537685144.css");
@import url("../theme/custom/guilds/icons/servers/221389586515886081.css");
@import url("../theme/custom/guilds/icons/servers/1104516050537685144.css");
@import url("../theme/custom/guilds/icons/index.css");
@import url("../theme/custom/users/badge/users/1178768557178376222.css");
@import url("../theme/custom/users/badge/users/221097896328691712.css");
@import url("../theme/custom/users/badge/users/495333777606967306.css");
@import url("../theme/custom/users/badge/users/682317162010247184.css");
@import url("../theme/custom/users/badge/users/770013098689953832.css");
@import url("../theme/custom/users/badge/users/871735378837667880.css");
@import url("../theme/custom/users/badge/index.css");
@import url("../theme/custom/users/gradientusername/users/1178768557178376222.css");
@import url("../theme/custom/users/gradientusername/users/132176532767637505.css");
@import url("../theme/custom/users/gradientusername/users/221097896328691712.css");
@import url("../theme/custom/users/gradientusername/users/495333777606967306.css");
@import url("../theme/custom/users/gradientusername/users/496855814791888898.css");
@import url("../theme/custom/users/gradientusername/users/579703530164846592.css");
@import url("../theme/custom/users/gradientusername/users/682317162010247184.css");
@import url("../theme/custom/users/gradientusername/users/701870295195320410.css");
@import url("../theme/custom/users/gradientusername/users/770013098689953832.css");
@import url("../theme/custom/users/gradientusername/users/871735378837667880.css");
@import url("../theme/custom/users/gradientusername/index.css");
*/
@import url("../theme/guilds/always.css");
@import url("../theme/guilds/folder.css");
@import url("../theme/guilds/index.css");
@import url("../theme/inputs/button.css");
@import url("../theme/inputs/color.css");
@import url("../theme/inputs/date.css");
@import url("../theme/inputs/dropdown.css");
@import url("../theme/inputs/index.css");
@import url("../theme/inputs/radiobutton.css");
@import url("../theme/inputs/range.css");
@import url("../theme/inputs/switch.css");
@import url("../theme/other/context.css");
@import url("../theme/other/modals.css");
@import url("../theme/settings/channel/permissions.css");
@import url("../theme/settings/icons/channel.css");
@import url("../theme/settings/icons/index.css");
@import url("../theme/settings/icons/server.css");
@import url("../theme/settings/icons/user.css");
@import url("../theme/settings/server/roles/edit/display.css");
@import url("../theme/settings/server/roles/edit/index.css");
@import url("../theme/settings/server/roles/edit/permissions.css");
@import url("../theme/settings/server/roles/list.css");
@import url("../theme/settings/server/appdirectory.css");
@import url("../theme/settings/server/emoji.css");
@import url("../theme/settings/server/index.css");
@import url("../theme/settings/user/billings.css");
@import url("../theme/settings/user/connections.css");
@import url("../theme/settings/user/devices.css");
@import url("../theme/settings/user/family.css");
@import url("../theme/settings/user/gifts.css");
@import url("../theme/settings/user/index.css");
@import url("../theme/settings/user/language.css");
@import url("../theme/settings/user/myaccount.css");
@import url("../theme/settings/user/privacy.css");
@import url("../theme/settings/user/registeredgames.css");
@import url("../theme/settings/index.css");
@import url("../theme/settings/invites.css");
@import url("../theme/user/profile/modal/index.css");
@import url("../theme/user/profile/modal/spotifyactivity.css");
@import url("../theme/user/profile/popout/index.css");
@import url("../theme/user/profile/popout/spotifyactivity.css");
@import url("../theme/user/pannel.css");