:root {
    /* Colors */
    --color-1: #111111;
    --color-2: #1e1e1e;
    --color-3: #141414;
    --color-4: #181818;
    --color-5: #26292c;
    --color-6: #262629;
    --accent: #666CFF;
    --accent-2: #878CFF;
    --background: #0a0a0a;

    /* Theme Settings */
    --border-radius-large: 8px;
    --border-radius-medium: 4px;

    --margin-large: 16px;
    --margin-medium: 12px;
    --margin-small: 6px;

    /* Custom Home Icon */
    --home-icon: url("https://discord.com/assets/99e79fc8aff1ebe7fd97fb5fd799a2bd.webp"); /* The URL can be changed to any other image URL. GIF's are also supported. */
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::-webkit-input-placeholder, * {
    font-family: "Be Vietnam Pro" !important;
}