/**
* @name 🪐SpaceTheme🪐
* @author SpaceEnergy
* @version alpha
* @description SpaceTheme for Discord
* @invite 7Zv8Xz3Vzn
* @donate https://ko-fi.com/spaceenergy
* @authorLink https://github.com/SpaceEnergy
* @website https://spaceenergy.github.io
**/

/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?General
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Home Icon */
.childWrapper-1j_1ub {
    background: var(--home-icon);
    background-size: 48px;
}
.childWrapper-1j_1ub svg {
    display: none;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Navbar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.container-ZMc96U {
    height: 55px;
    width: auto;
    margin: 0 0 15px 0;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.container-2cd8Mz {
    background-color: var(--background);
}

/*! Delete */
.chat-2ZfjoI {
    background-color: transparent;
}

.container-ZMc96U
.children-3xh0VB::after {
    background: var(--color-2) !important;
}

.tabBody-2dgbAs::before {
    box-shadow: none;
    -webkit-box-shadow: none;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Server Channels
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background: none;
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    background: none;
}

.emojiColorFill-3g46kH {
    background-color: transparent !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Loading
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?No Internet
=-=-=-=-=-=-=-=
*/

/* Chat */
.wrapper-3HVHpV {
    background-color: var(--color-1);
}
.wrapper-15CKyy {
    background-color: var(--color-1);
}


/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Discover
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Left Sidebar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Sidebar */
.sidebar-1tnWFu>.thin-RnSY0a.scrollerBase-1Pkza4 {
    margin: 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Main Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.pageWrapper-2PwDoS,
.scroller-RfJjkV.thin-RnSY0a.scrollerBase-1Pkza4 {
    border-radius: 8px;
}
.scroller-3j5xK2.auto-2TJ1RH.scrollerBase-1Pkza4,
.scroller-RfJjkV.thin-RnSY0a.scrollerBase-1Pkza4 {
    border-radius: 8px;
    background-color: var(--color-1);
}


/*
=-=-=-=-=-=-=-=
?Banner
=-=-=-=-=-=-=-=
*/

/* Base */
.searchHeader-3ZIh2x,
.headerContainer-1RYk-Y {
    height: 200px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.searchHeader-3ZIh2x .headerImage-2D5D-v,
.headerContainer-1RYk-Y .headerImage-1c8Lrb {
    display: none;
}

/* Searchbar */
.search-25t1e9 .searchBox-31Zv9h {
    border-radius: 8px;
    background-color: var(--color-3);
    box-shadow: none;
}
.search-25t1e9 .searchBox-31Zv9h:is(:focus, :focus-within) {
    box-shadow: 0 0 0 3px var(--accent);
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
    color: #fff;
}


/*
=-=-=-=-=-=-=-=
?Cards
=-=-=-=-=-=-=-=
*/

/* Base */
.card-2TuZPZ,
.container-1wv6C6 {
    height: 400px;
    background-color: var(--color-2) !important;
}

/* Banner */
img.splashImage-_KUn-T.splashImageHeight-1mpt3D {
    border-radius: 8px;
}
.splash-1VADA3 {
    width: -webkit-fill-available;
    margin: 10px;
}

/* Icon */
.iconMask-2fMR98 {
    background-color: var(--color-2) !important;
}

/* Action Button */
.actionButtons-3ILsbw .wrapper-2vIMkT {
    background-color: #2b2b2b;
    border-radius: 8px;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Modals
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.focusLock-bHVOlV .root-1CAIjD {
    border-radius: 8px;
    box-shadow: var(--background) 0 0 30px 30px;
}



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?New Audio Divice
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/*
=-=-=-=-=-=-=-=
?Main
=-=-=-=-=-=-=-=
*/

.root-1CAIjD.small-2xUY-3.fullscreenOnMobile-2971EC.rootWithShadow-2hdL2J {
    border-radius: 8px;
    background-color: var(--color-2);
}

/*
=-=-=-=-=-=-=-=
?Footer
=-=-=-=-=-=-=-=
*/

/* Main */
.footerSeparator-3U8YsT {
    border-radius: 0 0 8px 8px;
    background-color: var(--color-4);
}

/* Bottons */
.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyEnd-2G0m6w.alignStretch-Uwowzr.noWrap-hBpHBz {
    justify-content: space-between;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Friends
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Left Sidebar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Find or start a conversation Button
=-=-=-=-=-=-=-=
*/

.searchBarComponent-3N7dCG {
    height: 100% !important;
    text-align: center !important;
    white-space: unset !important;
    background-color: var(--color-3) !important;
}
.searchBar-3TnChZ {
    height: 60px;
    padding: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
    box-shadow: none;
    -webkit-box-shadow: none;
}


/*
=-=-=-=-=-=-=-=
?Friends
=-=-=-=-=-=-=-=
*/


.channel-1Shao0 {
    max-width: unset;
}


/*
=-=-=-=-=-=-=-=
?Module
=-=-=-=-=-=-=-=
*/

.privateChannels-oVe7HL
.scroller-WSmht3 {
    margin: 15px 0;
    border-radius: 8px;
}


/*
=-=-=-=-=-=-=-=
?Background
=-=-=-=-=-=-=-=
*/

.scroller-WSmht3 {
    background-color: var(--color-2) !important;
}
.privateChannels-oVe7HL {
    background-color: var(--background);
}



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Middel
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Module */
.peopleColumn-1wMU14 {
    margin: 0 15px 0 0;
    border-radius: 8px;
    background-color: var(--color-1);
}

/* Searchbar */
.peopleColumn-1wMU14
.searchBar-2aylmZ {
    height: 40px;
    margin: 15px 15px 5px 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}

/* Background */
.tabBody-2dgbAs {
    background-color: var(--background);
}

/* Friends List Cards */
.peopleList-2VBrVI {
    margin: 15px;
    padding: 0;
}
.peopleList-2VBrVI::-webkit-scrollbar {
    display: none;
}
.peopleList-2VBrVI>div {
    display: flex;
    flex-wrap: wrap;
}
.peopleListItem-u6dGxF {
    height: auto !important;
    width: 307px;
    margin: 5px !important;
    padding: 8px !important;
    cursor: default;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.peopleListItem-u6dGxF .listItemContents-2n2Uy9,
.peopleListItem-u6dGxF .listItemContents-2NFd61,
.peopleListItem-u6dGxF .listItemContents-f4Uz5J {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 291px;
}

.peopleListItem-u6dGxF .userInfo-2WpsYG {
    display: flex;
    flex: unset;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-1);
}
.peopleListItem-u6dGxF .userInfo-2WpsYG:hover {
    background-color: var(--color-3);
}
.peopleListItem-u6dGxF .userInfo-2WpsYG .discriminator-WV5K5s {
    visibility: hidden !important;
}
.peopleListItem-u6dGxF .userInfo-2WpsYG:hover .discriminator-WV5K5s {
    visibility: visible !important;
}

.peopleListItem-u6dGxF .username-Qpc78p {
    overflow: unset;
}
.peopleListItem-u6dGxF .userInfo-2WpsYG:hover .username-Qpc78p {
    overflow: hidden;
}

.peopleListItem-u6dGxF .actions-YHvpIT,
.peopleListItem-u6dGxF .actions-2ZgdH4,
.peopleListItem-u6dGxF .actionButton-3-B2x-.actionDeny-1pQVuZ {
    width: 100%;
    margin: 8px 0 0;
}
.peopleListItem-u6dGxF .actions-2ZgdH4 .actionButton-3-B2x- {
    margin: 0;
}
.peopleListItem-u6dGxF .actions-2ZgdH4 .actionButton-3-B2x-:nth-of-type(2) {
    margin-left: 5px;
}
.peopleListItem-u6dGxF .actionButton-3-B2x- {
    width: 100%;
    margin-left: 7px;
    border-radius: 8px;
    background-color: var(--color-3);
}
.peopleListItem-u6dGxF .actionButton-3-B2x-:hover {
    background-color: var(--color-1);
}
.actionButton-3-B2x-:first-child {
    margin: 0;
}



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Active Now
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Cards */
.itemCard-3Etziu {
    border: none;
    background-color: var(--color-3);
}
.itemCard-3Etziu
.section-3G9aLW {
    background-color: var(--color-4);
}
.emptyCard-KDifrB {
    background-color: var(--color-3);
}

/* Module */
.nowPlayingColumn-1eCBCN {
    min-width: 420px;
    background-color: var(--background);
}
.container-1oAagU {
    border-radius: 8px;
}
.nowPlayingColumn-1eCBCN
.scroller-hE2gWq {
    border: none;
}

/* Background */
.container-1oAagU {
    background-color: var(--color-2);
}