/**
* @name 🪐SpaceTheme🪐
* @author SpaceEnergy
* @version alpha
* @description SpaceTheme for Discord
* @invite 7Zv8Xz3Vzn
* @donate https://ko-fi.com/spaceenergy
* @authorLink https://github.com/SpaceEnergy
* @website https://spaceenergy.github.io
**/

/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?General
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Discover
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Left Sidebar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Sidebar */
.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9 {
    margin: 0 0 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Main Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Base
=-=-=-=-=-=-=-=
*/

.pageWrapper_fef757,
.pageWrapper_fef757 .scroller__1f4dd,
.scroller_e9501c:has(.guildListSection__5b7bf) {
    border-radius: 8px;
    background-color: var(--color-1);
}



/*
=-=-=-=-=-=-=-=
?Banner
=-=-=-=-=-=-=-=
*/

/* Base */
.searchHeader_d4db5a,
.headerContainer_e815c8 {
    height: 200px;
    border-radius: 8px;
    background-color: var(--color-2);
}
.searchHeader_d4db5a .headerImage__0db01,
.headerContainer_e815c8 .headerImage_d4505b {
    display: none;
}

/* Searchbar */
.search_e47903 .searchBox_a63854 {
    border-radius: 8px;
    background-color: var(--color-3);
    box-shadow: none;
}
.search_e47903 .searchBox_a63854:is(:focus, :focus-within) {
    box-shadow: 0 0 0 3px var(--accent);
}
.search_e47903 .searchBox_a63854 .searchBoxInput__73c9c {
    color: #fff;
}


/*
=-=-=-=-=-=-=-=
?Cards
=-=-=-=-=-=-=-=
*/

/* Base */
.card__86773,
.container__8877d {
    height: 400px;
    background-color: var(--color-2) !important;
}

/* Banner */
img.splashImage_d48ade.splashImageHeight_bc9aae {
    border-radius: 8px;
}
.splash_c32fae {
    width: -webkit-fill-available;
    margin: 10px;
}

/* Icon */
.iconMask__1aff7 {
    background-color: var(--color-2) !important;
}

/* Action Button */
.actionButtons__481c3 .wrapper_c727b6 {
    background-color: #2b2b2b;
    border-radius: 8px;
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Friends
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Left Sidebar
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
=-=-=-=-=-=-=-=
?Find or start a conversation Button
=-=-=-=-=-=-=-=
*/

.searchBar_e4ea2a .searchBarComponent__22760 {
    height: 100%;
    text-align: center;
    white-space: unset;
    background-color: var(--color-3);
}
.searchBar_e4ea2a {
    height: 60px;
    padding: 6px;
    border-radius: 8px;
    background-color: var(--color-2);
    box-shadow: none;
    -webkit-box-shadow: none;
}


/*
=-=-=-=-=-=-=-=
?Friends
=-=-=-=-=-=-=-=
*/


.channel_c21703 {
    max-width: unset;
}


/*
=-=-=-=-=-=-=-=
?Module
=-=-=-=-=-=-=-=
*/

.privateChannels__93473 .scroller__4b984 {
    margin: 15px 0;
    border-radius: 8px;
}


/*
=-=-=-=-=-=-=-=
?Background
=-=-=-=-=-=-=-=
*/

.scroller__4b984 {
    background-color: var(--color-2) !important;
}
.privateChannels__93473 {
    background-color: var(--background);
}



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Middel
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Module */
.peopleColumn__51df3 {
    margin: 0 15px 0 0;
    border-radius: 8px;
    background-color: var(--color-1);
}

/* Searchbar */
.peopleColumn__51df3
.searchBar_ff8800 {
    height: 40px;
    margin: 15px 15px 5px 15px;
    border-radius: 8px;
    background-color: var(--color-2);
}

/* Background */
.tabBody_b3d268 {
    background-color: var(--background);
}

/* Friends List Cards */
.peopleList__2379e {
    margin: 15px;
    padding: 0;
}
.peopleList__2379e::-webkit-scrollbar {
    display: none;
}
.peopleList__2379e>div {
    display: flex;
    flex-wrap: wrap;
}
.peopleListItem_d14722 {
    height: auto !important;
    width: 307px;
    margin: 5px !important;
    padding: 8px !important;
    cursor: default;
    border: none;
    border-radius: 8px;
    background-color: var(--color-2) !important;
}
.peopleListItem_d14722 .listItemContents__7c940,
.peopleListItem_d14722 .listItemContents__9efb3,
.peopleListItem_d14722 .listItemContents_a04d75 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 291px;
}

.peopleListItem_d14722 .userInfo__18240 {
    display: flex;
    flex: unset;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color-1);
}
.peopleListItem_d14722 .userInfo__18240:hover {
    background-color: var(--color-3);
}
.peopleListItem_d14722 .userInfo__18240 .discriminator_aef524 {
    visibility: hidden !important;
}
.peopleListItem_d14722 .userInfo__18240:hover .discriminator_aef524 {
    visibility: visible !important;
}

.peopleListItem_d14722 .username__81ee6 {
    overflow: unset;
}
.peopleListItem_d14722 .userInfo__18240:hover .username__81ee6 {
    overflow: hidden;
}

.peopleListItem_d14722 .actions_c08157,
.peopleListItem_d14722 .actions_ab1cd3,
.peopleListItem_d14722 .actionButton__23182.actionDeny_d304eb {
    width: 100%;
    margin: 8px 0 0;
}
.peopleListItem_d14722 .actions_ab1cd3 .actionButton__23182 {
    margin: 0;
}
.peopleListItem_d14722 .actions_ab1cd3 .actionButton__23182:nth-of-type(2) {
    margin-left: 5px;
}
.peopleListItem_d14722 .actionButton__23182 {
    width: 100%;
    margin-left: 7px;
    border-radius: 8px;
    background-color: var(--color-3);
}
.peopleListItem_d14722 .actionButton__23182:hover {
    background-color: var(--color-1);
}
.actionButton__23182:first-child {
    margin: 0;
}



/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Active Now
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/* Cards */
.itemCard__1f162 {
    border: none;
    background-color: var(--color-3);
}
.itemCard__1f162
.section_efc22d {
    background-color: var(--color-4);
}
.emptyCard_f82dde {
    background-color: var(--color-3);
}

/* Module */
.nowPlayingColumn_f5023f {
    min-width: 420px;
    background-color: var(--background);
}
.container__0a6a9 {
    border-radius: 8px;
}
.nowPlayingColumn_f5023f
.scroller__00e7e {
    border: none;
}

/* Background */
.container__0a6a9 {
    background-color: var(--color-2);
}