/* Icon Request */
html:has(.modeSelected__487d6 [data-list-item-id="channels___1126871300661575732"]) .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06 {
    display: flex;
    flex-direction: column;
}

html:has(.modeSelected__487d6 [data-list-item-id="channels___1126871300661575732"]) .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06::before {
    order: -2;
    display: flex;
    padding: 10px 16px 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    white-space: pre-wrap;
    content: "Request Custom Channel Icons:";
    border-radius: 8px 8px 0 0;
    color: var(--header-primary);
    background: var(--color-2);
}
html:has(.modeSelected__487d6 [data-list-item-id="channels___1126871300661575732"]) .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06::after {
    order: -1;
    display: flex;
    padding: 0 16px 8px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    content: "• Send the Name of you server \a • And send the number of channels on the server (25 channels max) \a • When I have responded with\1F7E1 you can send me your server invite via DM. \a • Please wait at least 24 hours for requests to be fulfilled. Requests will not always be taken in instantly.";
    border-radius: 0;
    color: var(--header-secondary);
    background: var(--color-2);
}

html:has(.modeSelected__487d6 [data-list-item-id="channels___1126871300661575732"], .scrollableContainer__33e06::after) .form__13a2c .inner__9fd0b {
    border-radius: 0 0 8px 8px;
}