name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install

    - name: Run script with API Token
      env:
        API_TOKEN: ${{ secrets.API_TOKEN }}
      run: node \games\index.js