html:has(.blobContainer__5ee50.selected__98d51 .selected_f5ec8e[data-list-item-id="guildsnav___1104516050537685144"]) .header__104ca {
    margin: 10px 10px 0;
    background-color: unset !important;
    box-shadow: none;
}

html:has(.blobContainer__5ee50.selected__98d51 .selected_f5ec8e[data-list-item-id="guildsnav___1104516050537685144"]) .clickable__2d589::after {
    content: "";
    position: relative;
    display: flex;
    height: 135px;
    width: calc(100% - 20px);
    margin: -48px 10px 0;
    border-radius: 8px;
    background: url("https://i.imgur.com/BlxSjd5.png") center;
    background-size: cover;
}

html:has(.blobContainer__5ee50.selected__98d51 .selected_f5ec8e[data-list-item-id="guildsnav___1104516050537685144"]) .channelNotice__8f7b2 {
    margin: 10px 8px 0;
}

html:has(.blobContainer__5ee50.selected__98d51 .selected_f5ec8e[data-list-item-id="guildsnav___1104516050537685144"]) div[style="height: 12px;"] {
    height: 5px !important;
}