html:has(.blobContainer_c44493.selected_e85eba .selected_ae80f7[data-list-item-id="guildsnav___1104516050537685144"]) .header__77c95 {
    margin: 10px 10px 0;
    background-color: unset !important;
    box-shadow: none;
}

html:has(.blobContainer_c44493.selected_e85eba .selected_ae80f7[data-list-item-id="guildsnav___1104516050537685144"]) .clickable__1383f::after {
    content: "";
    position: relative;
    display: flex;
    height: 135px;
    width: calc(100% - 20px);
    margin: -48px 10px 0;
    border-radius: 8px;
    background: url("https://i.imgur.com/BlxSjd5.png") center;
    background-size: cover;
}

html:has(.blobContainer_c44493.selected_e85eba .selected_ae80f7[data-list-item-id="guildsnav___1104516050537685144"]) .channelNotice__36ec1 {
    margin: 10px 8px 0;
}

html:has(.blobContainer_c44493.selected_e85eba .selected_ae80f7[data-list-item-id="guildsnav___1104516050537685144"]) div[style="height: 12px;"] {
    height: 5px !important;
}