html:has([data-list-item-id="channels___upcoming-events-1129516369684222093"]) .header-3OsQeK {
    margin: 10px 10px 0;
    background-color: unset !important;
    box-shadow: none;
}

html:has([data-list-item-id="channels___upcoming-events-1129516369684222093"]) .clickable-vvKY2q::after {
    content: "";
    position: relative;
    display: flex;
    height: 135px;
    width: calc(100% - 20px);
    margin: -48px 10px 0;
    border-radius: 8px;
    background: url("https://cdn.discordapp.com/attachments/1129756954819051600/1129766669284298814/Screenshot_82.png") center;
    background-size: cover;
}

html:has([data-list-item-id="channels___upcoming-events-1129516369684222093"]) .channelNotice-K4UfZY {
    margin: 10px 8px 0;
}

html:has([data-list-item-id="channels___upcoming-events-1129516369684222093"]) div[style="height: 12px;"] {
    height: 5px !important;
}